template(name='store')
    .ui.stackable.padded.grid
        .centered.row
            .ui.four.wide.column.segment
                .ui.header tag facet
                .ui.header price facet
                .ui.header author facet
            .ui.ten.wide.column.segment
                each products
                    +product

            
template(name='product')
    .ui.segment.notification_segment(class=notification_segment_class)
        .ui.feed
            .event
                .label
                    img.ui.avatar.image(src="{{c.url author.profile.image_id width=50 height=50 gravity='face' crop='fill'}}")
                .content
                    .summary
                        // a.user(href="/profile/#{subject.username}")
                        //     | #{subject_name}
                        // | #{predicate}
                        a.user(href="/profile/#{author.username}")
                            | #{author.username}.
                        .date
                            | #{when}
                    .extra.text
                        p !{content}
                    .meta
                        +mark_read_button
                        // +session_delete_button