template(name='comments')
    .ui.secondary.segment
        .ui.header
            i.chat.icon
            |Comments
        if currentUser
            .ui.fluid.icon.input
                i.plus.icon
                input.add_comment(type='text' placeholder='Add comment...')
        .ui.comments
            each doc_comments
                .comment
                    .content
                        .header #{body}
                        .meta #{when}
                        .actions
                            i.thumbs.up.link.icon
                            i.remove.link.remove_comment.icon

template(name='follow')
    .ui.segment
        .ui.header
            i.user.plus.icon
            |Follow
        +user_list_toggle key='follower_ids' icon='rss' add_label='Follow' remove_label='Unfollow' color='blue'


template(name='toggle_edit')
    .ui.circular.button.toggle_edit
        i.pencil.icon

template(name='user_list_info')
    a.ui.circular.button.item(href="/user/#{user._id}")
        img.ui.avatar.image(src=user.profile.profilePic title=name)
        |#{user.profile.name}
        +user_status user


template(name='view_full_button')
    a.ui.circular.button.ui.icon.circular.button(href="/view/#{_id}" class=classes data-tooltip='View Full')
        i.double.icon
        |View

template(name='user_status')
    if online 
        // .ui.label(class='{{labelClass}}') 
        .ui.empty.green.circular.label(title='Online')
        // img.ui.avatar.image(src="https://img.icons8.com/connection-user_status-on/color/48" title='Online' width="48" height="48")
        // |Online
    else if idle
        .ui.empty.yellow.circular.label(title='Idle')
        // .ui.label(class='{{labelClass}}') Idle
        // else 
        //     |Offline



template(name='user_info')
    a.ui.label(href="/t/goldrun/u/#{user._id}/about")
        if user.profile.image_id
            img.ui.mini.image(src="{{c.url user.profile.image_id }}")
        if user.name
            |#{user.name}
        |@#{user.username}
        +user_status user


template(name='role_editor')
    each roles
        .ui.circular.button #{this}

template(name='author_info')
    a.ui.circular.button(href="/u/#{username}") by #{author.username}

template(name='creation_info')
    .ui.header #{when}


template(name='user_list_toggle')
    if currentUser
        .ui.circular.icon.button.toggle(class=user_list_toggle_class title=label href='#')
            i.icon(class=icon)
            // +icolor name=icon
            // |#{label}
        each list_users
            +user_info


template(name='voting')
    div
    if points
        strong #{points}
    .ui.icon.circular.large.button.upvote
        i.thumbs.up.large.icon(class=upvote_class)
    each upvoter_ids
        +user_info
    .ui.icon.circular.large.button.downvote
        i.thumbs.down.large.icon(class=downvote_class)
    each downvoter_ids
        +user_info



template(name='view_button')
    a.ui.circular.icon.large.button.view(title='View' href="/t/#{ct.slug}/s/#{type}/#{_id}/view")
        // |View #{type}
        // +ioffice name='chevron-right' classes='ui inline image'
        i.right.chevron.teal.large.icon

template(name='remove_button')
    a.remove(title='Delete')
        i.large.red.remove.link.icon
        // +iblue name='delete-sign'
        // |Remove #{title}
        // |Remove #{title} #{type}
            

template(name='add_button')
    a.ui.circular.button.add(title='Add')
        // i.plus' tooltip="Add #{type}.icon
        // |#{type}
        +iblue name='plus'


template(name='toggle_friend')
    if is_friend
        .ui.grey.animated.fade.circular.button.remove_friend
            .visible.content
                |Friends
            .hidden.content
                i.minus.icon
    else
        .ui.circular.button.circular.button.add_friend
            |+ Friend
        



template(name='edit_button')
    a.ui.circular.icon.large.button.edit(title="Edit #{title}" href="/t/#{ct.slug}/s/#{type}/#{_id}/edit")
        i.pencil.large.icon
        // +ioffice name='pencil' classes='ui inline image'
        // |Edit


template(name='save_button')
    a.ui.circular.icon.button.big.save(title='Save' href="/t/#{ct.slug}/s/#{type}/#{_id}/view")
        // +iblue name='checkmark'
        i.large.green.checkmark.icon
        // |Save

template(name='toggle_button')
    .ui.icon.toggle.circular.button(title=label)
        i.icon(class=icon)
    each selected
        |#{username}


template(name='view_user_button')
    .view_user.view(title="view #{username}")
        i.play.icon
        |View

template(name='add_type_button')
    .ui.icon.circular.button.add(title="add #{type}")
        i.plus.icon
        |#{type}

