template(name='blocks')
    h1.ui.inverted.header bitcoin blockchain
    +latest_block


template(name='latest_block')
    h2.ui.inverted.header latest block
    #fetch_latest_block.ui.button fetch latest
    with latest_block
        +block_card
    
    
template(name='block_card')
    .ui.card
        .content
            .ui.list
                .item hash: #{hash}
                .item time: #{time}
                .item block index: #{block_index}
                .item height: #{height}
        .content
            a.ui.icon.button(href="/block/#{hash}")
                i.right.arrow.icon
                
                
                
template(name='block_page')
    with block
        .ui.stackable.grid
            .centered.row
                a.ui.center.aligned.button(href='/blocks')
                    i.up.arrow.icon
                    |bitcoin blocks
            .centered.row
                .ui.inverted.center.aligned.header view block ##{height}
            .row
                .three.wide.column
                .ten.wide.column
                    .ui.segment
                        .ui.list
                            .item hash: #{hash}
                            .item time: #{time}
                            .item block index: #{block_index}
                            .item height: #{height}
                            .item ver: #{ver}
                            .item mrkl_root: #{mrkl_root}
                            .item bits: #{bits}
                            .item fee: #{fee}
                            .item nonce: #{nonce}
                            .item main_chain: #{main_chain}
                            .item relayed_by: #{relayed_by}
                        #refresh_block.ui.button refresh data
                    .ui.center.aligned.inverted.header transactions    
            .three.wide.column
                            
                
                