template(name='view_button')
    a.ui.icon.button.view(title='view' href="/view/#{_id}")
        i.play.icon
        
template(name='remove_button')
    a.ui.icon.button.remove(title='remove')
        i.remove.icon
        
template(name='add_button')
    a.ui.icon.button.add(title='add')
        i.plus.icon
        |#{type}
        

        
template(name='edit_button')
    a.ui.icon.button.edit(title='edit' href="/edit/#{_id}")
        i.pencil.icon

template(name='save_button')
    a.ui.icon.fluid.button.save(title='save' href="/view/#{_id}")
        i.checkmark.icon
        
        
        
template(name='toggle_button')
    .ui.icon.toggle.button(title=label)
        i.icon(class=icon)
    each selected
        |#{username}
        
        

