template(name='view_button')
    i.large.play.link.spaced.view.icon(title='view')


template(name='view_user_button')
    .ui.icon.view_user.button.view(title="view #{username}")
        i.play.icon
        
template(name='remove_button')
    i.remove.link.spaced.icon(title='delete')
        
template(name='add_type_button')
    .ui.icon.button.add(title="add #{type}")
        i.plus.icon
        

template(name='bookmark_button')
    i.large.bookmark.link.icon(class=bookmark_class)
    each bookmarkers
        |#{username}
        

template(name='clone_button')
    .ui.icon.button(title='clone')
        i.fork.icon


template(name='detect_fields_button')
    .ui.button.detect_fields(title='detect fields')
        i.dna.icon
        |detect fields 
        
        
template(name='voting')
    if points
        strong #{points}
    i.thumbs.up.link.spaced.large.icon.upvote(class=upvote_class)
    each upvoter_ids
        +user_info
    i.thumbs.down.downvote.link.large.spaced.icon(class=downvote_class)
    each downvoter_ids
        +user_info
        
template(name='edit_button')
    i.large.link.edit.pencil.icon(title='title')


template(name='save_button')
    a.ui.icon.button.save(title='save' href="/view/#{_id}")
        i.checkmark.icon
        
        
        
        