head
    title dao
    meta(name='viewport', content='user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width')
    meta(name="theme-color", content="#000")
    link(href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")


body
    +delta


template(name='delta')
    .ui.basic.center.aligned.segment
        each sessions
            .ui.icon.circular.button.select_session.pointer(class=session_selector_class)
                if dev
                    i.remove.delete_delta.icon
                i.caret.up.icon
        .new_session.ui.icon.circular.button.pointer
            i.plus.icon
        div
            each delta.fin
                .unselect.ui.grey.circular.button #{this}
            .ui.transparent.icon.input
                i.search.icon
                input.add_filter(type='text')
        div
            each filtering_res
                .select.ui.circular.button
                    strong #{name}
                    // small #{count}
        each delta.result_id
            +view
    if dev
        .ui.center.aligned.basic.segment
            input.new_ytid(type='text' placeholder='new yt id')
            input.new_body(type='text' placeholder='new body id')
            input.new_tags(type='text' placeholder='new tags')
            button.insert insert
    else
        .ui.basic.center.aligned.segment
            form(action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_top')
                input(type='hidden', name='cmd', value='_s-xclick')
                input(type='hidden', name='hosted_button_id', value='AUVHGYNUW5LVE')
                // input(type='image', src='https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif', border='0', name='submit')
                img(alt='', border='0', src='https://www.paypal.com/en_US/i/scr/pixel.gif', width='1', height='1')
                button.ui.icon.button(type='submit')
                    i.coffee.icon

    
template(name='view')
    with result 
        .ui.basic.segment
            if body
                .f8 #{nl2br body}
            if youtube_id
                .ui.embed.youtube(data-source="youtube" data-id=youtube_id)
        if dev
            div
            input.youtube_id(type='text' value=youtube_id placeholder='yt')
            div
            textarea.edit_body(rows='5') #{body}
            div
            each tags
                button.remove_tag 
                    |#{this}
            input.new_tag(type='text' placeholder='add tag')

        