head
    title dao
    meta(name='viewport', content='user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width')
    meta(name="theme-color", content="#000")
    link(href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")


body
    +delta


template(name='delta')
    .ui.padded.grid
        .row
            .sixteen.wide.center.aligned.column
                each sessions
                    .ui.icon.button.select_session.pointer(class=session_selector_class)
                        if dev
                            i.remove.delete_delta.icon(title='delete session')
                        i.caret.up.icon
                .new_session.ui.icon.button.pointer(title='new session')
                    i.plus.icon
        .row
            .sixteen.wide.center.aligned.column
                each delta.facets
                    +facet
                    div
                each delta.result_ids
                    +view
        .row
            if dev
                .ui.button.add add
                if adding
                    +edit
            else
                .sixteen.wide.center.aligned.column
                    form(action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_top')
                        input(type='hidden', name='cmd', value='_s-xclick')
                        input(type='hidden', name='hosted_button_id', value='AUVHGYNUW5LVE')
                        // input(type='image', src='https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif', border='0', name='submit')
                        img(alt='', border='0', src='https://www.paypal.com/en_US/i/scr/pixel.gif', width='1', height='1')
                        button.ui.icon.button(type='submit')
                            i.coffee.icon

    
template(name='facet')
    each filtering_res
        .selector.ui.circular.button.toggle_selection(class=toggle_value_class)
            strong #{name}
            // small #{count}
    div
    if filtering_res
        // .ui.small.inline.header #{key}
        .ui.transparent.input
            input.add_filter(type='text')


template(name='view')
    with result 
        .ui.basic.segment
            if body
                .f8 #{nl2br body}
            if youtube_id
                .ui.embed.youtube(data-source="youtube" data-id=youtube_id)
        if dev
            div
                .ui.form
                    .field
                        .ui.header #{type}
                    .ui.labeled.input
                        .ui.label youtube id
                        input.youtube_id(type='text' value=brick_meta.youtube_id)
                    if youtube_id
                        .ui.embed.youtube(data-source="youtube" data-id=youtube_id)
                    .field
                        textarea.edit_body(rows='2') #{body}
                    .field
                        each tags
                            .ui.button.remove_tag 
                                |#{this}
                        .ui.icon.input
                            input.new_tag(type='text' placeholder='add tag')
                    .ui.button.print log

        