head
    title dao
    meta(name='viewport', content='user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width')
    meta(name="theme-color", content="#000")
    link(href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")


body
    +layout


template(name='nav')
    .ui.attached.inverted.menu
        .header.item DAO
        .right.menu
            .icon.item.enter.pointer
                i.right.chevron.icon



template(name='layout')
    +nav
    +Template.dynamic template=main_template
    
    
template(name='delta')    
    .ui.stackable.grid
        .row   
            .sixteen.wide.center.aligned.column
                each filtering_res
                    .selector.ui.large.circular.button.toggle_filter(class=toggle_value_class)
                        strong #{name}
                        // small #{count}
        .row   
            .sixteen.wide.column
                .row
                    each delta.result_id
                        +result
        .centered.row   
            form(action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_top')
                input(type='hidden', name='cmd', value='_s-xclick')
                input(type='hidden', name='hosted_button_id', value='AUVHGYNUW5LVE')
                // input(type='image', src='https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif', border='0', name='submit')
                img(alt='', border='0', src='https://www.paypal.com/en_US/i/scr/pixel.gif', width='1', height='1')
                button.ui.icon.circular.button(type='submit')
                    i.pied.piper.alternate.large.icon
        unless delta.fi.length
            .centered.row
                .ten.wide.center.aligned.column
                    .ui.fluid.left.icon.input
                        i.plus.icon
                        input#quick_add(type='text' autocomplete="off")
                
                    
template(name='result')
    with result 
        .ui.stackable.grid
            .centered.row
                .twelve.wide.center.aligned.column
                    | #{nl2br body}
                    // .ui.form
                    //     .field
                    //         textarea(rows='3') #{body}
            .centered.row
                .eight.wide.center.aligned.column
                    // each tags
                    //     .ui.label
                    //         // i.remove.link.icon.remove_tag
                    //         |#{this}
                    // .ui.icon.small.compact.circular.button.remove_doc
                    //     i.remove.icon
                    .ui.left.icon.fluid.input
                        i.tag.icon
                        input.new_tag(type='text')