head
    title dao
    meta(name='viewport', content='user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width')
    meta(name="theme-color", content="#000")
    link(href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet")



template(name='layout')
    .ui.inverted.attached.large.menu
        a.item(href='/delta')
            i.home.icon
            // |DAO
        a.item.add(href='#')
            i.plus.icon
        a.item(href='/chat')
            i.chat.icon
        a.item(href='/users')
            i.users.icon
        .item
            a(href='/karma')
                span(title='karma') #{currentUser.karma}
                i.user.shield.icon
                span(title='points') #{currentUser.points}
        .right.menu
            if currentUser
                a.item(href='/mail')
                    i.mail.icon
                a.item(href='/alerts')
                    i.bell.icon
                a.item(href='/settings')
                    i.cog.icon
                a.item(href='/u/#{currentUser.username}')
                    
                        i.user.icon
                        | #{currentUser.username}
                .item.logout
                    i.sign.out.alternate.icon
            else
                .column
                    a.icon.item(href="/enter")
                        i.sign.in.alternate.icon
    .ui.padded.grid
        .row
            .sixteen.wide.column
                +yield
    .ui.bottom.fixed.inverted.large.menu
        .item
            i.creative.commons.outline.icon
            | dao
        if is_dev
            .item.refresh_stat
                i.link.refresh.icon
        with site_stat
            .item
                |#{doc_count} docs
                |#{user_count} users
        .item
            .ui.inverted.transparent.large.input
                input#quick_add(type='text' placeholder='quick add')
        .right.menu
            form(action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_top')
                input(type='hidden', name='cmd', value='_s-xclick')
                input(type='hidden', name='hosted_button_id', value='AUVHGYNUW5LVE')
                // input(type='image', src='https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif', border='0', name='submit')
                img(alt='', border='0', src='https://www.paypal.com/en_US/i/scr/pixel.gif', width='1', height='1')
                button.ui.button(type='submit')
                    | donate 