head
    title dao
    meta(name='viewport', content='user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width')
    meta(name="theme-color", content="#000")
    link(href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")


body
    +layout


template(name='sessions')
    each sessions
        .ui.labeled.icon.compact.button.select_session.pointer(class=session_selector_class)
            // i.remove.delete_delta.icon(title='delete session')
            strong(title='select session') #{title}
    .new_session.ui.icon.button.pointer(title='new session')
        i.plus.icon





template(name='layout')
    // +nav
    // #main
    +delta
    form(action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_top')
        input(type='hidden', name='cmd', value='_s-xclick')
        input(type='hidden', name='hosted_button_id', value='AUVHGYNUW5LVE')
        // input(type='image', src='https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif', border='0', name='submit')
        img(alt='', border='0', src='https://www.paypal.com/en_US/i/scr/pixel.gif', width='1', height='1')
        button.ui.basic.icon.black.button(type='submit' title='donate')
            i.coffee.icon
    if currentUser
        +me
    else
        +enter
    
template(name='delta')    
    +sessions
    .ui.stackable.grid
        .row   
            .sixteen.wide.column
                each delta.facets
                    +facet
                    div
                each delta.result_ids
                    +view
                    

template(name='facet')
    if filtering_res
        .ui.small.inline.header #{key}
        .ui.small.transparent.icon.input
            i.search.icon
            input.add_filter(type='text' placeholder='search')
    each filtering_res
        if name
            .selector.ui.button.toggle_selection(class=toggle_value_class title=count)
                strong #{name}
                // small #{count}
        else
            .selector.ui.button.toggle_selection(class=toggle_value_class title=count)
                strong [null]
                small #{count}


                        
                        
template(name='ad')
    |show the shadow
