head
    title dao
    meta(name='viewport', content='user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width')
    meta(name="theme-color", content="#000")
    link(href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")


body
    +layout


template(name='nav')
    .ui.attached.big.menu
        .header.item.delta.pointer(title='home')
            i.hashtag.icon
        .icon.item.pointer.users(title='users')
            i.users.icon
        .icon.item.pointer.leaderboard(title='leaderboard')
            i.trophy.icon
        .right.menu
            if currentUser
                .item.pointer.add
                    i.plus.icon
                .item.pointer.bookmarks
                    i.bookmark.icon
                    if bookmarks
                        |#{bookmarks.count}
                .item.pointer.mail
                    i.mail.icon
                    if messages
                        |#{messages.count}
                .item.pointer.alerts
                    i.bell.icon
                    if alerts
                        |#{alerts.count}
                .item.pointer.me(title='points')
                    |#{currentUser.points} pts
                .item.pointer.me(title='karma')
                    i.user.shield.icon
                    |#{currentUser.karma} 
                .item.pointer.me
                    |#{currentUser.username}
                    [#{currentUser.status}]
                .icon.item.leave.pointer(title='leave')
                    i.power.off.icon
            else
                .icon.item.enter.pointer(title='enter')
                    i.right.chevron.icon

template(name='sessions')
    each sessions
        .ui.labeled.icon.compact.button.select_session.pointer(class=session_selector_class)
            i.remove.delete_delta.icon(title='delete session')
            strong(title='select session') #{title}
    .new_session.ui.icon.button.pointer(title='new session')
        i.plus.icon


template(name='footer')
    .ui.borderless.bottom.fixed.menu
        .icon.item
            i.bullhorn.grey.icon
        .item
            +ad
        if currentUser
            .ui.left.icon.transparent.input
                i.lightning.icon
                input#quick_add(type='text' autocomplete="off" placeholder='quick add')
        .right.menu
            form(action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_top')
                input(type='hidden', name='cmd', value='_s-xclick')
                input(type='hidden', name='hosted_button_id', value='AUVHGYNUW5LVE')
                // input(type='image', src='https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif', border='0', name='submit')
                img(alt='', border='0', src='https://www.paypal.com/en_US/i/scr/pixel.gif', width='1', height='1')
                button.ui.basic.icon.black.button(type='submit' title='donate')
                    i.coffee.icon



template(name='layout')
    // +nav
    // #main
    +delta
    if currentUser
        +me
    else
        +enter
    
template(name='delta')    
    +sessions
    .ui.stackable.grid
        .row   
            .sixteen.wide.column
                each delta.facets
                    +facet
                    div
                each delta.result_ids
                    +view
                    

template(name='facet')
    if filtering_res
        .ui.small.inline.header #{key}
        .ui.small.transparent.icon.input
            i.search.icon
            input.add_filter(type='text' placeholder='search')
    each filtering_res
        if name
            .selector.ui.button.toggle_selection(class=toggle_value_class title=count)
                strong #{name}
                // small #{count}
        else
            .selector.ui.button.toggle_selection(class=toggle_value_class title=count)
                strong [null]
                small #{count}


                        
                        
template(name='ad')
    |show the shadow
