head
    title DAO
    meta(name='viewport', content='user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width')
    meta(name="theme-color", content="black")
    meta(name="mobile-web-app-capable" content="yes")
    link(href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet")
    // script(src="https://js.stripe.com/v3/")


    meta(name="msapplication-navbutton-color" content="black")
    meta(name="apple-mobile-web-app-status-bar-style" content="black")

// template(name='layout')
//     .layout.context(class=invert_class)
//         +topnav
//         .ui.bottom.attached.basic.segment.pushable
//             +topbar
//             +leftbar
//             +rightbar
//             .pusher
//                 #main
//                     +yield
//             +footer



template(name='not_found')
    // +topnav
    .ui.center.aligned.basic.segment
        .ui.header Not Found
        a.ui.icon.button(href='/s/schema')
            i.home.icon
        
        
template(name='layout')
    .layout.context
        +topnav
        .ui.bottom.attached.basic.segment.pushable
            +topbar
            +leftbar
            +rightbar
            .pusher
                #main
                    +yield
        +footer






//- template(name='home')
//-     // +health_club_dashboard
//-     +Template.dynamic template=ct.homepage
//-     // .ui.padded.stackable.grid(style=tribe_home_bg)
//-     //     .centered.row
//-     //         .two.wide.column
//-     //             a.ui.icon.button(href="/t/#{ct.slug}/s/tribe/#{ct._id}/edit")
//-     //                 i.cog.icon
//-     //         .ten.wide.column
//-     //             img.ui.large.inline.image(src="{{c.url ct.logo_id height=400 crop='limit'}}")
//-     //             .ui.center.aligned.large.header #{ct.title}
//-     //             .ui.center.aligned.small.header #{ct.subtitle}
//-     //     .centered.row
//-     //         .eight.wide.column
//-     //             .ui.header
//-     //                 i.users.icon 
//-     //                 |Users
//-     //         .eight.wide.column
//-     //             .ui.header
//-     //                 i.clone.icon 
//-     //                 |Pages
//- 
//- 
