head
    title dao
    meta(name='viewport', content='user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width')
    meta(name="theme-color", content="#000")
    link(href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")


body
    +layout


template(name='nav')
    .ui.top.fixed.inverted.large.menu
        .header.item.delta
            .black_bat.large-text.pointer DAO
        .right.menu
            if currentUser
                .item.pointer.me
                    |#{currentUser.username}
                .icon.item.leave.pointer
                    i.right.chevron.large.icon
            else
                .icon.item.enter.pointer
                    i.right.chevron.large.icon

template(name='footer')
    .ui.bottom.fixed.inverted.large.menu
        .icon.item
            i.large.dashboard.icon
        .icon.item
            i.large.chat.icon
        .icon.item
            i.large.tasks.icon
        .icon.item
            i.large.mail.icon
        .icon.item
            i.large.trophy.icon
        .icon.item
            i.large.users.icon
        .icon.item
            i.large.cog.icon
        .icon.item
            i.large.user.icon
        if currentUser
            .ui.left.icon.inverted.transparent.input
                i.plus.icon
                input#quick_add(type='text' autocomplete="off" placeholder='quick add')
        .right.menu
            form(action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_top')
                input(type='hidden', name='cmd', value='_s-xclick')
                input(type='hidden', name='hosted_button_id', value='AUVHGYNUW5LVE')
                // input(type='image', src='https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif', border='0', name='submit')
                img(alt='', border='0', src='https://www.paypal.com/en_US/i/scr/pixel.gif', width='1', height='1')
                button.ui.icon.black.button(type='submit')
                    i.large.dollar.sign.icon



template(name='layout')
    +nav
    #main
        +Template.dynamic template=main_template
    +footer
    
template(name='delta')    
    .ui.stackable.grid
        .row   
            .six.wide.column
                each filtering_res
                    .selector.ui.button.toggle_filter(class=toggle_value_class)
                        strong #{name}
                        // small #{count}
            .ten.wide.column
                each delta.result_ids
                    +result
                
                    
template(name='result')
    with result 
        .ui.segment
            .content
                .f8 #{nl2br body}
                // .ui.form
                //     .field
                //         textarea(rows='3') #{body}
            .content
                each tags
                    .ui.label
                        // i.remove.link.icon.remove_tag
                        |#{this}
                if can_edit
                    .ui.icon.small.compact.button.remove_doc
                        i.remove.icon
                    .ui.left.icon.input
                        i.tag.icon
                        input.new_tag(type='text')