head
    title DAO
    meta(name='viewport', content='user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width')
    meta(name="theme-color", content="#ffffff")
    link(rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu")

body
    +home

template(name='nav')
    .ui.top.fixed.inverted.menu
        a.item(href="/")
            .bat DAO
        // .ui.transparent.inverted.input.item
        //     input#in(type='text' placeholder='search')
        // a.icon.item.delete_session(title='clear session')
        //     i.remove.icon
        // a.icon.item.show_session
        //     i.code.icon
        // a.icon.item.reload
        //     i.refresh.icon
        if delta
            .item.delete_delta
                i.remove.link.icon
            .item.print_delta
                i.code.link.icon
            .item.recalc
                i.refresh.link.icon
        else
            .item.create_delta
                i.plus.link.icon
        if currentUser
            a.icon.item.add_doc
                i.plus.icon
            a.icon.item
                i.bell.icon
            a.icon.item
                i.envelope.icon
            a.item
                i.user.icon
                | #{currentUser.username}
        else
            a.icon.item
                i.sign.in.alternate.icon
        .item
            +loginButtons


template(name='home')
    +nav
    #main.ui.stackable.padded.grid
        .two.column.row
            .column
                each delta.facets
                    div
                    +facet
            .column
                each delta.results
                    +result
    +footer


template(name='result')
    .ui.segment
        .ui.list
            each keys
                .item 
                    |#{this}
                    strong #{value}


template(name='facet')
    h2.ui.inline.header #{key}
    // each filters
    //     .unselect.ui.blue.button #{this}
    
    each res
        .ui.toggle_selection.margined.button(class=toggle_value_class)
            strong #{name}
            small #{count}
            
            
            
template(name='footer')
    .ui.bottom.fixed.inverted.menu
        .ui.center.aligned.inverted.grey.small.header
            .item
                i.copyright.outline.icon
                | 2018 Data Analytics Organization



template(name='role_switcher')
    each role_docs
        .change_role.ui.button(class=role_button_class)
            if icon
                i.icon
                    +icon name=icon
            |#{title}
            