head
    title dao
    meta(name='viewport', content='user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width')
    meta(name="theme-color", content="#000")
    link(href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet")


body
    +layout


template(name='layout')
    .ui.padded.stackable.grid
        .row
            .sixteen.wide.center.aligned.column
                .new_session.ui.icon.compact.button.pointer(title='new session')
                    i.plus.icon
                each sessions
                    .ui.compact.button.select_session.pointer(class=session_selector_class)
                        i.remove.link.delete_delta.icon
                        |#{title}
        .row   
            .eight.wide.right.aligned.column
                each current_delta.fi
                    .ui.grey.button.pull_filter #{this}
                div
                each current_delta.fo
                    if name
                        .selector.ui.button.add_filter(class=toggle_value_class)
                            strong #{name}
                            // small #{count}
                    else
                        .selector.ui.button.add_filter(class=toggle_value_class)
                            strong [null]
                            // small #{count}                
            .eight.wide.column
                .row
                    each current_delta.result_id
                        +result
        .row
            .sixteen.wide.center.aligned.column
                .ui.inverted.input
                    input#quick_add(type='text')
        .centered.row   
            form(action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_top')
                input(type='hidden', name='cmd', value='_s-xclick')
                input(type='hidden', name='hosted_button_id', value='AUVHGYNUW5LVE')
                // input(type='image', src='https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif', border='0', name='submit')
                img(alt='', border='0', src='https://www.paypal.com/en_US/i/scr/pixel.gif', width='1', height='1')
                button.ui.white.icon.basic.button(type='submit' title='donate')
                    i.checkmark.icon
                
                    
template(name='result')
    with result 
        if title
            .ui.header #{title}
        if html
            |!{nl2br html}
        each tags
            .ui.big.label #{this}
        if body
            .large130 
                |#{nl2br body}
            .ui.icon.transparent.input
                i.plus.icon
                input.new_tag(type='text' placeholder='add tag')
            