head
    title dao
    meta(name='viewport', content='user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width')
    meta(name="theme-color", content="#000")
    link(href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")


body
    +delta


template(name='delta')
    .ui.padded.grid
        .row
            .sixteen.wide.center.aligned.column
                each sessions
                    .ui.icon.button.select_session.pointer(class=session_selector_class)
                        // i.remove.delete_delta.icon(title='delete session')
                        i.caret.up.icon
                .new_session.ui.icon.button.pointer(title='new session')
                    i.plus.icon
        .row
            .sixteen.wide.center.aligned.column
                each delta.facets
                    +facet
                    div
                each delta.result_ids
                    +view
        .row
            .sixteen.wide.center.aligned.column
                form(action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_top')
                    input(type='hidden', name='cmd', value='_s-xclick')
                    input(type='hidden', name='hosted_button_id', value='AUVHGYNUW5LVE')
                    // input(type='image', src='https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif', border='0', name='submit')
                    img(alt='', border='0', src='https://www.paypal.com/en_US/i/scr/pixel.gif', width='1', height='1')
                    button.ui.icon.button(type='submit')
                        i.coffee.icon
        .row
            if currentUser
                +me
            else
                +enter

    
template(name='facet')
    if filtering_res
        // .ui.small.inline.header #{key}
        .ui.transparent.input
            input.add_filter(type='text')
    div
    each filtering_res
        .selector.ui.circular.button.toggle_selection(class=toggle_value_class)
            strong #{name}
            // small #{count}


             
template(name='edit')
    with doc
        .ui.stackable.grid
            .ten.wide.column
                .ui.form
                    .field
                        .ui.header #{type}
                    +youtube_edit
                    .field
                        label body
                        textarea.edit_body(rows='20') #{body}
            .six.wide.column
                .ui.header edit #{type} #{title}
                .ui.form
                    .field
                        label tags
                        each tags
                            .ui.large.label 
                                i.remove.link.icon.remove_tag
                                |#{this}
                        .ui.icon.input
                            input.new_tag(type='text' placeholder='add tag')
                            i.plus.icon
                .ui.button.print log
                +save_button
                    
                    
template(name='view')
    .ui.basic.segment
        with result 
            if body
                .f8 #{nl2br body}
            if youtube_id
                +youtube_view

        
template(name='enter')
    .eight.wide.column
        .ui.fluid.input(class=login_class)
            input.username(type='text' placeholder='username')
        .ui.fluid.input(class=login_class)
            input.password(type='password' placeholder='password')
        if username
            if registering
                .ui.fluid.large.button.enter(title="register #{username}" class=enter_class)
                    i.user.plus.icon
                    |#{username}
            else
                .ui.fluid.large.button.enter(title="login #{username}" class=enter_class)
                    i.play.icon
                    | #{username}

template(name='youtube_edit')
    .ui.labeled.fluid.input
        .ui.label youtube id
        input.youtube_id(type='text' value=brick_meta.youtube_id)
    // iframe.youtube(width='560' height='315' src="https://www.youtube.com/embed/#{youtube_id}" frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
    .ui.embed.youtube(data-source="youtube" data-id=youtube_id)

template(name='youtube_view')
    // iframe.youtube(width='560' height='315' src="https://www.youtube.com/embed/#{youtube_id}" frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
    .ui.embed.youtube(data-source="youtube" data-id=youtube_id)
