head
    title DAO
    meta(name='viewport', content='user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width')
    meta(name="theme-color", content="#ffffff")
    link(rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu")
    link(rel="stylesheet" type="text/css" href="css/topcoat-mobile-dark.min.css")


body
    +home

template(name='nav')


template(name='home')
    .ui.stackable.padded.grid
        .centered.row
            .sixteen.wide.center.aligned.column
                .topcoat-button
                    // .bat DAO
                    i.diamond.large.icon
                // .ui.transparent.inverted.input.item
                //     input#in(type='text' placeholder='search')
                a.topcoat-button.delete_session(title='clear session')
                    i.remove.large.icon
                a.topcoat-button.show_session
                    i.code.large.icon
                if delta
                    .topcoat-button.delete_delta
                        i.remove.link.large.icon
                    .topcoat-button.print_delta
                        i.code.link.large.icon
                    .topcoat-button.recalc
                        i.refresh.link.large.icon
                else
                    .topcoat-button.create_delta
                        i.plus.link.large.icon
                .topcoat-button
                    +loginButtons
                if currentUser
                    a.topcoat-button.add_doc
                        i.plus.large.icon
                    a.topcoat-button
                        i.bell.large.icon
                    a.topcoat-button
                        i.envelope.large.icon
                    a.topcoat-button
                        i.user.large.icon
                        | #{currentUser.username}
                else
                    a.large.icon.item
                        i.sign.in.alternate.icon
        .row
            .four.wide.column
                each delta.facets
                    div
                    +facet
            .eight.wide.column
                each delta.results
                    +result
            .four.wide.column
                +detail_pane
    // +footer


template(name='result')
    .ui.inverted.secondary.segment
        .ui.list
            each keys
                .item 
                    |#{this}
                    strong #{value}


template(name='facet')
    // .ui.inverted.secondary.segment
    .ui.inverted.inline.header #{key}
    // each filters
    //     .unselect.ui.blue.button #{this}
    
    each res
        .toggle_selection.margined(class=toggle_value_class)
            strong #{name}
            // small #{count}
            
            
            
template(name='footer')
    .ui.bottom.fixed.inverted.menu
        .ui.center.aligned.inverted.grey.small.header
            .item
                i.copyright.outline.icon
                | 2018 Data Analytics Organization



template(name='role_switcher')
    each role_docs
        .change_role.topcoat-button(class=role_button_class)
            if icon
                i.icon
                    +icon name=icon
            |#{title}
            