head
    title DAO
    meta(name='viewport', content='user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width')
    meta(name="theme-color", content="#ffffff")
    link(rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous")



body
    +home

template(name='home')
    .ui.stackable.padded.grid
        .centered.row
            .sixteen.wide.center.aligned.column
                // .ui.transparent.inverted.input.item
                //     input#in(type='text' placeholder='search')
                unless delta
                    .tc-button.create_delta
                        i.sitemap.link.icon
                        | Session
                .tc-button
                    +loginButtons
                .tc-icon-button--large
                    i.fas.fa-yin-yang.fa-2x.middle_align
                if currentUser
                    a.tc-button.add_doc
                        i.plus.icon
                    a.tc-button
                        i.bell.icon
                    // a.tc-button
                    //     i.envelope.icon
                    a.tc-button
                        i.user.icon
                        | #{currentUser.username}
                else
                    a.large.icon.item
                        i.sign.in.alternate.icon
        .row
            .eight.wide.right.aligned.column
                if delta
                    a.tc-button.show_session
                        i.code.icon
                    .tc-button.delete_delta
                        i.remove.link.icon
                    .tc-button.print_delta
                        i.code.link.icon
                    .tc-button.recalc
                        i.refresh.link.icon
                each delta.facets
                    +facet
                    div
            .eight.wide.column
                if delta.editing
                    +edit
                else
                    each delta.results
                        +result
    // +footer


template(name='edit')
    .ui.inverted.header edit
    .tc-button.save
        i.green.checkmark.icon
    

template(name='result')
    .tc-list
        if title
            h3.tc-list__header #{title}
        ul.tc-list__container
            each keys
                li.tc-list__item
                    strong #{this}
                    // div primative :#{key_type}
                    // div display html: #{display_type}
                    if is_html
                        |!{value}
                    else if is_timestamp
                        strong time
                        |{{ from_now value }}
                    else if is_array
                        each value
                            .ui.grey.label #{this}
                    else
                        |#{value} 

                
                
    div
        .tc-button
            i.thumbs.up.icon
        .tc-button
            i.thumbs.down.icon
        .tc-button
            i.chat.icon
        .tc-button
            i.thumbs.up.icon
        .tc-button
            i.thumbs.up.icon
        .tc-button
            i.thumbs.up.icon
        .tc-button
            i.thumbs.up.icon


template(name='facet')
    // .ui.inverted.secondary.segment
    .ui.inverted.small.header #{key}
    // each filters
    //     .unselect.ui.blue.button #{this}
    
    each res
        .toggle_selection.margined(class=toggle_value_class)
            strong #{name}
            // small #{count}
            
            
            
template(name='footer')
    .ui.bottom.fixed.inverted.menu
        .ui.center.aligned.inverted.grey.small.header
            .item
                i.copyright.outline.icon
                | 2018 Data Analytics Organization



template(name='role_switcher')
    each role_docs
        .change_role.tc-button(class=role_button_class)
            if icon
                i.icon
                    +icon name=icon
            |#{title}
            