head
    title dao
    meta(name='viewport', content='user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width')
    meta(name="theme-color", content="black")
    meta(name="mobile-web-app-capable" content="yes")
    link(href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet")


    meta(name="msapplication-navbutton-color" content="black")
    meta(name="apple-mobile-web-app-status-bar-style" content="black")


template(name='not_found')
    // +topnav
    .ui.center.aligned.basic.segment
        .ui.header not found
        a.ui.icon.button(href='/')
            i.home.icon
        
        
template(name='layout')
    //- .layout.context
    +topnav
    .ui.bottom.attached.basic.segment.pushable
        //- +topbar
        +leftbar
        +rightbar
        .pusher
            #main
                +yield
    +footer

template(name='nonav')
    .healthclub
        +yield



    //- .ui.basic.center.aligned.segment
    //-     form(action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_top')
    //-         input(type='hidden', name='cmd', value='_s-xclick')
    //-         input(type='hidden', name='hosted_button_id', value='AUVHGYNUW5LVE')
    //-         // input(type='image', src='https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif', border='0', name='submit')
    //-         img(alt='', border='0', src='https://www.paypal.com/en_US/i/scr/pixel.gif', width='1', height='1')
    //-         button.ui.circular.inverted.basic.icon.button(type='submit')
    //-             i.pied.piper.alternate.big.icon
    



//- template(name='home')
//-     // +health_club_dashboard
//-     +Template.dynamic template=ct.homepage
//-     // .ui.padded.stackable.grid(style=tribe_home_bg)
//-     //     .centered.row
//-     //         .two.wide.column
//-     //             a.ui.icon.button(href="/t/#{ct.slug}/s/tribe/#{ct._id}/edit")
//-     //                 i.cog.icon
//-     //         .ten.wide.column
//-     //             img.ui.large.inline.image(src="{{c.url ct.logo_id height=400 crop='limit'}}")
//-     //             .ui.center.aligned.large.header #{ct.title}
//-     //             .ui.center.aligned.small.header #{ct.subtitle}
//-     //     .centered.row
//-     //         .eight.wide.column
//-     //             .ui.header
//-     //                 i.users.icon 
//-     //                 |Users
//-     //         .eight.wide.column
//-     //             .ui.header
//-     //                 i.clone.icon 
//-     //                 |Pages
//- 
//- 
