head
    title dao
    meta(name='viewport', content='user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width')
    meta(name="theme-color", content="#000")
    link(href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet")


body
    +layout


template(name='layout')
    .ui.padded.stackable.grid
        .row   
            .sixteen.wide.center.aligned.column
                each filtering_res
                    .selector.ui.button.toggle_filter(class=toggle_value_class)
                        strong #{name}
                        // small #{count}
        .row   
            .sixteen.wide.column
                .row
                    each delta.result_id
                        +result
        .centered.row
            .ten.wide.center.aligned.column
                .ui.inverted.fluid.icon.input
                    i.plus.icon
                    input#quick_add(type='text')
        .centered.row   
            form(action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_top')
                input(type='hidden', name='cmd', value='_s-xclick')
                input(type='hidden', name='hosted_button_id', value='AUVHGYNUW5LVE')
                // input(type='image', src='https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif', border='0', name='submit')
                img(alt='', border='0', src='https://www.paypal.com/en_US/i/scr/pixel.gif', width='1', height='1')
                button.ui.white.icon.basic.button(type='submit' title='donate')
                    i.checkmark.icon
                
                    
template(name='result')
    with result 
        .ui.grid
            .eight.wide.right.aligned.column
                |#{nl2br body}
                .ui.button.remove_doc x
                // .ui.form
                //     .field
                //         textarea(rows='3') #{body}
            .eight.wide.column
                each tags
                    .ui.large.label.remove_tag
                        // i.remove.link.icon.remove_tag
                        |#{this}
                // each keys
                //     .ui.white.label
                //         |#{this}
                .ui.icon.fluid.input
                    i.tag.icon
                    input.new_tag(type='text')
            