head
    title DAO
    meta(name='viewport', content='user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width')
    meta(name="theme-color", content="#ffffff")
    link(rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu")
    link(rel="stylesheet" type="text/css" href="css/topcoat-mobile-dark.min.css")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous")



body
    +home

template(name='nav')


template(name='home')
    .ui.stackable.padded.grid
        .centered.row
            .sixteen.wide.center.aligned.column
                // .ui.transparent.inverted.input.item
                //     input#in(type='text' placeholder='search')
                a.topcoat-button.delete_session(title='clear session')
                    i.remove.icon
                    | Session
                unless delta
                    .topcoat-button.create_delta
                        i.sitemap.link.icon
                        | Session
                .topcoat-button
                    +loginButtons
                .topcoat-icon-button--large
                    i.fas.fa-yin-yang.fa-2x.middle_align
                if currentUser
                    a.topcoat-button.add_doc
                        i.plus.icon
                    a.topcoat-button
                        i.bell.icon
                    // a.topcoat-button
                    //     i.envelope.icon
                    a.topcoat-button
                        i.user.icon
                        | #{currentUser.username}
                else
                    a.large.icon.item
                        i.sign.in.alternate.icon
        .row
            .eight.wide.right.aligned.column
                if delta
                    a.topcoat-button.show_session
                        i.code.icon
                    .topcoat-button.delete_delta
                        i.remove.link.icon
                    .topcoat-button.print_delta
                        i.code.link.icon
                    .topcoat-button.recalc
                        i.refresh.link.icon
                each delta.facets
                    div
                    +facet
            .eight.wide.column
                each delta.results
                    +result
    // +footer


template(name='result')
    .topcoat-list
        if title
            h3.topcoat-list__header #{title}
        ul.topcoat-list__container
            each keys
                li.topcoat-list__item
                    |#{this}
                    strong #{value}
    div
        .topcoat-button
            i.thumbs.up.icon
        .topcoat-button
            i.thumbs.down.icon
        .topcoat-button
            i.chat.icon
        .topcoat-button
            i.thumbs.up.icon
        .topcoat-button
            i.thumbs.up.icon
        .topcoat-button
            i.thumbs.up.icon
        .topcoat-button
            i.thumbs.up.icon


template(name='facet')
    // .ui.inverted.secondary.segment
    .ui.inverted.inline.header #{key}
    // each filters
    //     .unselect.ui.blue.button #{this}
    
    each res
        .toggle_selection.margined(class=toggle_value_class)
            strong #{name}
            // small #{count}
            
            
            
template(name='footer')
    .ui.bottom.fixed.inverted.menu
        .ui.center.aligned.inverted.grey.small.header
            .item
                i.copyright.outline.icon
                | 2018 Data Analytics Organization



template(name='role_switcher')
    each role_docs
        .change_role.topcoat-button(class=role_button_class)
            if icon
                i.icon
                    +icon name=icon
            |#{title}
            