template(name='comments')
    .olive.row
        h3
            |#{comment_count}
            // i.comments.icon
        .ui.comments
            each comments
                .comment
                    a.avatar(href="/profile/#{author._id}")
                        if author.profile.image_id
                            img.ui.avatar.spaced.image(src="{{c.url author.profile.image_id width=50 height=50 gravity='face' crop='fill'}}")
                        else
                            i.user.icon
                    .content
                        a.author(href="/profile/#{author._id}") #{author.username}
                        .metadata
                            span.date #{when}
                        .text
                            p #{text}
                        .actions
                            // a.reply Reply
                            a.delete_comment
                                i.remove.icon
        .ui.large.fluid.left.icon.transparent.input
            i.comments.icon
            input#new_comment(type='text')