template(name='dao')
    .ui.stackable.padded.grid
        .centered.row
            .eight.wide.column
                .ui.transparent.massive.inverted.input
                    input#in(type='text' placeholder='_________')
                .ui.icon.button.delete_session(title='clear session')
                    i.remove.icon
                .ui.icon.button.show_session
                    i.code.icon
                .ui.icon.button.reload
                    i.refresh.icon
            .two.wide.column
                +loginButtons
        unless session_doc
            .row
                .sixteen.wide.column
                    if currentUser
                        .create_session.ui.button
                            i.plus.icon
                            |session
        if session_doc
            .centered.row
                .twelve.wide.column.scrolling
                    each faceted_fields
                        +filter


template(name='filter')
    // .ui.header
    //     if icon
    //         i.icon
    //             +iconsmall name=icon
    //     |#{title}
    .ui.hidden.divider
    each values
        +selector


template(name='selector')
    .ui.toggle_value.button(class=toggle_value_class)
        |#{selector_value}
        small #{count}


template(name='edit_field_text')
    .ui.labeled.fluid.input
        .ui.basic.label(title=key) #{label}
        input.text_val(type='text' value=field_value)

template(name='edit_field_number')
    .ui.labeled.fluid.input
        .ui.basic.label(title=key) #{label}
        input.number_val(type='number' value=field_value)




template(name='when_template')
    div(title="{{ long_format timestamp }}")
        |#{when}

template(name='search_key')
    .ui.icon.input
        i.search.icon
        input.search_key(type='text')