template(name='dao')
    .ui.stackable.padded.grid
        .row
            .item
                .bat D
            .icon.item.delete_facet(title='clear session')
                i.remove.icon
            .icon.item.show_facet
                i.code.icon
            .icon.item.reload
                i.refresh.icon
            .ui.input
                input(type='text' placeholder='ask')
            .item
                +loginButtons
        unless facet_doc
            .row
                .sixteen.wide.column
                    if currentUser
                        .create_facet.ui.button
                            i.plus.icon
                            |session
        if facet_doc
            .four.wide.column.scrolling
                each faceted_fields
                    +filter
            .twelve.wide.column
                .ui.equal.width.stackable.grid
                    .column.scrolling
                        if facet_doc.result_ids
                            if facet_doc.result_ids.length
                                .ui.basic.label #{facet_doc.total} results
                                each facet_doc.result_ids
                                    +facet_segment
                    // if facet_doc.viewing_detail
                    //     .column.scrolling
                    //         +detail_pane

template(name='facet_segment')
    with local_doc
        .ui.segment.facet_segment(class=facet_segment_class)
            // if doc_header_fields
            .content
                h3.ui.header
                    if icon
                        +icon name=icon
                    |#{title}
            .content
                .ui.list
                    each keys
                        .item
                            strong #{this}
                            | #{value}
            .content
                .ui.calc.icon.button
                    i.refresh.icon

template(name='toggle_facet_config')
    if boolean_true
        .ui.blue.icon.large.button.disable_key(title=title)
            i.icon(class=icon)
            | #{label}
    else
        .ui.icon.large.button.enable_key
            i.icon(class=icon)
            | #{label}



template(name='filter')
    // .ui.header
    //     if icon
    //         i.icon
    //             +iconsmall name=icon
    //     |#{title}
    .ui.hidden.divider
    each values
        +selector


template(name='selector')
    .ui.toggle_value.button(class=toggle_value_class)
        |#{selector_value}
        small #{count}


template(name='edit_field_text')
    .ui.labeled.fluid.input
        .ui.basic.label(title=key) #{label}
        input.text_val(type='text' value=field_value)

template(name='edit_field_number')
    .ui.labeled.fluid.input
        .ui.basic.label(title=key) #{label}
        input.number_val(type='number' value=field_value)




template(name='when_template')
    div(title="{{ long_format timestamp }}")
        |#{when}

template(name='search_key')
    .ui.icon.input
        i.search.icon
        input.search_key(type='text')