template(name='dao')
    .ui.attached.inverted.menu
        .item
            .bat D
        .ui.input.item
            input#in(type='text' placeholder='search')
        a.icon.item.delete_session(title='clear session')
            i.remove.icon
        a.icon.item.show_session
            i.code.icon
        a.icon.item.reload
            i.refresh.icon
        .item
            +loginButtons
    .ui.stackable.padded.grid
        unless session_doc
            .row
                .sixteen.wide.column
                    if currentUser
                        .create_session.ui.button
                            i.plus.icon
                            |session
        if session_doc
            .row
                .four.wide.column.scrolling
                    each faceted_fields
                        +filter
                    .ui.header query: #{session_doc.result}
                    .ui.header tags
                    each session_doc.tags_return
                        .ui.button
                            |#{name}
                            |#{count}
                .twelve.wide.column.scrolling
                    each session_doc.result_ids
                        +doc_card

template(name='doc_card')
    with local_doc
        .ui.fluid.link.card.doc_card(class=doc_card_class)
            // if doc_header_fields
            .content
                h3.ui.header #{title}
                    // if icon
                    //     +icon name=icon
                    // each doc_header_fields
                    //     |#{value}
            .content
                each tags
                    .ui.label #{this}
                p
                .ui.list
                    each field_docs
                        if value
                            .item
                                if field_template
                                    +Template.dynamic template=field_template
                                else
                                    .content
                                        if icon
                                            i.large.icon
                                                +icon name=icon
                                        | #{title}
                                        |&nbsp;
                                        if is_array
                                            each value
                                                .ui.basic.label #{this}
                                        else
                                            strong #{value}



template(name='facet')
    // .ui.header
    //     if icon
    //         i.icon
    //             +iconsmall name=icon
    //     |#{title}
    .ui.hidden.divider
    each values
        +selector


template(name='selector')
    .ui.toggle_value.button(class=toggle_value_class)
        |#{selector_value}
        small #{count}


template(name='edit_field_text')
    .ui.labeled.fluid.input
        .ui.basic.label(title=key) #{label}
        input.text_val(type='text' value=field_value)

template(name='edit_field_number')
    .ui.labeled.fluid.input
        .ui.basic.label(title=key) #{label}
        input.number_val(type='number' value=field_value)




template(name='when_template')
    div(title="{{ long_format timestamp }}")
        |#{when}

template(name='search_key')
    .ui.icon.input
        i.search.icon
        input.search_key(type='text')