template(name='user_dashboard')
    h1.ui.header less is more, make em money, enlighten
    h1.ui.header welcome to thunderdome
    .ui.inverted.segment
        .ui.two.column.stackable.grid
            .column
                +top_people
            .column
                +top_posts
        .row
            +karma
        .row
            +communication

template(name='top_posts')
    .ui.inverted.grey.segment
        .ui.header top posts
        .ui.segments
            each top_posts
                .segment
                    .header
                        each five_tags
                            .ui.label #{this}
                    .content
                        a.ui.icon.button(href="/view/#{_id}")
                            i.right.arrow.icon
                        |#{points} pts
        .ui.header total posts

    
template(name='top_people')
    .ui.inverted.grey.segment
        .ui.header top people
        .ui.segments
            each top_users
                .segment
                    .header
                        |#{name}
                        each five_tags
                            .ui.label #{this}
                    .content
                        a.ui.icon.button(href="/view/#{_id}")
                            i.right.arrow.icon
                        |#{points} pts
        .ui.header total posts

    
template(name='karma')
    .ui.inverted.grey.segment
        .ui.header karma
        .ui.header your points: #{currentUser.points}
        #add_points.ui.button
            |add point
    
template(name='communication')
    .ui.inverted.grey.segment
        .ui.header communication