template(name='dash')
    .ui.stackable.padded.grid
        .row
            .four.wide.column
                i.big.dashboard.icon
                if selected_type
                    #clear_types.ui.icon.grey.button
                        i.remove.icon
                each selected_type
                    .unselect_type.ui.grey.active.button
                        b #{this}
                each types
                    .select_type.ui.button
                        strong #{title}
                        // small #{this.count}
            .twelve.wide.column
                each docs
                    .ui.secondary.segment
                        a.ui.header(href="/view/#{_id}")
                            if icon
                                i.grey.icon(class=icon)
                            |#{title}
                        .description
                            .ui.header #{type}
                            .ui.small.header #{body}
                            +tags_view_small
                        .extra
                            +user_list_toggle key='bookmark_ids' add_icon='bookmark outline' remove_icon='bookmark' add_label='Bookmark' remove_label='Unbookmark' color='red' big=small
                            if is_author
                                +edit_button_small
                            +view_button_small
