template(name='delta')
    // .ui.search
    //     .ui.icon.input
    //         input#new_search(type='text' placeholder='search')
    //         i.search.icon
    //     .results
    .ui.icon.input
        i.search.icon
        input#search(type='text' autocomplete='off')
    if selected_tags
        #clear_tags.ui.icon.grey.circular.button
            i.remove.icon
    each selected_tags
        .unselect_tag.ui.grey.active.circular.button
            b #{this}
    each global_tags
        .select_tag.ui.circular.button
            strong #{this.title}
            // small #{this.count}
    if single_doc
        each docs
            +facet_view

    if dev
        .ui.center.aligned.basic.segment
            .ui.icon.input
                i.video.icon
                input.new_ytid(type='text' placeholder='yt id')
            .ui.icon.input
                i.list.icon
                input.new_body(type='text' placeholder='body')
            .ui.icon.input
                i.tag.icon
                input.new_tags(type='text' placeholder='title')
            .ui.button.insert insert
    // else
    .ui.basic.center.aligned.segment

    
    
template(name='facet_view')
    with result 
        .ui.basic.segment
            if body
                .f8 #{nl2br body}
            if youtube_id
                .ui.embed.youtube(data-source="youtube" data-id=youtube_id class=invert_class)
        if dev
            .ui.input
                input.new_list(type='text' placeholder='add list')
            .ui.input
                input.new_tag(type='text' placeholder='add tag')
            each tags
                .ui.compact.button.remove_tag 
                    |#{this}
            .ui.input
                input.youtube_id(type='text' value=youtube_id placeholder='yt')
            div
            textarea.edit_body(rows='5') #{body}



