template(name='delta')
    .ui.padded.grid
        .centered.row
            .four.wide.center.aligned.column
                i.plus.icon
            .eight.wide.center.aligned.column
                a.header.icon.home.pointer(href='/')
                    // .black_bat.logo D
                    i.user.big.shield.icon
            .four.wide.center.aligned.column
                if is_dev
                    a.item.add(href='#')
                        i.plus.icon
                    a.item.print_delta(href='#')
                        i.code.icon
                    a.item(href='/import' title='import')
                        i.upload.icon
                .right.menu
                    if currentUser
                        a.me.item(href='/me')
                            if currentUser
                                i.user.icon
                                | #{currentUser.username}
                        a.icon.item.logout(href="#")
                            i.sign.out.alternate.icon
                    else
                        a.icon.item(href="/enter")
                            i.sign.in.alternate.icon
                .ui.reset.icon.small.button(title='reset')
                    i.refresh.icon
        .centered.row    
            each current_delta.facets
                +facet
            each current_delta.result_ids
                +result
    
template(name='set_view_limit')
    .ui.compact.small.button.set_limit(class=limit_class)
        |#{amount}


template(name='result')
    if loading
        .ui.center.aligned.segment
            .ui.active.centered.inline.loader
    else
        with result 
            .facet_res
                .ui.header #{title}
                if cleaned_html
                    .large130 
                        |!{cleaned_html}
                else
                    +tone
                div #{body}
                div #{html}
                div #{content}
            // .ui.inline.header 
            //     i.tags.icon
            .facet_res
                .ui.fluid.large.icon.transparent.input
                    i.plus.icon
                    input.new_tag(type='text' placeholder='add tag')
                each tags
                    .ui.label #{this}
            
            // .ui.stackable.padded.grid
                .row
                    // .twelve.wide.column.scrolling
                        // +keyword_list
                        // +concept_list
                        // +keywords
                        // .ui.large.list
                        //     each _keys
                        //         +field_view
                        // +comments
                        
                    // .four.wide.column.scrolling
                    //     +call_watson
                    //     +doc_sentiment
                    //     +doc_emotion
                    //     +concepts
                    //     +categories
                    //     // +entity_list
                    //     +entities
                    //     +personality
                    //     +consumption_preferences
                    //     +author_info
                    //     +creation_info
                    //     // if can_edit
                    //     //     a.ui.fluid.button(href="/edit/#{_id}")
                    //     //         i.pencil.icon
                    //     // .ui.segment
                    //         +clone_button
                    //         +detect_fields_button
                    //     +bookmark_button
                    //     div
                    //     +voting_buttons
                    //     div
                    //     +detect_fields_button
                    //     // a.ui.button(href="/view/#{_id}") 
                    //     //     |view
                    //     //     i.right.arrow.icon
                    //     +author_info


template(name='facet')
    // .ui.inline.header 
    //     |#{key}
        // each filters
        //     .unselect.ui.blue.button #{this}
    // .active.content
    .ui.transparent.large.input
        input.add_filter(type='text' placeholder='search')
    .facet_res
        each filtering_res
            if name
                .selector.ui.compact.button.toggle_selection(class=toggle_value_class title=count)
                    strong #{name}
                    // small #{count}
            else
                .selector.ui.compact.button.toggle_selection(class=toggle_value_class title=count)
                    strong [null]
                    // small #{count}
            
        
        
template(name='default')
    .ui.header #{title}
    .ui.header #{timestamp}            
    .ui.form
        +title
        +description
        +tags
        +text key='slug' label='slug'
        +text key='icon' label='icon'
    +edit_button
    +view_button template='view_section'
