template(name='delta')
                    
    
template(name='result')
    with result 
        if title
            .ui.header #{title}
        if html
            |!{nl2br html}
        each tags
            .ui.big.label #{this}
        if body
            .large130 
                |#{nl2br body}
            .ui.icon.transparent.input
                i.plus.icon
                input.new_tag(type='text' placeholder='add tag')
        each _keys
            .ui.label #{this}
            +field_view
            
            
template(name='field_view')
    .item   
        .content
            .header #{this}
            .description
                +Template.dynamic template=brick_view            
            
template(name='facet')
    // .ui.small.inline.header #{key}
    // each filters
    //     .unselect.ui.blue.button #{this}
    // .ui.transparent.left.icon.input
    //     i.search.icon
    //     input.add_filter(type='text' placeholder='search')
    each filtering_res
        if name
            .selector.ui.button.toggle_selection(class=toggle_value_class)
                strong #{name}
                // small #{count}
        else
            .selector.ui.button.toggle_selection(class=toggle_value_class)
                strong [null]
                // small #{count}