template(name='delta')
    .ui.padded.stackable.grid
        .row
            .sixteen.wide.column
                each current_delta.facets
                    +facet
        .row
            .sixteen.wide.column
                // .ui.inverted.inline.header visible fields
                // each current_delta.facets
                //     .ui.button #{this.key}
                // .ui.inverted.inline.header view options
                // .ui.button grid
                // .ui.button list
                // .ui.button map
                // .ui.button calendar
                // +set_view_limit amount=1
                // +set_view_limit amount=5
                // +set_view_limit amount=10
                // +set_view_limit amount=20
                
                .ui.centered.stackable.cards
                    each current_delta.result_ids
                        +result
    
template(name='set_view_limit')
    .ui.compact.small.button.set_limit(class=limit_class)
        |#{amount}


template(name='result')
    if loading
        .ui.center.aligned.inverted.segment
            .ui.active.centered.inline.loader
    else
        with result 
            .ui.stackable.padded.grid
                .row
                    .twelve.wide.column
                        .ui.segment
                            .ui.header #{title}
                            +watson_view
                    .four.wide.column
                        .ui.segment
                            +call_watson
                            +doc_sentiment
                            +doc_emotion
                            +concepts
                            +categories
                            // +entity_list
                            +entities
                            +personality
                            +consumption_preferences
                        .ui.segment
                            +author_info
                            +creation_info
                            a.ui.fluid.button(href="/edit/#{_id}")
                                i.pencil.icon
                        // .ui.segment
                        //     +clone_button
                        //     +detect_fields_button
                        // .ui.segment
                        //     +bookmark_button
                        //     +voting_buttons
                        // +comments
        
                    // +detect_fields_button
                    // +call_watson
                    // .ui.divided.list
                    //     each _keys
                    //         +field_view
                    // a.ui.button(href="/view/#{_id}") 
                    //     |view
                    //     i.right.arrow.icon
                    // +author_info
                    // +creation_info
        

template(name='facet')
    // if filtering_res
    .ui.small.inline.inverted.header #{key}
    // each filters
    //     .unselect.ui.blue.button #{this}
    each filtering_res
        if name
            .selector.ui.compact.small.button.toggle_selection(class=toggle_value_class)
                strong #{name}
                // small #{count}
        else
            .selector.ui.compact.small.button.toggle_selection(class=toggle_value_class)
                strong [null]
                // small #{count}
            
        
        
template(name='default')
    .ui.header #{title}
    .ui.header #{timestamp}            
    .ui.form
        +title
        +description
        +tags
        +text key='slug' label='slug'
        +text key='icon' label='icon'
    +edit_button
    +view_button template='view_section'
