template(name='delta')
    .ui.padded.stackable.grid
        .grey.row
            .sixteen.wide.column
                .ui.small.inline.header sessions
                .ui.icon.button.create_delta
                    i.plus.icon
                each public_sessions
                    .ui.button.select_delta(class=delta_selector_class) #{number}
        .row
            .six.wide.column
                each current_delta.facets
                    .row
                        +facet
                        div
            .ten.wide.column
                .ui.centered.stackable.cards(class=card_number)
                    each current_delta.result_ids
                        +result
    

template(name='result')
    .ui.fluid.card
        .content
            with result
                each result_schema_fields
                    +field key=key field_type=field_type

        
        
template(name='default')
    .ui.header #{title}
    .ui.header #{timestamp}            
    .ui.form
        +title
        +description
        +tags
        +text key='slug' label='slug'
        +text key='icon' label='icon'
    +edit_button
    +view_button template='view_section'
