template(name='delta')    
    .ui.stackable.grid
        .row
            .five.wide.column.scrolling
                if delta
                    h2.ui.header 
                        if current_module.icon
                            i.icon(class=current_module.icon)  
                        | #{current_module.title}
                    .ui.icon.button.add_doc
                        i.plus.icon
                    .ui.icon.button.delete_delta
                        i.remove.icon
                    .ui.icon.button.print_delta
                        i.code.icon
                    .ui.icon.button.recalc
                        i.refresh.icon
                each delta.facets
                    unless hidden
                        +facet
                        div
            .eleven.wide.column.scrolling
                if delta.editing
                    +edit
                else
                    +change_delta_key key='view' icon='list' label='List' value='list'
                    +change_delta_key key='view' icon='th' label='Grid' value='grid'
                    +change_delta_key key='view' icon='table' label='Table' value='table'
                    +change_delta_key key='view' icon='map' label='Map' value='map'
                    +change_delta_key key='view' icon='calendar' label='Calendar' value='cal'
                div
                +Template.dynamic template=delta.view
                    


template(name='change_delta_key')
    .ui.button.set_delta_key(class=delta_key_button_class)
        if icon
            i.icon(class=icon)
        |#{label}
        
        
template(name='result')
    .ui.button.edit
        i.pencil.icon
        | Edit
    .ui.list
        
        each fields
            .item
                strong #{label}
                // div [#{type}]
                if is_html
                    |!{value}
                else if is_number
                    .ui.header ##{value}
                    // strong time
                    // |{{ from_now value }}
                else if is_array
                    each value
                        .ui.label #{this}
                else
                    |#{value} 
    div
        .ui.button
            i.thumbs.up.icon
        .ui.button
            i.thumbs.down.icon
        .ui.button
            i.chat.icon
        .ui.button
            i.eye.icon
        .ui.button
            i.bookmark.icon


template(name='facet')
    // .ui.secondary.segment
    .ui.small.header #{key}
    // each filters
    //     .unselect.ui.blue.button #{this}
    
    each res
        if name
            .ui.compact.button.toggle_selection(class=toggle_value_class)
                strong #{name}
                // small #{count}
            
        