template(name='delta')
    .ui.padded.stackable.grid
        .row
            .eight.wide.column
                each current_delta._facets
                    .row
                        +facet
                        div
            .eight.wide.column
                .ui.centered.stackable.cards
                    each current_delta.result_ids
                        +result
    

template(name='result')
    if loading
        .ui.center.aligned.inverted.segment
            .ui.active.centered.inline.loader
    else
        .ui.fluid.card
            .content
                with result
                    .ui.button.detect_fields
                        i.dna.icon
                        |detect fields
                    .ui.list
                        each _keys
                            .ui.label #{this}
                            +field_view
                            // .item
                            //     strong #{label}
                            //     // div [#{type}]
                            //     if html
                            //         |!{value}
                            //     else if number
                            //         .ui.header ##{value}
                            //         // strong time
                            //         // |{{ from_now value }}
                            //     else if array
                            //         each value
                            //             .ui.label #{this}
                            //     else if object
                            //         unless array
                            //             +jsonView json=value
                            //     else
                            //         |#{value} 
                    // +jsonView json=fields
        

template(name='facet')
    // if filtering_res
    .ui.small.inline.inverted.header #{key}
    // each filters
    //     .unselect.ui.blue.button #{this}
    // each filtering_res
    each res
        // if name
        .selector.ui.compact.button.toggle_selection(class=toggle_value_class)
            strong #{name}
            small #{count}
            
        
        
template(name='default')
    .ui.header #{title}
    .ui.header #{timestamp}            
    .ui.form
        +title
        +description
        +tags
        +text key='slug' label='slug'
        +text key='icon' label='icon'
    +edit_button
    +view_button template='view_section'
