template(name='facet')
    //- if filtering_res
    //- .ui.inverted.inline.header 
    //-     if icon
    //-         i.small.grey.icon(class=icon)
    //-     if label
    //-         |#{label}
    //-     else 
    //-         |#{key}
    .ui.transparent.left.icon.large.inverted.input
        i.search.icon
        input.add_filter(type='text' placeholder=key)
    //-     // i.grey.dropdown.icon
    //-         // i.dropdown.icon
    //-         // each filters
    //-         //     .unselect.ui.grey.button #{this}
    each filtering_res
        if name
            .selector.ui.circular.large.button.toggle_selection(class=toggle_value_class title=count)
                | #{name}
                //- small #{count}
        else
            .selector.ui.circular.large.button.toggle_selection(class=toggle_value_class title=count)
                strong [null]
                //- small #{count}

        // div
        // if icon
        //     i.grey.icon(class=icon)
        // .ui.small.inline.header 
        //     |#{label}
        // // .ui.transparent.left.icon.small.input
        // //     i.search.icon
        // //     input.add_filter(type='text' placeholder='search')
        // // i.dropdown.icon
        // // each filters
        // //     .unselect.ui.grey.button #{this}
        // each filtering_res
        //     if name
        //         .selector.ui.compact.button.toggle_selection(class=toggle_value_class title=count)
        //             | #{name}
        //             // small #{count}
        //     else
        //         .selector.ui.compact.button.toggle_selection(class=toggle_value_class title=count)
        //             strong [null]
        //         // small #{count}



template(name='toggle_delta_config')
    if boolean_true
        .ui.grey.active.icon.button.disable_key(title=label)
            i.icon(class=icon)
            // | #{label}
    else
        .ui.icon.button.enable_key(title=label)
            i.icon(class=icon)
            // | #{label}



template(name='result')
    with result 
        unless is_loading
            .ui.result.inverted.basic.segment.two.column.stackable.grid
                .column
                    each _keys
                        +key_view
                    
                .column
                    if watson
                        +watson_view
                        if visual_classes
                            +visual_classes
                            if analyzed_text
                                |#{nl2br analyzed_text}
                    //- a.ui.header(href="/view#{_id}")
                    //-     each bricks
                    //-         if header
                    //-             +Template.dynamic template=view_template 
                    //-     // |#{title}
                    //- .description
                    //-     each small_bricks
                    //-         unless header
                    //-             +Template.dynamic template=view_template 
                    //- .description
                    //-     each big_bricks
                    //-         unless header
                    //-             +Template.dynamic template=view_template 
                    .extra
                        // +user_list_toggle key='bookmark_ids' icon='bookmark' label='Bookmark' color='red'
                        //- if is_dev
                        //-     +remove_button
                        if can_edit
                            a.ui.icon.big.circular.inverted.basic.button(href="/edit/#{_id}")
                                i.pencil.icon
                        a.ui.icon.big.circular.inverted.basic.button(href="/view/#{_id}")
                            i.eye.icon
                        //- each schema.actions
                        //-     +Template.dynamic template=this data=..
                        //- div
                        //- +author_info
                        //- div
                        //- +creation_info
                        //- div
                        +clone_button
                        +detect

    
                    

template(name='type_edit')
    with doc
        .ui.stackable.padded.grid
            .centered.row
                .four.wide.column
                    .ui.header(title="Type: #{type}")
                        |#{title}
                    each bricks
                        if header
                            +Template.dynamic template=view_template 
                    // +ioffice name='pencil' classes='ui inline image'
                    div
                    +creation_info
                    a.ui.button(href="/view/#{_id}")
                        |alpha
                    a.ui.fluid.button(href="/s/#{type}/#{_id}/view")
                        i.checkmark.icon
                        |delta
                    +remove_button
                .twelve.wide.column
                    //- |#{type}
                    each small_bricks
                        +Template.dynamic template=edit_template 
                    each big_bricks
                        +Template.dynamic template=edit_template 
                        // .ui.header #{key} [#{field}] #{label}


template(name='type_view')
    with doc
        .ui.stackable.padded.grid
            .row
                .sixteen.wide.column
                    .ui.breadcrumb
                        a.section(href="/s/#{current_schema.slug}" title=current_schema.plural)
                            .ui.compact.small.button
                                if schema.color_icon
                                     +icolor name=schema.color_icon classes='ui mini inline image'
                                // else
                                // i.icon(class=current_schema.icon)
                                |#{current_schema.plural}
                        .divider
                            i.chevron.right.large.icon
                        .active.section
                            if icon
                                i.icon(class=icon)
                            if title
                                |#{title}
                            else
                                |view #{type}
            .row
                .four.wide.column
                    // .ui.header
                    //     a.ui.icon.button(href="/s/#{type}" title=plural)
                    //         i.chevron.left.icon
                    //     |View #{type}
                    if can_edit
                        a.ui.button(href="/edit/#{_id}")
                            i.pencil.icon
                    each schema.actions
                        +Template.dynamic template=this data=doc
                    // +user_list_toggle key='bookmark_ids' icon='bookmark' label='Bookmark' color='red'
                    +creation_info
                .twelve.wide.column
                    .ui.header
                        each bricks
                            if header
                                +Template.dynamic template=view_template 
                        // if icon
                        //     i.icon(class=icon)
                        // |#{title}
                    each bricks
                        unless header
                            .item
                                +Template.dynamic template=view_template 
                    div
                    +comments
                    if watson
                        +watson_view
                    
                    
