template(name='delta')
    .ui.grid
        .row   
            .six.wide.column.scrolling
                if is_dev
                    .ui.icon.button.print_delta
                        i.code.icon
                    .ui.reset.icon.button(title='reset')
                        i.refresh.icon
                    .ui.delete_delta.icon.button(title='delete delta')
                        i.trash.icon
                    |did: #{session_delta_id}
                each current_delta.facets
                    +facet
            .ten.wide.column.scrolling
                .row
                    .ui.button 10
                    .ui.button 20
                    .ui.button sort by
                    .ui.button 20
                    .ui.button 20
                .row
                    each current_delta.result_ids
                        +result
        .row
            unless current_delta
                .ui.center.aligned.header no session
                if currentUser
                    .ui.inline.header my sessions
                    each my_sessions
                        .ui.button.select_session
                            if title
                                |#{title}
                            else
                                | @
                else
                    .ui.inline.header public sessions
                    each public_sessions
                        .ui.button.select_session
                            if title
                                |#{title}
                            else
                                | @
                    
                .ui.new_session.button + session
                    
    
template(name='result')
    .ui.tertiary.segment
        with result 
            if title
                .ui.header #{title}
            |!{nl2br html}
            each tags
                .ui.big.label #{this}
            .large130 
                |#{nl2br body}
            div #{points} points
            .ui.icon.transparent.input
                i.plus.icon
                input.new_tag(type='text' placeholder='add tag')
            +view_button
            each _keys
                .ui.label #{this}
                +field_view
            +edit_button
            +voting
            +toggle_button key='bookmark_ids' label='bookmark' icon='bookmark'
            
template(name='facet')
    .ui.accordion
        .active.title
            i.dropdown.icon
            |#{key}
            // each filters
            //     .unselect.ui.blue.button #{this}
        .active.content
            // .ui.transparent.left.icon.input
            //     i.search.icon
            //     input.add_filter(type='text' placeholder='search')
            each filtering_res
                if name
                    .selector.ui.small.compact.button.toggle_selection(class=toggle_value_class title=count)
                        strong #{name}
                        small #{count}
                else
                    .selector.ui.small.compact.button.toggle_selection(class=toggle_value_class title=count)
                        strong [null]
                        small #{count}
    
    
        
template(name='default')
    .ui.header #{title}
    .ui.header #{timestamp}            
    .ui.form
        +title
        +description
        +tags
        +text key='slug' label='slug'
        +text key='icon' label='icon'
    +edit_button
    +view_button template='view_section'
