template(name='delta')
    .ui.grid
        .row
            .sixteen.wide.center.aligned.column
                // a.ui.icon.large.circular.button(href='/')
                //     i.large.adjust.icon
                each my_sessions
                    .ui.circular.icon.large.button.select_session(class=session_selector_class title='select session')
                        // i.remove.link.delete_delta.icon
                        i.play.icon
                .new_session.ui.icon.circular.button.pointer(title='new session')
                    i.plus.icon
                if currentUser
                    a.ui.circular.button(href='/me')
                        i.user.icon
                        |#{currentUser.username}
                    .ui.icon.button.add_doc(title='add doc')
                        i.plus.icon
                    // a.ui.icon.circular.button.logout(href='#')
                    //     i.sign.out.icon
                else
                    a.ui.icon.circular.button(href='/enter')
                        i.sign.in.icon
        .centered.row   
            .sixteen.wide.center.aligned.column
                if current_delta
                    .ui.icon.circular.button.print_delta
                        i.code.icon
                    .ui.reset.icon.circular.button(title='reset')
                        i.refresh.icon
                    .ui.delete_delta.icon.circular.button(title='delete delta')
                        i.trash.icon
                // |did: #{session_delta_id}
                each current_delta.facets
                    +facet
                each current_delta.result_ids
                    +result
        .centered.row   
            .sixteen.wide.center.aligned.column
                form(action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_top')
                    input(type='hidden', name='cmd', value='_s-xclick')
                    input(type='hidden', name='hosted_button_id', value='AUVHGYNUW5LVE')
                    // input(type='image', src='https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif', border='0', name='submit')
                    img(alt='', border='0', src='https://www.paypal.com/en_US/i/scr/pixel.gif', width='1', height='1')
                    button.ui.icon.circular.large.button(type='submit')
                        i.pied.piper.alternate.large.icon



template(name='facet')
    if filtering_res
        .ui.inline.small.header #{key}
        // each filters
        //     .unselect.ui.blue.circular.button #{this}
        // .ui.transparent.left.icon.input
        //     i.search.icon
        //     input.add_filter(type='text' placeholder='search')
        each filtering_res
            if name
                .selector.ui.circular.button.toggle_selection(class=toggle_value_class title=count)
                    strong #{name}
                    // small #{count}
            else
                .selector.ui.circular.button.toggle_selection(class=toggle_value_class title=count)
                    strong [null]
                    // small #{count}



template(name='result')
    .ui.divider
    with result 
        each _keys
            // .ui.label #{this}
            +key_view
        +view_button
        +edit_button
    

