template(name='delta')    
    // .five.wide.column.scrolling
    .grey.row
        if delta
            // h2.ui.header 
            //     if current_module.icon
            //         i.icon(class=current_module.icon)  
            //     | #{current_module.title}
            .ui.icon.button.add_doc
                i.plus.icon
            .ui.icon.button.delete_delta
                i.remove.icon
            .ui.icon.button.print_delta
                i.code.icon
            .ui.icon.button.recalc
                i.refresh.icon
    each delta.facets
        .row
            unless hidden
                +facet
            div
    // .eleven.wide.column.scrolling
    .row
        if delta.editing
            +edit
        // else
        //     +change_delta_key key='view' icon='list' label='List' value='list'
        //     +change_delta_key key='view' icon='th' label='Grid' value='grid'
        //     +change_delta_key key='view' icon='table' label='Table' value='table'
        //     +change_delta_key key='view' icon='map' label='Map' value='map'
        //     +change_delta_key key='view' icon='calendar' label='Calendar' value='cal'
        // div
        +Template.dynamic template=delta.view
                    


template(name='change_delta_key')
    .ui.button.set_delta_key(class=delta_key_button_class)
        if icon
            i.icon(class=icon)
        |#{label}
        
        


template(name='facet')
    // .ui.small.inline.header #{key}
    // each filters
    //     .unselect.ui.blue.button #{this}
    
    each res
        if name
            .ui.button.toggle_selection(class=toggle_value_class)
                strong #{name}
                // small #{count}
            
        