template(name='delta')
    // +nav
    .facets
        each current_delta.facets
            +facet
        unless current_delta
            .ui.reset.button reload session
        // .ui.inline.header visible fields
        // each current_delta.facets
        //     .ui.button #{this.key}
        // .ui.inline.header view options
        // .ui.button grid
        // .ui.button list
        // .ui.button map
        // .ui.button calendar
        // +set_view_limit amount=1
        // +set_view_limit amount=5
        // +set_view_limit amount=10
        // +set_view_limit amount=20
        
        each current_delta.result_ids
            +result
    
template(name='set_view_limit')
    .ui.compact.small.button.set_limit(class=limit_class)
        |#{amount}


template(name='result')
    if loading
        .ui.center.aligned.segment
            .ui.active.centered.inline.loader
    else
        with result 
            .ui.basic.segment.container
                .ui.header #{title}
                +tone
            // .ui.stackable.padded.grid
                .row
                    // .twelve.wide.column.scrolling
                        // +keyword_list
                        // +concept_list
                        // +keywords
                        // .ui.large.list
                        //     each _keys
                        //         +field_view
                        // +comments
                        
                    // .four.wide.column.scrolling
                    //     +call_watson
                    //     +doc_sentiment
                    //     +doc_emotion
                    //     +concepts
                    //     +categories
                    //     // +entity_list
                    //     +entities
                    //     +personality
                    //     +consumption_preferences
                    //     +author_info
                    //     +creation_info
                    //     // if can_edit
                    //     //     a.ui.fluid.button(href="/edit/#{_id}")
                    //     //         i.pencil.icon
                    //     // .ui.segment
                    //         +clone_button
                    //         +detect_fields_button
                    //     +bookmark_button
                    //     div
                    //     +voting_buttons
                    //     div
                    //     +detect_fields_button
                    //     // a.ui.button(href="/view/#{_id}") 
                    //     //     |view
                    //     //     i.right.arrow.icon
                    //     +author_info
        

template(name='facet')
    // .ui.inline.header 
    //     |#{key}
        // each filters
        //     .unselect.ui.blue.button #{this}
    // .active.content
    each filtering_res
        if name
            .selector.ui.button.toggle_selection(class=toggle_value_class title=count)
                strong #{name}
                // small #{count}
        else
            .selector.ui.button.toggle_selection(class=toggle_value_class title=count)
                strong [null]
                // small #{count}
            
        
        
template(name='default')
    .ui.header #{title}
    .ui.header #{timestamp}            
    .ui.form
        +title
        +description
        +tags
        +text key='slug' label='slug'
        +text key='icon' label='icon'
    +edit_button
    +view_button template='view_section'
