template(name='delta')
    .ui.padded.stackable.grid
        .row
            .four.wide.column
                with current_delta
                    .ui.inverted.header names
                each current_delta.facets
                    .row
                        +facet
                        div
            .twelve.wide.column
                .ui.inverted.inline.header visible fields
                each current_delta.facets
                    .ui.button #{this.key}
                .ui.inverted.inline.header view options
                .ui.button grid
                .ui.button list
                .ui.button map
                .ui.button calendar
                .ui.button 10
                .ui.button 20
                
                .ui.centered.stackable.cards
                    each current_delta.result_ids
                        +result
    

template(name='result')
    if loading
        .ui.center.aligned.inverted.segment
            .ui.active.centered.inline.loader
    else
        .ui.fluid.card
            .content
                with result
                    .ui.button.detect_fields
                        i.dna.icon
                        |detect fields
                    .ui.divided.list
                        each _keys
                            +field_view
                    a.ui.button(href="/view/#{_id}") 
                        |view
                        i.right.arrow.icon
        

template(name='facet')
    // if filtering_res
    .ui.small.inline.inverted.header #{key}
    // each filters
    //     .unselect.ui.blue.button #{this}
    // each filtering_res
    each res
        // if name
        .selector.ui.compact.button.toggle_selection(class=toggle_value_class)
            strong #{name}
            small #{count}
            
        
        
template(name='default')
    .ui.header #{title}
    .ui.header #{timestamp}            
    .ui.form
        +title
        +description
        +tags
        +text key='slug' label='slug'
        +text key='icon' label='icon'
    +edit_button
    +view_button template='view_section'
