template(name='delta')    
    .ui.stackable.padded.grid
        .row
            .four.wide.column.scrolling
                if delta
                    .ui.large.transparent.input(title='Rename')
                        input.delta_title(type='text' value=delta.title)
                    .ui.icon.button.delete_delta
                        i.remove.link.icon
                        // | Delete
                    .ui.icon.button.print_delta
                        i.code.link.icon
                        // | Log
                    .ui.icon.button.recalc
                        i.refresh.link.icon
                        // | Refresh
                each delta.facets
                    unless hidden
                        +facet
                        div
            .twelve.wide.column
                if delta.editing
                    +edit
                else
                    +change_delta_view icon='list' label='List' slug='list'
                    +change_delta_view icon='th' label='Grid' slug='grid'
                    +change_delta_view icon='map' label='Map' slug='map'
                    +change_delta_view icon='calendar' label='Calendar' slug='cal'
                +Template.dynamic template=delta.view
                    
                    
                    
template(name='grid')
    .ui.header grid
    .ui.stackable.three.cards
        each current_delta.results
            .ui.card
                +result

template(name='list')
    .ui.header list
    each current_delta.results
        .ui.segment
            .ui.header #{title}        

template(name='map')
    .ui.header map
    .ui.stackable.three.cards
        each current_delta.results
            .ui.card
                +result

template(name='cal')
    .ui.header cal
    .ui.stackable.three.cards
        each current_delta.results
            .ui.card
                +result


template(name='change_delta_view')
    .ui.button.set_delta_view(class=view_button_class)
        i.icon(class=icon)
        |#{label}