template(name='delta')
    .ui.padded.stackable.grid
        .row
            .six.wide.column
                each current_delta.facets
                    .row
                        +facet
                        div
            .ten.wide.column
                .ui.centered.stackable.cards
                    each current_delta.result_ids
                        +result
    

template(name='result')
    .ui.fluid.card
        .content
            with result
                // div auto fields
                .ui.list
                    each fields
                        .item #{label}
                            strong #{value}
                // div schema fields
                // each result_schema_fields
                //     +Template.dynamic template=field_type
                +edit_button
                +view_button

        

template(name='facet')
    if filtering_res
        .ui.small.inline.inverted.header #{key}
        // each filters
        //     .unselect.ui.blue.button #{this}
        each filtering_res
            if name
                .selector.ui.compact.button.toggle_selection(class=toggle_value_class)
                    strong #{name}
                    small #{count}
            
            
        
        
        
template(name='default')
    .ui.header #{title}
    .ui.header #{timestamp}            
    .ui.form
        +title
        +description
        +tags
        +text key='slug' label='slug'
        +text key='icon' label='icon'
    +edit_button
    +view_button template='view_section'
