template(name='edit')
    with doc
        .ui.stackable.padded.grid
            .four.wide.column
                .ui.header
                    i.pencil.icon
                    |edit #{title}
                a.ui.fluid.button(href="/view/#{_id}")
                    i.checkmark.icon
                .ui.button.icon.delete
                    i.remove.icon
                +bricks
            .twelve.wide.column
                .ui.segment
                    .ui.form
                        each bricks
                            +brick_edit
                        +text_edit key='title'
                        +text_edit key='type'
                        // +text_edit key='plural'
                        // +text_edit key='slug'
                        +text_edit key='icon'
                        +ref_edit multi=true key='keys' schema='field'
                        .field
                            label Notes
                            textarea.body(rows='5') #{body}
                        +array_edit key='tags'


template(name='bricks')
    .ui.secondary.segment
        each bricks
            .ui.button.add_brick
                i.icon(class=icon)
                |#{title}


template(name='brick_edit')
    with brick
        .ui.header #{title}

template(name='facet_view')
    with result 
        .ui.basic.segment
            if body
                .f8 #{nl2br body}
            if youtube_id
                .ui.embed.youtube(data-source="youtube" data-id=youtube_id class=invert_class)
        if dev
            .ui.input
                input.new_list(type='text' placeholder='add list')
            .ui.input
                input.new_tag(type='text' placeholder='add tag')
            each tags
                .ui.compact.button.remove_tag 
                    |#{this}
            .ui.input
                input.youtube_id(type='text' value=youtube_id placeholder='yt')
            div
            textarea.edit_body(rows='5') #{body}



template(name='view')
    with doc
        .ui.stackable.padded.grid
            .row
                .ten.wide.column
                    .ui.breadcrumb
                        a.section(href='/dash')
                            .ui.circular.label
                                i.grey.dashboard.icon
                                |Home
                        // .divider  /
                        a.section(href="/s/#{type}")
                            .ui.circular.label
                                i.grey.icon(class=schema.icon)
                                |#{schema.plural}
                        // .divider  /
                        .active.section
                            if title
                                |#{title}
                            else
                                |View #{type}
            .row
                .four.wide.column
                    // .ui.header
                    //     a.ui.circular.icon.button(href="/s/#{type}" title=plural)
                    //         i.chevron.left.icon
                    //     |View #{type}
                    if is_author
                        +edit_button_big
                .twelve.wide.column
                    .ui.header
                        if icon
                            i.grey.icon(class=icon)
                        |#{title}
                    h4 #{body}
                    +tags_view_big
                    div
                    +user_list_toggle key='bookmark_ids' add_icon='bookmark outline' remove_icon='bookmark' add_label='Bookmark' remove_label='Unbookmark' color='red' big=true
                    div
                    +comments