template(name='edit')
    with doc
        .ui.stackable.grid
            .six.wide.column
                .ui.header edit #{type} #{title}
                .ui.button.print log
                .ui.fluid.button.save(title='save')
                    i.large.checkmark.icon
            .ten.wide.column
                .ui.form
                    .field
                        .ui.header #{type}
                    .field
                        label tags
                        each tags
                            .ui.big.label 
                                i.remove.link.icon.remove_tag
                                |#{this}
                        .ui.icon.input
                            input.new_tag(type='text' placeholder='add tag')
                            i.plus.icon
                    .field
                        label body
                        textarea.edit_body(rows='20') #{body}
                    
                    
template(name='field_edit')
    .ui.segment
        .ui.labeled.input
            .ui.label name: #{key}
            input.change_key(type='text' placeholder='key' value=key)
        .ui.icon.button.remove_field
            i.remove.icon
        div
        +Template.dynamic template=brick_edit
        


template(name='view')  
    with doc
        .ui.grid
            .row
                .ten.wide.column
                    .ui.basic.segment
                        .f8 #{body}
                    each tags
                        .ui.large.label #{this}
                    +comments
                    +ownership
        
                .six.wide.column
                    +author_info
                    +voting
                    +creation_info
                    +edit_button
                    +bookmark_button


template(name='field_view')
    .item   
        .content
            .header #{this}
            .description
                +Template.dynamic template=brick_view