template(name='edit')
    with doc
        .ui.stackable.grid
            .centered.row
                .twelve.center.aligned.wide.column
                    i.pencil.large.grey.icon(title='editing doc')
                    a.ui.big.icon.circular.button(href="/view/#{_id}")
                        i.checkmark.icon
                    .ui.circular.button.icon.delete
                        i.remove.icon
                    +detect
            .centered.row
                .fifteen.wide.column
                    +brick_menu
                    // +ref_edit multi=false key='_schema' type='schema'
                    .ui.padded.stackable.two.column.grid
                        each _keys
                            .column
                                +key_edit
                    if analyzed_text
                        |#{nl2br analyzed_text}
                    if watson
                        +watson_view
                    if visual_classes
                        +visual_classes


template(name='key_edit')
    .ui.tertiary.segment
        i.remove.icon.large.link.remove_key(title='remove field')
        .ui.labeled.input
            .ui.label(title='name') #{key}
            input.change_key(type='text' placeholder='key' value=key)
        
        .ui.divider
        +Template.dynamic template=field_edit
        .ui.divider
        +jsonView json=meta
        
        
template(name='key_view')
    div
    .ui.inline.grey.header(title='name') #{key}
    +Template.dynamic template=field_view
    // .ui.divider
    // +jsonView json=meta
        
        

template(name='brick_menu')
    i.large.grey.plus.icon(title='add brick')
    each bricks
        .ui.circular.button.add_brick
            i.icon(class=icon)
            |#{title}


template(name='view')
    with doc
        .ui.stackable.padded.grid
            .centered.row
                .ten.wide.center.aligned.column
                    a.ui.large.icon.circular.button(href='/')
                        i.home.icon
            .centered.row
                .fifteen.wide.column
                    .ui.header
                        if icon
                            i.grey.icon(class=icon)
                        |#{title}
                    each _keys
                        +key_view
                    .ui.hidden.divider
                    if analyzed_text
                        |#{nl2br analyzed_text}
                        .ui.hidden.divider
                    if is_author
                        +edit_button
                        +detect
                    +user_list_toggle key='bookmark_ids' add_icon='bookmark outline' remove_icon='bookmark' add_label='Bookmark' remove_label='Unbookmark' color='red' big=true
                    +clone_button
                    div
                    +comments_view
                    if watson
                        +watson_view
                    if visual_classes
                        +visual_classes
