template(name='doc_card')        
    if youtube
        +view_youtube
    if image_url
        .ui.image
            img(src=image_url)

    .ui.stackable.grid
        .twelve.wide.column
            .ui.segment
                if content
                    .large-text !{content}
                each tags 
                    .doc_tag.ui.small.compact.button(class=tag_class) #{this}
        .four.wide.column
            .ui.segment
                +author_info
                div #{when}
                if is_author
                    a.ui.icon.button(href="/edit/#{_id}")
                        i.pencil.icon
                a.ui.icon.button(href="/view/#{_id}")
                    i.right.arrow.icon
                if currentUser
                    div
                        +vote_button
                    div
                        if upvoted_users
                            +upvoted_list
            
            
template(name='vote_button')
    .ui.icon.button.vote_up
        i.thumbs.up.link.icon(class=vote_up_button_class)
    .ui.icon.button.vote_down
        i.thumbs.down.link.icon(class=vote_down_button_class)
    |#{points}
        
            
                    
                        
                    
template(name='view_youtube')
    .ui.embed(data-source="youtube" data-id=youtube)


template(name='view_doc')        
    with doc
        .ui.stackable.grid
            .ui.twelve.wide.column
                if youtube
                    +view_youtube
                if image_url
                    .ui.image
                        img(src=image_url)
            
                .ui.segment
                    .content
                        if content
                            .large-text !{content}
                        each tags 
                            .doc_tag.ui.small.compact.button(class=tag_class) #{this}
                if watson
                    .ui.segment
                        +analyzed_watson_keywords

            .ui.four.wide.column
                .ui.segment
                    .content
                        +author_info
                        if is_author
                            a.ui.icon.button(href="/edit/#{_id}")
                                i.pencil.icon
                    if currentUser
                        +vote_button
                    if watson
                        +doc_emotion
                    else
                        +call_watson
                    +upvoted_list
                



