template(name='edit')
    with doc
        .ui.stackable.padded.grid
            .four.wide.column
                .ui.header
                    i.pencil.icon
                    | #{title}
                a.ui.fluid.button(href="/view/#{_id}")
                    i.checkmark.icon
                .ui.button.icon.delete
                    i.remove.icon
                // +ref_edit multi=true key='_bricks' type='brick'
                +brick_menu
                +ref_edit multi=false key='_schema' type='schema'
            .twelve.wide.column
                .ui.segment
                    .ui.form
                        each _keys
                            +key_edit
                        // +text_edit key='title'
                        // +text_edit key='type'
                        // // // +text_edit key='plural'
                        // +text_edit key='slug'
                        // +text_edit key='icon'
                        // // +ref_edit multi=true key='keys' schema='field'
                        // .field
                        //     label Notes
                        //     textarea.body(rows='5') #{body}
                        // +array_edit key='tags'




template(name='key_edit')
    .ui.segment
        .ui.labeled.input
            .ui.label name: #{key}
            input.change_key(type='text' placeholder='key' value=key)
        .ui.divider
        +Template.dynamic template=field_edit
        i.remove.icon.link.remove_key
        .ui.divider
        +jsonView json=meta
        
        

template(name='brick_menu')
    .ui.secondary.segment
        .ui.header add brick
        each bricks
            .ui.button.add_brick
                i.icon(class=icon)
                |#{title}


template(name='view')
    with doc
        .ui.stackable.padded.grid
            .row
                .ten.wide.column
                    .ui.breadcrumb
                        a.section(href='/dash')
                            .ui.circular.label
                                i.grey.dashboard.icon
                                |Home
                        // .divider  /
                        if schema
                            a.section(href="/s/#{type}")
                                .ui.circular.label
                                    i.grey.icon(class=schema.icon)
                                    |#{schema.plural}
                            // .divider  /
                        .active.section
                            if title
                                |#{title}
                            else
                                |View #{type}
            .row
                .four.wide.column
                    // .ui.header
                    //     a.ui.circular.icon.button(href="/s/#{type}" title=plural)
                    //         i.chevron.left.icon
                    //     |View #{type}
                    if is_author
                        +edit_button_big
                .twelve.wide.column
                    .ui.header
                        if icon
                            i.grey.icon(class=icon)
                        |#{title}
                    h4 #{body}
                    +tags_view_big
                    div
                    +user_list_toggle key='bookmark_ids' add_icon='bookmark outline' remove_icon='bookmark' add_label='Bookmark' remove_label='Unbookmark' color='red' big=true
                    div
                    +comments