template(name='edit')
    with doc
        .ui.stackable.grid
            .ten.wide.column
                .ui.form
                    .field
                        .ui.header #{type}
                    +youtube_edit
                    .field
                        label body
                        textarea.edit_body(rows='20') #{body}
            .six.wide.column
                .ui.header edit #{type} #{title}
                .ui.form
                    .field
                        label tags
                        each tags
                            .ui.large.label 
                                i.remove.link.icon.remove_tag
                                |#{this}
                        .ui.icon.input
                            input.new_tag(type='text' placeholder='add tag')
                            i.plus.icon
                .ui.button.print log
                +save_button
                    
                    
template(name='field_edit')
    .ui.segment
        .ui.labeled.input
            .ui.label name: #{key}
            input.change_key(type='text' placeholder='key' value=key)
        .ui.icon.button.remove_field
            i.remove.icon
        div
        +Template.dynamic template=brick_edit
        

template(name='view')
    with result 
        .ui.tertiary.segment
            .ui.grid
                .row
                    .sixteen.wide.column
                        .content
                            if body
                                .f8 #{nl2br body}
                            if youtube_id
                                +youtube_view
                .row
                        each tags
                            .ui.label
                                |#{this}
                .row
                    .eight.wide.column
                        +comments
                    .eight.wide.column
                        +author_info
                        +creation_info
                        // +edit_button
                        div
                        +voting
                        +bookmark_button
                        if can_edit
                            // +edit_button
                            +remove_button



        


template(name='field_view')
    .item   
        .content
            .header #{this}
            .description
                +Template.dynamic template=brick_view