template(name='doc_view')        
    with doc
        +Template.dynamic template=view_template
            
            
            
            
template(name='post_view')
    .ui.stackable.divided.grid
        .four.wide.column
            +call_watson
            +doc_emotion
            +doc_sentiment
            +tone
            +entities
            +concepts
        .eight.wide.column
            if youtube
                +view_youtube
            if image_url
                .ui.image
                    img(src=image_url)
            .large130 !{html}
            +view_full_button
            +edit_button
            +comments
            .ui.divider
            +semantic_roles
            +relations

            +threaded_children
            +doc_matches
            +keywords
            .content
                if title
                    h1.ui.center.aligned.header #{title}
                if slug
                    h4.ui.center.aligned.header #{slug}
                if content
                    .large-text !{content}
        .four.wide.column
            if tags
                .ui.header author tags
                each tags 
                    .doc_tag.ui.button(class=tag_class) #{this}
            +personality
            +consumption_preferences
            +author_info
            | #{when}
            if is_author
                a.ui.icon.button(href="/edit/#{_id}")
                    i.pencil.icon

            .ui.segment
                .ui.header template: #{template}
            if parent_id
                +parent_link
            if watson
                +doc_emotion
            else
                +call_watson
            +add_child_button
            if currentUser
                div
                    +vote_button
            +upvoted_list
            +crowd_tags
            +ownership