template(name='doc_edit')
    with doc
        .ui.inverted.center.aligned.header edit doc
        .ui.stackable.padded.grid
            .ten.wide.column
                if template
                    +Template.dynamic template=edit_type_template
                else
                    // if parent_id
                    +parent_doc_segment
                    .ui.header hi
                    each field_ids
                        +edit_field template=field_doc.field_template key=field_doc.slug
                    .content
                        // .ui.basic.segment
                        //     .ui.labeled.action.small.input
                        //         .ui.label image url
                        //         input#image_url(type='text' value=image_url)
                        //         if image_url
                        //             #clear_image_url.ui.icon.button
                        //                 i.remove.icon
                        // .ui.basic.segment
                        //     if image_url
                        //         .ui.image
                        //             img(src=image_url)
                        // .ui.basic.segment
                        //     .ui.labeled.action.small.input
                        //         .ui.label youtube
                        //         input#youtube(type='text' value=youtube)
                        //         if youtube
                        //             #clear_youtube.ui.icon.button
                        //                 i.remove.icon
                        //     if youtube
                        //         +view_youtube
                +edit_textarea key='content' label='Content'
            .six.wide.column
                a.ui.icon.large.fluid.button(href="/view/#{_id}")
                    i.checkmark.icon
                +published        
                #delete.ui.icon.button
                    i.remove.icon
                .ui.divider
                .ui.inverted.segment
                    .ui.inverted.header template
                    +toggle_key key='template' value=null label='none'
                    +toggle_key key='template' value='question' label='question'
                    +toggle_key key='template' value='ad' label='ad'
                    +toggle_key key='template' value='event' label='event'
                    +toggle_key key='template' value='quiz' label='quiz'
                    +toggle_key key='template' value='prediction' label='prediction'
                    +toggle_key key='template' value='offer' label='offer'
                .ui.divider
                .ui.inverted.segment
                    .ui.inverted.header user actions
                //     +toggle_list_items list='user_actions' value='tag_rating' label='tag rating'
                //     +toggle_list_items list='user_actions' value='comments' label='comments'
                //     +toggle_list_items list='user_actions' value='bounty' label='bounty'
                //     +toggle_list_items list='user_actions' value='ownership' label='ownership'
                .ui.divider
                +reference_other_children type='field' key='field_ids'
                .ui.inverted.segment
                    .ui.inverted.header components
                    +reference_other_children type='component' key='component_ids'
                .ui.inverted.segment
                    .ui.inverted.header permissions
                .ui.inverted.segment
                    .ui.inverted.header access
                    +toggle_key key='access' value='public' label='public'
                    +toggle_key key='access' value='private' label='private'
                    +toggle_key key='access' value='payment_required' label='payment_required'
                    +toggle_key key='access' value='subscription_required' label='subscription_required'
                    
        .ui.divider
    
