template(name='edit')
    with doc
        .ui.stackable.grid
            .four.wide.column
                .ui.segment
                    .ui.button.print print
                    each _keys
                        .ui.label #{this}                
                    .content
                        .ui.small.header add brick
                        each bricks
                            .ui.button.add_brick
                                |#{this}
                    a.ui.fluid.button(href="/view/#{_id}")
                        i.checkmark.icon
            .twelve.wide.column
                each _keys
                    +field_edit
                    
                    
                    
template(name='field_edit')
    .ui.segment
        .ui.labeled.input
            .ui.label name: #{key}
            input.change_key(type='text' placeholder='key' value=key)
        .ui.icon.button.remove_field
            i.remove.icon
        div
        +Template.dynamic template=brick_edit
        