template(name='edit')
    with doc
        .sixteen.wide.column
            .ui.form
                .field
                    each tags
                        .ui.label 
                            i.remove.link.icon.remove_tag
                            |#{this}
                    .ui.icon.input
                        input.new_tag(type='text' placeholder='add tag')
                        i.plus.icon
                .field
                    textarea.edit_body(rows='20') #{body}
            if is_dev
                .ui.button.print log
            a.ui.fluid.button(href="/view/#{_id}")
                i.checkmark.icon
                |save
                
                    
template(name='field_edit')
    .ui.segment
        .ui.labeled.input
            .ui.label name: #{key}
            input.change_key(type='text' placeholder='key' value=key)
        .ui.icon.button.remove_field
            i.remove.icon
        div
        +Template.dynamic template=brick_edit
        