template(name='edit_doc')
    with doc
        .ui.padded.stackable.grid
            .twelve.wide.column
                .content
                    div
                        .ui.small.input
                            input#add_tag(type='text' maxlength='50' )
                        each tags
                            a.ui.compact.button.doc_tag
                                i.remove.icon
                                |#{this}
                
                    div
                        .ui.labeled.action.small.input
                            .ui.label image url
                            input#image_url(type='text' value=image_url)
                            if image_url
                                #clear_image_url.ui.icon.button
                                    i.remove.icon
                    div
                        if image_url
                            .ui.image
                                img(src=image_url)
                    div
                        .ui.labeled.action.small.input
                            .ui.label youtube
                            input#youtube(type='text' value=youtube)
                            if youtube
                                #clear_youtube.ui.icon.button
                                    i.remove.icon
                        if youtube
                            +view_youtube
                    .field
                        .froala-container
                            +froalaReactive getFEContext
            .four.wide.column
                if tags
                    a.ui.icon.large.fluid.button(href="/view/#{_id}")
                        i.checkmark.icon
                +published        
                #delete.ui.icon.button
                    i.remove.icon
