template(name='edit')
    with doc
        .ui.segment.container
            .ui.button.print print
            each _keys
                .ui.label #{this}                
            .content
                .ui.labeled.input
                    .ui.label new key
                    input.new_key(type='text' placeholder='new key name')
            .content
                each _keys
                    +field
                    
                    
                    
template(name='field')
    .ui.segment
        .ui.header key:
            strong #{this} [#{field_value}]
        div
        .ui.labeled.input
            .ui.label key: #{key}
            input.change_key(type='text' placeholder='key' value=key)
        div
        .ui.labeled.input
            .ui.label label: #{meta.label}
            input.change_label(type='text' placeholder='label' value=meta.label)
        div
        .ui.icon.button.remove_field
            i.remove.icon
        div
        .ui.label brick: #{meta.brick}
        each bricks
            +change_brick
        div
        +Template.dynamic template=brick_template
        
        
        
        
template(name='change_brick')        
    .ui.button.set_brick
        |#{this}
            
                        
                
        

