template(name='edit')
    with doc
        .ui.stackable.padded.grid
            .centered.row
                .two.wide.column
                    i.pencil.large.grey.icon(title='editing doc')
                    a.ui.big.button(href="/view/#{_id}")
                        i.checkmark.icon
                        |Save
                    .ui.button.icon.delete_doc
                        i.remove.icon
                    +detect
                .fourteen.wide.column
                    +field_menu
                    each fields
                        .ui.label #{this}
                    // +ref_edit multi=false key='_schema' type='schema'
                    .ui.padded.stackable.two.column.grid
                        each _keys
                            .column
                                +field_edit
                    //- if analyzed_text
                    //-     |#{nl2br analyzed_text}
                    //- if watson
                    //-     +watson_view
                    //- if visual_classes
                    //-     +visual_classes

template(name='field_menu')
    .ui.header 
        i.grey.plus.icon(title='add field')
        |Add Block
    each fields
        .ui.button.add_field
            i.icon(class=icon)
            |#{title}


template(name='field_edit')
    .ui.tertiary.segment
        i.remove.icon.large.link.remove_field(title='Remove Field')
        .ui.labeled.input
            .ui.label(title='name') #{key}
            input.change_key(type='text' placeholder='key' value=key)
        
        .ui.divider
        +Template.dynamic template=field_edit
        .ui.divider
        //- +jsonView json=meta
