template(name='enter')
    .ui.text.inverted.segment.container
        h1.ui.center.aligned.header 
            | DAO
        if message
            h4.ui.center.aligned.inverted.header #{message}
        .ui.inverted.fluid.input(class=login_class)
            input.username(type='text' placeholder='username')
        .ui.hidden.divider
        .ui.inverted.fluid.input(class=login_class)
            input.password(type='password' placeholder='password')
        .ui.inverted.basic.fluid.icon.large.button.enter(class=enter_class)
            if registering
                |Register #{username}
            else
                |Login #{username}
        .ui.hidden.divider
        .row
            .ten.wide.column
                .ui.inverted.basic.fluid.icon.large.button.new_demo
                    i.plus.icon
                    | Anon Session
                
                