template(name='enter')
    .ui.hidden.divider
    .ui.text.container
        h1.ui.center.aligned.header 
            | DAO
        if message
            h4.ui.center.aligned.header #{message}
        .ui.fluid.input(class=login_class)
            input.username(type='text' placeholder='username')
        .ui.fluid.input(class=login_class)
            input.password(type='password' placeholder='password')
        .ui.fluid.large.button.enter(class=enter_class)
            if registering
                i.plus.icon
                |#{username}
            else
                i.play.icon
                | #{username}
        .ui.hidden.divider
        .row
            .ten.wide.column
                .ui.fluid.icon.large.button.new_demo
                    i.plus.icon
                    | anon
                
                