template(name='enter')
    .ui.centered.grid
        .row
            .ten.wide.column
                .ui.fluid.inverted.center.aligned.segment
                    .white_bat.sub
                        |DAO
        if message
            .row
                h4.ui.center.aligned.inverted.header #{message}
        .row
            .ten.wide.column
                .ui.inverted.fluid.input(class=login_class)
                    input.username(type='text' placeholder='username')
                .ui.hidden.divider
                .ui.inverted.fluid.input(class=login_class)
                    input.password(type='password' placeholder='password')
        .row
            .ten.wide.column
                .ui.inverted.basic.fluid.icon.large.button.enter(class=enter_class)
                    if registering
                        |register #{username}
                    else
                        |login #{username}
                