template(name='date_facet')
    // .ui.header date facet
    if selected_tags
        #clear_tags.ui.icon.large.active.button
            i.remove.icon
        each selected_tags
            .unselect_tag.ui.large.active.button
                strong #{this}
    each tags
        .ui.compact.button.select_tag(class=tag_class)
            strong #{this.name}
        // .ui.compact.button.select_tag


template(name='array_facet')
    if selected_tags
        #clear_tags.ui.icon.large.active.button
            i.remove.icon
        each selected_tags
            .unselect_tag.ui.large.active.button
                strong #{this}
    each tags
        .ui.compact.button.select_tag(class=tag_class)
            strong #{this.name}
        // .ui.compact.button.select_tag


    
template(name='location_facet')
    // .ui.header location facet
    
    
template(name='tags')
    // .ui.left.icon.small.inline.input
    //     i.search.icon
    //     input#search(type='text')    
    // |&nbsp;  
    if selected_tags
        #clear_tags.ui.icon.large.active.button
            i.remove.icon
        each selected_tags
            .unselect_tag.ui.large.active.button
                strong #{this}
    each tags
        .ui.large.button.select_tag
            | #{this.name}
        // .ui.compact.button.select_tag(class=tag_class)



    
    
    