template(name='title')
    if editing
        .field
            label title
            input.edit_title(type='text' value=title placeholder='title')
    else 
        .ui.header #{title}
        
        
template(name='field')
    // .ui.header #{key}
    // .ui.header #{field_type}
    +Template.dynamic template=field_type
        
template(name='textarea')
    if editing
        .ui.form
            .field
                label #{key}
                textarea.edit_textarea(rows='3') #{value}
    else
        .ui.basic.segment
            |#{nl2br value}    
    
template(name='text')
    if editing
        .ui.labeled.fluid.input
            .ui.label #{key}
            input.edit_text(type='text' value=value placeholder=label)
    else 
        div
        | #{key}: &nbsp;
        strong #{value}
    div    
    
    
template(name='tags') 
    .field
        label
            i.tags.icon
            |tags
        if editing
            each tags
                .ui.label 
                    i.remove.link.icon.remove_tag
                    |#{this}
            .ui.icon.input
                input.new_tag(type='text')
                i.plus.icon
        else
            each tags
                .ui.label #{this}
            
        
template(name='complete_toggle_button')
    if complete
        .ui.button
            i.checkmark.icon
            |complete
    else
        .ui.button
            i.unchecked.checkbox.icon
            |incomplete
    
template(name='author_info')
    with author
        strong #{username}
        
template(name='creation_info')
    strong #{when}
        
        
        
template(name='children')
    .ui.small.header #{label}
    .ui.segment
        if editing
            .ui.button.add_child
                i.plus.icon
                |child
        each children
            +child
                

template(name='child')
    .ui.segment
        +text key='key'
        +text key='field_type'
        +remove_button
        
        
        
template(name='boolean')
    .ui.button
        |#{key}