template(name='link_edit')
    .ui.form
        .field
            label 
                if icon
                    i.icon(class=icon)
                |#{label}
            input.edit_url(type='url' value=field_value placeholder='url')
        // +call_watson mode='url'


template(name='link_view')
    .ui.small.header 
        if icon
            i.icon(class=icon)
        |#{label}
    a(href=field_value target='_window') #{field_value}


template(name='image_view')
    img.ui.fluid.image(src="{{c.url field_value height=400 crop='limit'}}")


template(name='image_edit')
    .ui.form
        .field
            if field_value
                label Image
                img.ui.fluid.image(src="{{c.url field_value height=500 crop='limit'}}")
                a#remove_photo.ui.right.corner.link.label
                    i.remove.red.link.icon
            else
                label Upload Image
                input(type='file' name='upload_image' accept='image/*')


template(name='image_link_edit')
    .ui.labeled.icon.fluid.input
        .ui.label image link
        i.image.icon
        input.edit_image_link(type='link' value=field_value placeholder='image link' )
    if field_value
        img.ui.fluid.image(src=field_value)
    // +call_visual


template(name='image_link_view')
    img.ui.image(src=field_value)







template(name='textarea_view')
    div
        if icon
            i.icon(class=icon)
        |#{label}: &nbsp;
        if field_value
            |#{nl2br field_value}


template(name='textarea_edit')
    .ui.form
        .field
            label 
                if icon
                    i.icon(class=icon)
                if label
                    |#{label}
                else
                    |#{key}
            textarea.edit_textarea(rows='5') #{field_value}
        // +call_watson mode='text'


template(name='html_edit')
    .ui.form
        .inline.field
            label 
                if icon
                    i.icon(class=icon)
                if label
                    |#{label}
                else
                    |#{key}
    .froala-container
        +froalaReactive getFEContext



template(name='html_view')
    |!{field_value}





template(name='text_edit')
    .ui.labeled.input
        .ui.label 
            if icon
                i.icon(class=icon)
            if label
                |#{label}
            else
                |#{key}
        input.edit_text(type='text' value=field_value placeholder=placeholder)

template(name='text_view')
    div
        if icon
            i.icon(class=icon)
        |#{label}: &nbsp;
        strong #{field_value}





template(name='code_edit')
    .ui.header ace
    #ace






template(name='number_edit')
    .ui.labeled.input
        .ui.label
            if icon
                i.icon(class=icon)
            |#{label}
        input.edit_number(type='number' value=field_value placeholder=placeholder)

template(name='number_view')
    if icon
        i.icon(class=icon)

    | #{label}: &nbsp;
    strong #{field_value}





template(name='date_edit')
    .ui.form
        .field
            label 
                if label
                    |#{label}
                else
                    |#{key}
            input.edit_date(type='date' value=field_value placeholder=placeholder)


template(name='date_view')
    if icon
        i.icon(class=icon)

    | #{label}: &nbsp;
    strong #{field_value}







template(name='array_edit')
    div
    .ui.labeled.icon.input
        .ui.label 
            if icon
                i.icon(class=icon)
            if label
                |#{label}
            else
                |#{key}
        input.new_element(type='text' placeholder='+')
    if field_value
        each field_value
            .ui.label
                i.remove.link.icon.remove_element
                |#{this}
    div


template(name='array_view')
    div 
        if icon
            i.icon(class=icon)
        |#{label}
        each field_value
            .ui.label #{this}







template(name='children_edit')
    .ui.fluid.secondary.segment
        .ui.accordion
            .active.title
                .ui.small.inline.header #{label}
                i.dropdown.icon
            .active.content
                .ui.button.add_child
                    i.plus.icon
                    |Add Child
                each children
                    +child



template(name='child')
    .ui.segment
        each bricks
            if field_template
                .ui.header field template #{field_template}
            else 
                +Template.dynamic template=edit_template 
    
        // .ui.red.segment
        //     +text_edit key='key'
        //     // +text_edit key='field'
        //     +single_doc_edit key='field' ref_schema='field' ref_key='slug' label='Field Type'
        //     +text_edit key='label'
        //     +text_edit key='icon'
        //     if icon
        //         i.big.icon(class=icon)
        //     // if is_reference
    
        //     +single_doc_edit key='ref_schema' ref_schema='schema' ref_key='slug' label='Referenced Schema (if ref)'
        //     .ui.divider
        div
        +remove_button







template(name='youtube_edit')
    .ui.labeled.fluid.input
        .ui.label 
            if icon
                i.icon(class=icon)
            |youtube id
        input.youtube_id(type='text' value=field_value placeholder=placeholder)
    if field_value
        iframe(width='560' height='315' src="https://www.youtube.com/embed/#{field_value}" frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')

template(name='youtube_view')
    if field_value
        if icon
            i.icon(class=icon)

        iframe(width='560' height='315' src="https://www.youtube.com/embed/#{field_value}" frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')





template(name='boolean_edit')
    .ui.button.toggle_boolean(class=boolean_toggle_class)
        |#{label} [#{key}]


template(name='boolean_view')
    div 
        if icon
            i.icon(class=icon)

        |#{label}: &nbsp;
        if field_value
            // .ui.blue.label #{label}
            strong True
        else
            strong False
            // .ui.label #{label}
        


template(name='single_doc_view')
    div
    .ui.small.inline.header(title=key)
        if icon
            i.icon(class=icon)
        |#{label}
    .ui.label
        if icon
            i.icon(class=icon)
        |#{field_value}
    div


template(name='single_doc_edit')
    div
    .ui.small.inline.header(title=key) 
        if icon
            i.icon(class=icon)
        |#{label}
    each choices
        .ui.compact.button.select_choice(class=choice_class)
            if icon
                i.icon(class=icon)
            |#{title}
            |#{key}
    div


template(name='multi_doc_edit')
    div
    .ui.small.inline.header(title=key)
        if icon
            i.icon(class=icon)
        |#{label}
    each choices
        .ui.compact.button.select_choice(class=choice_class)
            if icon
                i.icon(class=icon)
            |#{title}
            |#{key}
    div

template(name='multi_doc_view')
    div
    .ui.small.inline.header(title=key)
        if icon
            i.icon(class=icon)
        |#{label}
    each field_value
        .ui.label
            |#{this}
    div



template(name='single_user_edit')
    .ui.form
        .field.attached
            label User Selection for #{key}
            input#single_user_select_input(type='text' placeholder='Lookup User...')
            each selections
                .ui.large.circular.label
                    |#{username} #{profile.name}
        if user_results
            .ui.top.attached.segment
                .ui.middle.aligned.selection.animated.list
                    each user_results
                        .select_user.item
                            h5.ui.header
                                img.ui.avatar.image(src="{{c.url image_id width=100 height=100 gravity='face' crop='fill'}}")
                                |#{username}
        .field
            +user_info field_value
            // .ui.list
            //     each field_value
            //         |#{this}
            //         .item
            //             .right.floated.content
            //                 i.pull_user.remove.link.icon
            //             .image
            //                 img.ui.avatar.image(src="{{c.url image_id width=100 height=100 gravity='face' crop='fill'}}")
            //             .content
            //                 h4.ui.header
            //                     |#{first_name} #{last_name}
            //                     small @#{username}


template(name='multi_user_edit')
    .ui.form
        .field.attached
            label User Selection for #{key}
            input#multi_user_select_input(type='text' placeholder='Lookup User...')
            each selections
                .ui.large.circular.label
                    |#{username} #{profile.name}
        if user_results
            .ui.top.attached.segment
                .ui.middle.aligned.selection.animated.list
                    each user_results
                        .select_user.item
                            h5.ui.header
                                img.ui.avatar.image(src="{{c.url image_id width=100 height=100 gravity='face' crop='fill'}}")
                                |#{username}
        .field
            +user_info field_value
            // .ui.list
            //     each field_value
            //         |#{this}
            //         .item
            //             .right.floated.content
            //                 i.pull_user.remove.link.icon
            //             .image
            //                 img.ui.avatar.image(src="{{c.url image_id width=100 height=100 gravity='face' crop='fill'}}")
            //             .content
            //                 h4.ui.header
            //                     |#{first_name} #{last_name}
            //                     small @#{username}
