template(name='title')
    if editing
        .field
            label title
            input.edit_title(type='text' value=title placeholder='title')
    else 
        .ui.header #{title}
        
        
template(name='description')
    if editing
        .field
            label description
            textarea.edit_description(rows='3') #{description}
    else
        .ui.basic.segment
            |#{nl2br description}    
    
template(name='text_edit')
    .field
        label #{label}
        input.edit_text(type='text' value=value placeholder=label)

    
    
    
template(name='tags') 
    .field
        label
            i.tags.icon
            |tags
        if editing
            each tags
                .ui.label 
                    i.remove.link.icon.remove_tag
                    |#{this}
            .ui.icon.input
                input.new_tag(type='text')
                i.plus.icon
        else
            each tags
                .ui.label #{this}
            
        
template(name='edit_button')
    if editing
        .ui.button.save
            i.checkmark.icon
            |save
    else
        .ui.button.edit
            i.pencil.icon
            |edit



template(name='complete_toggle_button')
    if complete
        .ui.button
            i.checkmark.icon
            |complete
    else
        .ui.button
            i.unchecked.checkbox.icon
            |incomplete
    
template(name='author_info')
    with author
        strong #{username}
        
template(name='creation_info')
    strong #{when}
        
        
        
        
        