template(name='edit_text')
    .ui.basic.segment
        .ui.labeled.fluid.input
            .ui.label 
                if icon
                    i.icon(class=icon)
                |#{label}
            input#text_field(type='text' value=page_key_value)

        
template(name='view_text')
    h4.ui.header #{title}: #{key_value}

        
template(name='edit_html')
    #toolbar
    .editor
        
        
template(name='edit_date')            
    .field
        label #{label}
        .ui.left.icon.input
            if icon
                i.icon(class=icon)
            input#date_field(type='date' value=key_value)        

template(name='edit_number')
    .field
        label #{label}
        .ui.left.icon.input
            if icon
                i.icon(class=icon)
            input#number_field(type='number' min='0' value=key_value)


template(name='edit_textarea')
    .field
        label #{label}
        textarea#textarea(rows='10') #{key_value}


        
template(name='view_array')
    if field_value
        .ui.segment
            each field_value
                .ui.large.label #{this}
    
    
template(name='edit_array')
    // .ui.header 
    //     // i.tags.icon
    //     |#{key}
    .ui.input
        input.new_entry(type='text' maxlength='50' placeholder='add tag')
        // .ui.icon.button
        //     i.right.arrow.icon
    // .ui.mini.input
    //     +inputAutocomplete settings=theme_select_settings id="theme_tag_select" class="" autocomplete="off"
    // each field_value
    each ../tags
        // a.ui.circular.button.doc_tag #{this}
        a.ui.button.doc_tag
            i.remove.icon
            |#{this}


template(name='boolean_edit')
    .ui.button.toggle_field(class=bool_switch_class title=key)
        if icon
            i.icon
                +icon name=icon
        |#{title}


template(name='array_edit')
    .ui.fluid.labeled.right.icon.input
        .ui.basic.label
            if icon
                +icon name=icon classes='inline spaced'
            |#{title}
        input.add_array_element(type='text' placholder='add')
        i.plus.icon
    if value
        each value
            .ui.large.basic.label
                i.pull_element.remove.link.icon
                |#{this}




template(name='multiref_edit')
    .ui.basic.label
        if icon
            +icon name=icon classes='inline spaced'
        |#{title}
    each choices
        .ui.button.toggle_element(class=element_class)
            if icon
                i.icon
                    +icon name=icon
            |#{title}



template(name='ref_edit')
    .ui.basic.label
        if icon
            +icon name=icon classes='inline spaced'
        |#{title}
    each choices
        .ui.button.choose_element(class=element_class)
            if icon
                i.icon
                    +icon name=icon
            |#{title}


template(name='string_edit')
    .ui.fluid.labeled.input
        .ui.basic.label
            if icon
                +icon name=icon classes='inline spaced'
            |#{title}
        input.string_val(type='text' value=value)




template(name='textarea_edit')
    .ui.fluid.labeled.input
        .ui.basic.label
            if icon
                +icon name=icon classes='inline spaced'
            |#{title}
        textarea.textarea_val(rows='5')
            |#{value}




template(name='number_edit')
    .ui.fluid.labeled.input
        .ui.basic.label
            if icon
                +icon name=icon classes='inline spaced'
            |#{title}
        input.number_val(type='number' value=value)


template(name='date_edit')
    .ui.fluid.labeled.input
        .ui.basic.label
            if icon
                +icon name=icon classes='inline spaced'
            |#{title}
        input.date_val(type='date' value=value)


template(name='field_view')
    if value
        .item
            if field_template
                +Template.dynamic template=field_template
            else
                if icon
                    i.icon
                        +icon name=icon
                |&nbsp;
                |#{title}:
                |&nbsp;
                if is_array
                    each value
                        .ui.basic.label #{this}
                else
                    strong &nbsp; #{value}
