template(name='title_edit')
    .field
        label title
        input.edit_title(type='text' value=title placeholder='title')


template(name='title_view')
    .ui.header #{title}
        
        
template(name='textarea_edit')
    .ui.form
        .field
            label #{key}
            textarea.edit_textarea(rows='3') #{field_value}

template(name='textarea_view')
    .ui.basic.segment
        |#{nl2br field_value}    
    
    
    
template(name='text_edit')
    .ui.labeled.fluid.input
        .ui.label #{key}
        input.edit_text(type='text' value=field_value placeholder=label)

template(name='text_view')
    | #{key}: &nbsp;
    strong #{field_value}
    
    
template(name='tags_edit') 
    .field
        label
            i.tags.icon
            |tags
        each tags
            .ui.label 
                i.remove.link.icon.remove_tag
                |#{this}
        .ui.icon.input
            input.new_tag(type='text')
            i.plus.icon


template(name='tags_view') 
    each tags
        .ui.label #{this}
            
        
template(name='complete_toggle_button')
    if complete
        .ui.button
            i.checkmark.icon
            |complete
    else
        .ui.button
            i.unchecked.checkbox.icon
            |incomplete
    
    
    
    
template(name='author_info')
    with author
        strong #{username}
        
template(name='creation_info')
    strong #{when}
        
        
        
template(name='children_edit')
    .ui.small.header #{label}
    .ui.segment
        if editing
            .ui.button.add_child
                i.plus.icon
                |child
        each children
            +child
                

template(name='child')
    .ui.segment
        +text key='key'
        +text key='field_type'
        +remove_button
        
        
        
template(name='boolean_edit')
    .ui.button
        |#{key}
        
        
template(name='ref_edit')
    div #{key}
    each choices
        .ui.button.select_choice
            if icon
                i.icon(class=icon)
            |#{title}     
            |#{key}
            
            
            