head
    title dao
    meta(name='viewport', content='user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width')
    meta(name="theme-color", content="#ffffff")
    link(rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu")

body
    +home


template(name='home')
    .ui.stackable.padded.celled.grid
        if currentUser
            .center.aligned.black.row(class=my_tribe.color)
                .eight.wide.column.create_delta.pointer
                    .white_bat.font_200 DAO
                if currentUser
                    .two.wide.column.profile.pointer
                        i.user.icon
                        | #{currentUser.username}
                    .one.wide.column.logout.pointer
                        i.sign.out.alternate.icon
                else
                    .four.wide.column
                        i.sign.in.alternate.icon
            // .centered.grey.row
            //     each tribe_modules
            //         .ui.button.select_module
            //             i.icon(class=icon)
            //             |#{title}
            //         // .two.wide.column.select_module.pointer
            if currentUser
                +delta
        else
            .black.row
                .twelve.wide.column
                    +loginButtons
                    
                    
template(name='delta')    
    // .five.wide.column.scrolling
    .grey.row
        if delta
            // h2.ui.header 
            //     if current_module.icon
            //         i.icon(class=current_module.icon)  
            //     | #{current_module.title}
            .ui.icon.button.add_doc
                i.plus.icon
            .ui.icon.button.delete_delta
                i.remove.icon
            .ui.icon.button.print_delta
                i.code.icon
            .ui.icon.button.recalc
                i.refresh.icon
    each delta.facets
        .row
            unless hidden
                +facet
            div
    .row
        .ui.centered.stackable.cards
            each current_delta.results
                +result
                
template(name='result')                
    .ui.fluid.card
        .content
            .ui.list
                each fields
                    .item
                        strong #{label}
                        // div [#{type}]
                        if is_html
                            |!{value}
                        else if is_number
                            .ui.header ##{value}
                            // strong time
                            // |{{ from_now value }}
                        else if is_array
                            each value
                                .ui.label #{this}
                        else
                            |#{value} 
                    


template(name='change_delta_key')
    .ui.button.set_delta_key(class=delta_key_button_class)
        if icon
            i.icon(class=icon)
        |#{label}
        
        


template(name='facet')
    // .ui.small.inline.header #{key}
    // each filters
    //     .unselect.ui.blue.button #{this}
    
    each res
        if name
            .ui.button.toggle_selection(class=toggle_value_class)
                strong #{name}
                // small #{count}
            
                            