template(name='view_toggle')
    .toggle_view.ui.large.icon.button(title=label)
        i.icon(class=icon)
        
template(name='view_toggle_item')
    a.toggle_view.ui.icon.item(title=label)
        i.icon(class=icon)
        
        
template(name='table_view')
    .ui.table
        // thead
        //     tr
        //         // th _id
        //         th tags
        //         // th author
        //         // th html
        //         th action
        tbody
            each table_docs
                tr
                    // td #{_id}
                    td 
                        each tags
                            .ui.label #{this}
                    // td 
                    //     +author_info
                    td !{html}
                    // td
                    //     +view_full_button
                        
                        
template(name='calendar')