template(name='me')
    .ui.stackable.padded.celled.grid
        .centered.row
            .ten.wide.center.aligned.column
                a.ui.large.icon.circular.button(href='/')
                    i.home.icon
        .centered.row
            .ten.wide.center.aligned.column
                .ui.grey.header #{currentUser.username}
                .ui.icon.input
                    input.new_username(type='text' placeholder='change username')
                    i.play.link.icon.change_username
                .ui.small.grey.header change password
                .ui.input
                    input.old_password(type='text' placeholder='old')
                .ui.icon.input
                    input.new_password(type='text' placeholder='new')
                    i.play.link.icon.change_password
                .three.wide.column
                    .ui.grey.header
                        |karma
                    |#{currentUser.karma}
                    .ui.grey.header
                        |points
                    |#{currentUser.points}
                .ui.grey.header 
                    i.bell.icon
                    |alerts
                .ui.grey.header
                    i.user.shield.icon
                    | roles
                .ui.list
                    each currentUser.roles
                        .item #{this}
                .ui.grey.header 
                    i.users.icon
                    | friends
                .ui.list
                    each currentUser.friends
                        .item #{this}
                .ui.grey.header.logout_others
                    i.user.times.icon
                    |logout other clients
                .ui.grey.header.logout
                    i.sign.out.alternate
                    |sign out