template(name='me')
    .ui.stackable.padded.celled.grid
        .row
            .four.wide.column
                .ui.header #{currentUser.username}
            .four.wide.column
                .ui.icon.fluid.input
                    input.new_username(type='text' placeholder='change username')
                    i.play.link.icon.change_username
            .four.wide.column
                .ui.small.header change password
                .ui.fluid.input
                    input.old_password(type='text' placeholder='old')
                .ui.icon.fluid.input
                    input.new_password(type='text' placeholder='new')
                    i.play.link.icon.change_password
        .row
            .three.wide.column
                .ui.header
                    |karma
                |#{currentUser.karma}
                .ui.header
                    |points
                |#{currentUser.points}
            .four.wide.column
                .ui.header 
                    i.mail.icon
                    |emails
            .four.wide.column
                .ui.header 
                    i.bell.icon
                    |alerts
            .four.wide.column
                .ui.header
                    i.user.shield.icon
                    | roles
                .ui.list
                    each currentUser.roles
                        .item #{this}
        .row
            .four.wide.column
                .ui.header 
                    i.users.icon
                    | friends
                .ui.list
                    each currentUser.friends
                        .item #{this}
            .four.wide.column.pointer.logout_others
                .ui.icon.header 
                    i.user.times.icon
                    |logout other clients
            .three.wide.column.logout.pointer
                .ui.icon.header
                    i.sign.out.alternate.icon
                    |sign out