template(name='nav')
    .ui.top.fixed.inverted.menu
        a.header.icon.item.home.pointer(href='/')
            // .black_bat.logo DAO
            i.home.icon
        each sections
            a.icon.item.select_section(href="/d/#{slug}")
                i.icon(class=icon)
            
        // a.icon.item.reddit(href='#')
        //     i.reddit.alien.icon
        // a.icon.item.library(href='#')
        //     i.university.icon
        // a.icon.item.tasks(href='#')
        //     i.tasks.icon
        // a.icon.item.chat(href='#')
        //     i.chat.icon
        // a.icon.item.blog(href='/blog')
        //     i.newspaper.icon
        // a.icon.item.school(href='#')
        //     i.graduation.cap.icon
        // a.icon.item.cal(href='#')
        //     i.calendar.icon
        // a.icon.item.time(href='#')
        //     i.clock.icon
        // a.icon.item.users(href='#')
        //     i.users.icon
        // a.icon.item.leaderboard(href='#')
        //     i.trophy.icon
        // a.icon.item.mail(href='#')
        //     i.mail.icon
        .right.menu
            a.me.item.add(href='#')
                i.plus.icon
            
            .pointer.me.item
                if currentUser
                    i.user.icon
                    | #{currentUser.username}
            .pointer.icon.item.logout
                i.sign.out.alternate.icon
            // if current_delta
                // h2.ui.header 
                //     if current_module.icon
                //         i.icon(class=current_module.icon)  
                //     | #{current_module.title}
                // .pointer.icon.item.add_doc
                //     i.plus.icon
                // .pointer.icon.item.delete_delta
                //     i.remove.icon
                // .pointer.icon.item.print_delta
                //     i.code.icon
                // .pointer.icon.item.recalc
                //     i.refresh.icon


    
template(name='footer')
    .ui.bottom.fixed.inverted.small.menu
        .item.black_bat
            i.creative.commons.outline.icon
            | DAO
        .right.menu
            .item
                +donate
                    
template(name='donate')
    form(action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_top')
        input(type='hidden', name='cmd', value='_s-xclick')
        input(type='hidden', name='hosted_button_id', value='AUVHGYNUW5LVE')
        // input(type='image', src='https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif', border='0', name='submit')
        img(alt='', border='0', src='https://www.paypal.com/en_US/i/scr/pixel.gif', width='1', height='1')
        button.ui.inverted.basic.button(type='submit')
            |donate
