template(name='nav')
    .ui.inverted.attached.big.borderless.menu(class=my_tribe.color)
        if in_dao
            a.icon.item.dash(href='#')
                .black_bat.font_150 DAO
        else
            .item
                |#{my_tribe.title}
        each tribe_modules
            a.item.select_module
                i.icon(class=icon)
                |#{title}
        .right.menu
            if currentUser
                a.icon.item.modules(href='#')
                    i.cubes.icon
            if currentUser
                a.item.profile(href='#')
                    i.user.icon
                    | #{currentUser.username}
                a.icon.item.logout(href='#')
                    i.sign.out.alternate.icon
            else
                .icon.item
                    i.sign.in.alternate.icon
   
   
   
template(name='history')   
    .ui.header History
    .ui.breadcrumb
        a.section Home
        .divider  / 
        a.section Store
        .divider  / 
        .active.section T-Shirt


