template(name='topnav')
    .ui.attached.borderless.large.inverted.topnav.menu(style="background:#{ct.primary_color}")
        a.item.toggle_leftbar(href='#')
            i.bars.icon
        if ct.logo_id
            a.item(href="/t/#{ct.slug}" class="{{isActivePath '/'}}")
                img.ui.tiny.image(src="{{c.url ct.logo_id}}")
        else
            a.header.item(href="/t/#{ct.slug}" class="{{isActivePath '/'}}")
                |#{ct.title}
        if is_loading
            .icon.item
                i.loading.refresh.icon
        each topnav_pages
            a.item(href="/t/#{ct.slug}/p/#{slug}")
                if show_icon
                    i.icon(class=icon)
                if show_label
                    |#{title}
        // a.item.toggle_invert(href='#')
        //     i.adjust.icon
        .right.menu
            if currentUser
                a.icon.item(href="/t/#{ct.slug}/add" title="#{ct.title} Add")
                    i.plus.icon
                // a.item.toggle_topbar(href='#')
                //     i.inbox.icon
                a.item(href="/t/#{ct.slug}/chat" title="#{ct.title} Chat")
                    i.chat.icon
                a.item.tribe_schemas(href="/t/#{ct.slug}/s/schema" title="#{ct.title} Schemas")
                    i.sitemap.icon
                a.item.tribe_pages(href="/t/#{ct.slug}/s/page" title="#{ct.title} Pages")
                    i.clone.icon
                a.item(href="/t/#{ct.slug}/users" title="#{ct.title} Users")
                    i.users.icon
                a.icon.item(href="/t/#{ct.slug}/u/#{currentUser._id}/edit" title="#{ct.title} Account")
                    i.cog.icon
                a.item(href="/t/#{ct.slug}/u/#{currentUser._id}/about" title="#{ct.title} Profile")
                    i.user.icon
                    // | #{currentUser.username} [#{currentUser.status}]
                    | #{currentUser.username}
                a.item.toggle_rightbar(href='#')
                    i.bars.icon
            else
                a.item(href="/signin")
                    i.sign.in.alternate.icon
                    |Sign In 
                a.item(href="/register")
                    i.user.plus.icon
                    |Register 
    // if currentUser
    .ui.attached.borderless.inverted.menu.topnav(style="background:#{ct.primary_color}")
        each topnav_schemas
            a.item.mobile_hidden.set_tribe_schema(href="/t/#{tribe}/s/#{slug}" data-inverted='' title=title)
                i.icon(class=icon)
                |#{plural}



template(name='topbar')
    .ui.top.sidebar.inverted.push.nav_bar.toggle_topbar.topbar(style="background:#{ct.primary_color}")
        .ui.grid
            .centered.row
                .four.wide.center.aligned.column
                    .ui.inverted.list
                        each nonprofit_pages
                            a.item(href="/p/#{slug}") #{title}
                .four.wide.center.aligned.column
                    .ui.inverted.list
                        each church_pages
                            a.item(href="/p/#{slug}") #{title}
                .four.wide.center.aligned.column
                    .ui.inverted.list
                        each also_serving_pages
                            a.item(href="/p/#{slug}") #{title}
                .four.wide.center.aligned.column
                    .ui.inverted.list
                        each resource_pages
                            a.item(href="/p/#{slug}") #{title}
        a.icon.item(href='/alerts' title='Alerts')



template(name='rightbar')
    .ui.right.vertical.sidebar.nav_bar.inverted.menu.rightbar(style="background:#{ct.primary_color}")
        if is_church
            .profile-picture
                a(href="{{pathFor route='churchDashboard'}}" class="{{isActiveRoute 'churchDashboard'}}")
                    if currentUser.profile.profilePic
                        img.img-circle.m-b(src='{{currentUser.profile.profilePic}}' alt='logo' width='100' height='79')
                    else
                        img.img-circle.m-b(src='/icons/Logo_sm_100.png' alt='logo' width='100' height='79')
        if is_admin
            .profile-picture
                a(href="{{pathFor route='adminDashboard'}}")
                    if currentUser.profile.profilePic
                        img.img-circle.m-b(src='{{currentUser.profile.profilePic}}' alt='logo' width='100' height='79')
                    else
                        img.img-circle.m-b(src='/icons/Logo_sm_100.png' alt='logo' width='100' height='79')
        
        if is_user
            .profile-picture
                a(href="{{pathFor route='dashboard'}}")
                    if currentUser.profile.profilePic
                        img.img-circle.m-b(src='{{currentUser.profile.profilePic}}' alt='logo' width='100' height='79')
                    else
                        img.img-circle.m-b(src='/icons/Logo_sm_100.png' alt='logo' width='100' height='79')
        .item.toggle_rightbar
            | #{currentUser.profile.first_name} #{currentUser.profile.last_name}
            | #{currentUser.username} #{currentUser.profile.name}
            i.grey.user.shield.icon(title='Role')
            each currentUser.roles
                .ui.basic.label #{this}
        // .item.toggle_rightbar
        //     i.leaderboard.icon
        //     | Leaderboard
        // a.item.toggle_rightbar(href='/account')
        //     if currentUser.username
        //         |#{currentUser.username}
        //     else
        //         |Account
        a.item.toggle_rightbar(href="/u/#{currentUser._id}/about")
            i.user.icon
            | Profile
        a.item.toggle_rightbar(href="/u/#{currentUser._id}/edit")
            i.cog.grey.icon
            | Settings
        if signing_out
            .icon.disabled.item.toggle_rightbar
                i.notched.circle.loading.big.icon
        else
            a.logout.item.toggle_rightbar(href='#')
                i.sign.out.icon
                | Log Out






template(name='leftbar')
    .ui.left.vertical.sidebar.nav_bar.inverted.menu.leftbar(style="background:#{ct.primary_color}")
        // if is_dev
        //     a.item.toggle_leftbar.toggle_dev.mobile_hidden(href="#")
        //         i.user.shield.icon
        //         | Dev
        // a.item.toggle_leftbar(href="/people" class="{{isActiveRoute regex='people'}}" title='People')
        //     i.users.icon
        //     | People
        // a.item.toggle_leftbar(href="/churches" class="{{isActiveRoute regex='churches'}}" title='Churches')
        //     i.building.icon
        //     | Organizations
        // a.item.toggle_leftbar(href='/chat' title='Chat' class="{{isActiveRoute regex='chat'}}")
        //     i.chat.icon
        //     | Chat
            
        if currentUser
            a.item(href="/user/#{currentUser._id}/edit" class="{{isActiveRoute 'user_edit'}}")
                i.user.icon
                | My Account
                
            a.item#linkLogout(href='/logout')
                i.sign.out.icon
                | Logout
            
        each tribe_schemas
            a.item.set_schema.toggle_leftbar(href="/t/#{ct.slug}/s/#{slug}")
                i.icon(class=icon)
                | #{plural}




template(name='footer')
    // .ui.inverted.bottom.fixed.menu(style="background:#{ct.secondary_color}")
    //     .item
    //         i.copyright.outline.icon
    //     .item    
    //         |#{ct.footer}
    //     .right.menu
    #footer.ui.inverted.attached.segment(style="background:#{ct.secondary_color}")
        .ui.stackable.padded.equal.width.grid
            .row.footer-row
                .column.footer1-col
                    h5.ui.small.inverted.header Info
                    .ui.list
                        if ct.address
                            .item
                                i.globe.icon
                                .content #{ct.address}             
                        if ct.contact_email
                            .item
                                i.mail.icon
                                a(href="mailto:#{ct.contact_email}") #{ct.contact_email}
                        if ct.contact_phone
                            .item
                                i.phone.icon
                                a(href="tel:#{ct.contact_phone}") #{ct.contact_phone}
                .column
                    .ui.small.inverted.header Links
                    .ui.inverted.list
                        each footer_pages
                            a.item(href="/t/#{ct.slug}/p/#{slug}") #{title}
                // .column
                //     h5.ui.small.inverted.header Social Media
                //     .ui.list
                //         if ct.facebook
                //             a.item(href="https://www.facebook.com/#{ct.facebook}", target='_blank')
                //                 img(src='/images/32x32x1.png', alt='32x32x1')
                //         if ct.twitter
                //             a.item(href='https://twitter.com/Joyful_Giver', target='_blank')
                //                 img(src='/images/32x32x2.png', alt='32x32x2')
                //         if ct.instagram
                //             a.item(href='https://www.instagram.com/joyfulgiver_app/', target='_blank')
                //                 img(src='/images/32x32x9.png', alt='32x32x9')
                //     .ui.small.images
                //         img(src='/images/stripe.png', alt='100x80x1')
                //         img(src='/images/ssl.png', alt='100x80x2')
                //         a(href='https://www.bbb.org/dallas/business-reviews/financial-services/joyful-giver-in-plano-tx-90907663#bbbseal', target='_blank')
                //             img(src='/images/bbb.png', alt='100x80x2')
            .centered.two.column.row
                .center.aligned.column
                    .ui.divided.horizontal.list
                        .item
                            .ui.inline.header
                                i.copyright.outline.icon
                                |2019 
                                |#{ct.title}
                        .item
                            a.ui.inline.inverted.header(href='/')
                                |DAO
