template(name='health_club_dashboard')
    .ui.stackable.padded.grid
        .row
            .eight.wide.column
                .row
                    .ui.header
                        // +icolor name='internal' classes='ui image'
                        i.sign.in.icon
                        |Checked In Members
                    .ui.stackable.four.cards
                        each checkedin_members
                            .ui.card
                                a(href="/t/goldrun/u/#{_id}/about")
                                    img.ui.image(src="{{c.url profile.image_id width=400 height=400 gravity='face' crop='fill'}}")
                                    img.ui.image(src="{{c.url image_id width=400 height=400 gravity='face' crop='fill'}}")
                                .content
                                    a(href="/t/goldrun/u/#{_id}/about")
                                        .header #{first_name} #{last_name}
                                    a.meta(href="/t/goldrun/u/#{_id}/about") #{username}
                                    .ui.header Apt # #{apt_number}
                                    .ui.header Building #{building}

                                .ui.fluid.button.checkout(title='Sign Out')
                                    i.sign.out.large.icon
                                    |Sign Out
                                if signed_waiver
                                    .ui.fluid.green.basic.button
                                        i.checkmark.icon
                                        |Waiver Signed
                                else
                                    .ui.fluid.red.button.sign_waiver
                                        i.cancel.icon
                                        |Waiver Not Signed
                    .ui.divider
                    .ui.header
                        // +icolor name='external' classes='ui image'
                        i.sign.out.icon
                        |Checked Out Members
                    .ui.fluid.icon.input
                        i.search.icon
                        input.username_search(type='text' placeholder='Search Username...')
                    .ui.stackable.four.cards
                        each checkedout_members
                            .ui.card
                                a(href="/t/goldrun/u/#{_id}/about")
                                    img.ui.image(src="{{c.url profile.image_id width=400 height=400 gravity='face' crop='fill'}}")
                                .content
                                    a.header(href="/t/goldrun/u/#{_id}/about")
                                        |#{profile.first_name} #{profile.last_name}
                                    .meta #{username}
                                    .ui.header Apt # #{apt_number}
                                    .ui.header Building #{building}
                                .ui.fluid.button.checkin(title='Check In')
                                    i.sign.in.icon
                                    |Sign In
            .four.wide.column.scrolling
                a.ui.large.fluid.button(href='/t/goldrun/add_resident')
                    i.user.plus.green.icon
                    |Add Resident
                .ui.accordion
                    h4.active.title
                        +icolor name='edit-property' classes='ui inline image'
                            .ui.inline.dividing.header 
                        i.dropdown.icon
                        | Log
                    .active.content
                        .ui.feed
                            each events
                                .event
                                    .label
                                        img.ui.image(src="{{c.url object.profile.image_id width=400 height=400 gravity='face' crop='fill'}}")
                                    .content
                                        .summary
                                            |#{body}
                                            .date
                                                |#{when}
                                    if is_dev
                                        +remove_button
                .ui.accordion
                    h4.active.title
                        +icolor name='megaphone' classes='ui inline image'
                        |Notices
                        i.dropdown.icon
                    .active.content
                .ui.accordion
                    .active.title
                        +icolor name='car' classes='ui inline image'
                        | Warned Cars
                        i.dropdown.icon
                    .active.content
                .ui.accordion
                    .active.title
                        +icolor name='poll-topic' classes='ui inline image'
                        |Poll
                        i.dropdown.icon
                    .active.content
                .ui.accordion
                    .active.title
                        +icolor name='front-desk' classes='ui inline image'
                        | Staff On Duty
                        i.dropdown.icon
                    .active.content
                        with currentUser
                            .ui.card
                                img.ui.image(src="{{c.url profile.image_id }}")
                                .content
                                    .header #{username}
            .four.wide.column.scrolling
                .ui.accordion
                    h4.active.title
                        +icolor name='basketball' classes='ui inline image'
                        | Basketball Court
                        i.dropdown.icon
                    .active.content
                        if open
                            +icolor name='open-sign' classes='ui mini inline image'
                            .ui.button.checkin Check In
                        else
                            +icolor name='close-sign' classes='ui mini inline image'
                            .ui.button.signout Check Out
                .ui.accordion
                    h4.active.title
                        +icolor name='bicycle' classes='ui inline image'
                        | Impounded Bikes
                        i.dropdown.icon
                    .active.content
                .ui.accordion
                    h4.active.title
                        +ioffice name='beach-volleyball' classes='ui inline image'
                        | Vollyball Court
                        i.dropdown.icon
                    .active.content
                        if open
                            +ioffice name='open-sign' classes='ui mini inline image'
                            .ui.button.checkin Check In
                        else
                            +ioffice name='close-sign' classes='ui mini inline image'
                            .ui.button.signout Check Out
                .ui.accordion
                    h4.active.title
                        +ioffice name='tennis' classes='ui inline image'
                        | Racquetball Court #1
                        i.dropdown.icon
                    .active.content
                        if open
                            +ioffice name='open-sign' classes='ui mini inline image'
                            .ui.button.checkin Check In
                        else
                            +ioffice name='close-sign' classes='ui mini inline image'
                            .ui.button.signout Check Out
                .ui.accordion
                    h4.active.title
                        +ioffice name='tennis' classes='ui inline image'
                        | Racquetball Court #2
                        i.dropdown.icon
                    .active.content
                        if open
                            +ioffice name='open-sign' classes='ui mini inline image'
                            .ui.button.checkin Check In
                        else
                            +ioffice name='close-sign' classes='ui mini inline image'
                            .ui.button.signout Check Out
                .ui.accordion
                    h4.active.title
                        +ioffice name='swimming-back-view' classes='ui inline image'
                        |Pool
                        i.dropdown.icon
                    .active.content
                        if open
                            +icolor name='open-sign' classes='ui mini inline image'
                            .ui.button.checkin Check In
                        else
                            +icolor name='close-sign' classes='ui mini inline image'
                            .ui.button.signout Check Out
                .ui.accordion
                    h4.active.title
                        +icolor name='jacuzzi' classes='ui inline image'
                        |Indoor Hot Tub
                        i.dropdown.icon
                    .active.content
                        | Status    
                        if open
                            +icolor name='open-sign' classes='ui mini inline image'
                            .ui.button.checkin Check In
                        else
                            +icolor name='close-sign' classes='ui mini inline image'
                            .ui.button.signout Check Out
                .ui.accordion
                    h4.active.title
                        +icolor name='jacuzzi' classes='ui inline image'
                        |Outdoor Hot Tub
                        i.dropdown.icon
                    .active.content
                        | Status    
                        if open
                            +icolor name='open-sign' classes='ui mini inline image'
                            .ui.button.checkin Check In
                        else
                            +icolor name='close-sign' classes='ui mini inline image'
                            .ui.button.signout Check Out
                        
                        
                        
template(name='add_resident')
    .ui.stackable.padded.grid
        .centered.row
            .eight.wide.column
                h1.ui.center.aligned.header
                    i.user.plus.icon
                    |Add Resident
                .ui.large.form
                    .field
                        |First Name
                        input#first_name(type='text')
                    .field
                        |Last Name
                        input#last_name(type='text')
                    .field
                        |Username
                        input#username(type='text')
                if permission
                    .ui.fluid.green.button.create_and_checkin
                        |Create and Checkin
        .row
        
        
template(name='sign_waiver')
    with receipt_doc
        .ui.stackable.padded.grid
            .centered.row
                .twelve.wide.column.scrolling
                    .row
                        h1.ui.center.aligned.header
                            i.user.plus.icon
                            |Sign Waiver
                        with waiver_doc
                            |!{html}
                        .ui.big.form
                            .field
                                |First Name
                                input#first_name(type='text' val=first_name)
                            .field
                                |Last Name
                                input#last_name(type='text' val=last_name)
                            .disabled.field
                                |Username
                                input#username(type='text' val=username)
                            .field
                                |Last Name
                                input#address(type='text' val=last_name)
                            .field
                                | Building
                                input#address(type='text' val=last_name)
                            .field
                                | Apt #
                                input#apt(type='number' val=last_name)
                            .field
                                | Phone
                                input#apt(type='number' val=last_name)
                            
                        .ui.fluid.green.button.sign_waiver
                            | Sign Waiver