template(name='leaderboard')
    .ui.header
        i.trophy.icon
        |leaderboard
    .ui.padded.stackable.two.column.grid
        .column
            .ui.segment
                .ui.header
                    i.trophy.icon
                    |points
                .ui.ordered.list
                    each point_leaders
                        .item
                            .ui.header #{username}
                            .ui.small.header #{points}
        .column
            .ui.segment
                .ui.header 
                    i.user.shield.icon
                    |karma
                .ui.ordered.list
                    each point_leaders
                        .item
                            .ui.header #{username}
                            .ui.small.header #{karma}
        .column
            .ui.segment
                .ui.header 
                    i.handshake.icon
                    |sales
                .ui.ordered.list
                    each point_leaders
                        .item
                            .ui.header #{username}
                            .ui.small.header #{points}
                            .ui.small.header #{sales}
                
        
template(name='shop')
    .ui.header
        i.shopping.bag
        |shop
    .ui.padded.grid
        .four.wide.column
            +add_type_button type='product'
        .twelve.wide.column
            each products
                .ui.segment
                    .ui.header
                        each tags
                            .ui.label #{this}
    
    
    
template(name='blog')
    .ui.header
        i.newspaper.bag
        |blog
    +add_type_button type='post'
    
template(name='tribes')
    .ui.header
        i.fire.icon
        |tribes
    +add_type_button type='tribe'
    .ui.stackable.padded.grid
        .six.wide.column
        .ten.wide.column
            each tribes
                +tribe_segment
                
                
template(name='tribe_segment')
    .ui.segment
        .ui.header 
            #{title}
        .ui.header
            each tags
                .ui.label #{this}
    
    
    
    
    