template(name='karma')
    .ui.header karma
    .ui.header my karma #{currentUser.karma}
    
    .ui.header 
        i.cart.icon
        | marketplace
    each products
        .ui.segment
            .ui.header #{title}
            
            
template(name='mail')
    .ui.header 
        i.mail.icon
        |mail
    .ui.header my messages #{currentUser.karma}
    
template(name='alerts')
    .ui.header 
        i.bell.icon
        |alerts
    .ui.header my messages #{currentUser.karma}
    
            
template(name='chat')
    .ui.header
        i.chat.icon
    each chats
        .ui.item
            .content
                |#{body}
    .ui.fluid.input
        input.add_chat(type='text' placeholder='new chat')
        
template(name='users')
    .ui.header users
    .ui.four.cards
        each users
            .card
                .content 
                    .ui.header #{username}
                    .ui.list
                        .ui.item #{points} points
                        .ui.item #{karma} karma
                    
                    a.ui.icon.button(href="/u/#{username}")
                        i.right.arrow.icon
        