template(name='page')
    with page
        if fullscreen
            if html
                |!{html}
            each children
                // with page
                +Template.dynamic template=slug
        else  
            .ui.stackable.padded.grid
                unless hide_header
                    .centered.middle.aligned.row
                        .four.wide.center.aligned.column
                        .eight.wide.center.aligned.column
                            .ui.large.header 
                                if icon
                                    i.icon(class=icon)
                                |#{title}
                        .four.wide.center.aligned.column
                            if can_edit
                                a.ui.icon.button(href="/s/page/#{_id}/edit" title='Edit Page')
                                    i.pencil.icon
                .centered.row
                    .sixteen.wide.column 
                        if html
                            |!{html}
                        each children
                            // with page
                            +Template.dynamic template=slug
                        
                        
template(name='add')
    .ui.stackable.padded.grid
        .row
            .sixteen.wide.column
                .ui.center.aligned.header
                    i.plus.icon
                    | Add
        .row
            .sixteen.wide.column
                .ui.stackable.four.link.cards
                    each add_schemas
                        .card.add_doc
                            .content
                                .header 
                                    i.icon(class=icon)
                                    |#{title}
                        
                        
template(name='pages')
    .ui.stackable.padded.grid
        .row
            .sixteen.wide.column
                .ui.center.aligned.header
                    i.clone.icon
                    | Pages
        .row
            .sixteen.wide.column
                .ui.stackable.four.link.cards
                    each add_schemas
                        .card.add_doc
                            .content
                                .header 
                                    i.icon(class=icon)
                                    |#{title}
                        
template(name='schemas')
    .ui.stackable.padded.grid
        .row
            .sixteen.wide.column
                .ui.center.aligned.header
                    i.sitemap.icon
                    | Schemas
        .row
            .sixteen.wide.column
                .ui.stackable.four.link.cards
                    each add_schemas
                        .card.add_doc
                            .content
                                .header 
                                    i.icon(class=icon)
                                    |#{title}
                        
                        
template(name='block')
    .ui.stackable.padded.grid
        .centered.row   
            .twelve.wide.column
                .ui.large.center.aligned.header #{title}
        .centered.row   
            .eight.wide.column
                if left_image
                    img.ui.fluid.image(src="{{c.url image_id height=400 crop='limit'}}")
                else
                    |!{html}
            .eight.wide.column
                unless left_image
                    img.ui.fluid.image(src="{{c.url image_id height=400 crop='limit'}}")
                else
                    |!{html}                        