template(name='posts')    
    .ui.stackable.grid  
        .four.wide.column
            +add_button type='post'
            +tag_facet
            +timestamp_facet
            +location_facet
        .twelve.wide.column
            if editing_id
                +doc_edit
                #save.ui.button save
            else
                +table_view
                // +dev_footer


template(name='view_toggle')
    .toggle_view.ui.large.icon.button(title=label)
        i.icon(class=icon)
        
template(name='view_toggle_item')
    a.toggle_view.ui.icon.item(title=label)
        i.icon(class=icon)
        
        
template(name='table_view')
    each table_docs
        each tags
            .ui.label #{this}
        .ui.basic.segment !{html}
        .ui.divider
        
        
        
template(name='post_view')
    .ui.padded.stackable.centered.grid
        .centered.row
            .three.wide.center.aligned.column
                +link_button link='/tasks' label='tasks' icon='tasks'
            .ten.wide.center.aligned.column
                h1.ui.header view post
            .three.wide.center.aligned.column
                +edit_button

        .row
            .eight.wide.column
                each tags
                    .ui.label #{this}
                .ui.basic.segment
                    .large130 !{html}
                if image_id
                    img.ui.centered.image(src="{{c.url image_id height=500 crop='fit'}}")
                    +call_visual_analysis
                    if visual
                        each visual
                            .ui.basic.label(title=type_hierarchy)
                                | #{class} {{to_percent score }}%
                +comments
            .four.wide.column
                .ui.segment
                    .ui.header
                        +author_info
                    h2.ui.sub.header #{when}
                    .ui.large.relaxed.list
                    .ui.header #{formal_when}
        
        
        
template(name='post_edit')
    .ui.center.aligned.header edit doc
    .ui.stackable.padded.grid
        .row
            .ten.wide.column
                // .ui.basic.segment
                //     .ui.labeled.action.small.input
                //         .ui.label image url
                //         input#image_url(type='text' value=image_url)
                //         if image_url
                //             #clear_image_url.ui.icon.button
                //                 i.remove.icon
                // .ui.basic.segment
                //     if image_url
                //         .ui.image
                //             img(src=image_url)
                // .ui.basic.segment
                //     .ui.labeled.action.small.input
                //         .ui.label youtube
                //         input#youtube(type='text' value=youtube)
                //         if youtube
                //             #clear_youtube.ui.icon.button
                //                 i.remove.icon
                //     if youtube
                //         +view_youtube
                // +edit_textarea key='content' label='Content'
                +edit_array_field key='tags'
                +edit_html_field
            .six.wide.column
                a.ui.icon.large.fluid.button(href="/view/#{_id}")
                    i.checkmark.icon
                +published        
                #delete.ui.icon.button
                    i.remove.icon
                // +template_picker
                // .ui.segment
                //     .ui.header user actions
                //     +toggle_list_items list='user_actions' value='tag_rating' label='tag rating'
                //     +toggle_list_items list='user_actions' value='comments' label='comments'
                //     +toggle_list_items list='user_actions' value='bounty' label='bounty'
                //     +toggle_list_items list='user_actions' value='ownership' label='ownership'
                // .ui.divider
                // +reference_other_children type='field' key='field_ids'
                // .ui.header components
                // +reference_other_children type='component' key='component_ids'
                // .ui.header permissions
                // .ui.header access
                // +toggle_key key='access' value='public' label='public'
                // +toggle_key key='access' value='private' label='private'
                // +toggle_key key='access' value='payment_required' label='payment_required'
                // +toggle_key key='access' value='subscription_required' label='subscription_required'
                                    