template(name='reddit')
    // #dash_header.ui.vertical.masthead.center.aligned.padded.segment
    //     .ui.container
            // .ui.hidden.divider
            // img.ui.medium.centered.image(src='https://jan-pro.com/wp-content/themes/underboot/img/jan-pro-white.svg')
            // h2.ui.inverted.header 
            //     i.rroueddit.icon
            //     |reddit
            // h2 Do whatever you want when you want to.
            // .ui.huge.primary.button
            //     | Get Started 
            //     i.right.arrow.icon
            // +customer_menu
    .ui.padded.stackable.grid
        .four.wide.column
            // #call_reddit.ui.button call reddit
            .ui.input
                input#check_subreddit(type='text')
            +keyword_facet
            +concept_facet
        .twelve.wide.column
            .ui.cards
                each docs
                    +reddit_small_card

template(name='reddit_big_card')
    .ui.fluid.card
        .content
            a.header(href="/view/#{_id}") #{title}
            .meta
                |domain: #{domain}
            // |reddit_id: #{reddit_id}
            a.ui.button(href=url target='_blank') article
            a.ui.button(href=permalink target='_blank') reddit
        .content
            +tone
        .content
            each watson.keywords
                .ui.label #{text}
        .content
            i.comments.icon
            | #{comment_count}


template(name='reddit_small_card')
    .ui.card
        .content
            a.header(href="/view/#{_id}") #{title}
            .meta
                |domain: #{domain}
            // |reddit_id: #{reddit_id}
            a.ui.button(href=url target='_blank') article
            a.ui.button(href=permalink target='_blank') reddit
        // .content
        //     +tone
        // .content
        //     each watson.keywords
        //         .ui.label #{text}
        .content
            #call_this_watson.ui.icon.button
                i.refresh.icon
            if watson
                i.info.icon
            else
                i.remove.icon
            i.comments.icon
            | #{comment_count}




template(name='reddit_view')
    .ui.padded.stackable.grid
        .centered.row
            .two.wide.center.aligned.column
                +link_button link='/reddit' icon='reddit'
            .twelve.wide.center.aligned.column
                h2.ui.header 
                    | #{title}
            .two.wide.center.aligned.column
                +edit_button
        .row
            .ui.top.attached.tabular.large.three.item.icon.menu
                a.active.icon.item(data-tab='info') 
                    i.large.info.icon
                    // |Info
                a.icon.item(data-tab='talk') 
                    i.large.chat.icon
                    // |Talk
                // a.icon.item(data-tab='actions') 
                //     i.large.star.icon
                //     // |actions
                a.icon.item(data-tab='analysis') 
                    i.large.heartbeat.icon
                    // |Analysis
                // a.icon.item(data-tab='activity') 
                //     i.large.rss.icon
                //     // | Activity
            .ui.bottom.attached.active.tab.segment(data-tab='info')
                .ui.padded.stackable.grid
                    .row
                        .twelve.wide.column
                            +author_info
                            .ui.list
                                .item _id: #{fnZBBkTcYgF4RepKx}
                                .item reddit_id: #{reddit_id}
                                a.item(href=url target='_blank') #{url}
                                .item domain: #{domain}
                                .item comment_count: #{comment_count}
                                .item permalink: #{permalink}
                                // .item title: #{title}
                                .item selftext: #{selftext}
                                .item thumbnail: #{thumbnail}
                                .item timestamp_tags: 
                                    each timestamp_tags
                                        .ui.label #{this}
                                // .item points: #{points}
                            h2.ui.sub.header #{when}
                            // +bookmark_button
                            // +vote_button
                    .row
                        .ui.basic.segment
                            #get_reddit_post.ui.button get reddit post 
                            // .large130 !{html}
                            // +jsonView json=reddit_data
                            if reddit_html
                                |!{reddit_html}
                            else if reddit_url
                                |#{reddit_url}
                                #analyze_link.ui.button analyze link
                                .ui.basic.segment
                                    |!{html}
                        if image_id
                            img.ui.centered.image(src="{{c.url image_id height=500 crop='fit'}}")
                            if visual
                                each visual
                                    .ui.basic.label(title=type_hierarchy)
                                        | #{class} {{to_percent score }}%
                            else
                                +call_visual_analysis
            // .ui.bottom.attached.tab.segment(data-tab='actions')
            //     .ui.padded.stackable.centered.grid
            //         .twelve.wide.column
            //             .ui.header tag this
                        
            .ui.bottom.attached.tab.segment(data-tab='talk')
                .ui.padded.stackable.centered.grid
                    .four.wide.column
                        +notify_button
                    .twelve.wide.column
                        +comments
            // .ui.bottom.attached.tab.segment(data-tab='activity')
            //     .ui.padded.stackable.centered.grid
            //         .eight.wide.column
            //             h4 doc_feed
            //             // +doc_feed
            .ui.bottom.attached.tab.segment(data-tab='analysis')
                .ui.padded.stackable.centered.grid
                    .four.wide.column
                        +call_watson
                        if watson
                            +doc_sentiment
                            +doc_emotion
                            +concepts
                            +categories
                            +entities
                            +concepts
                    .eight.wide.column
                        +semantic_roles
                        .ui.large.accordion
                            .active.title 
                                |tone
                                i.dropdown.icon
                            .active.content
                                +tone
                        +keyword_list
                        +concept_list
                        .ui.large.accordion
                            .active.title
                                |keywords
                                i.dropdown.icon
                            .active.content
                                +keywords
                        .ui.hidden.divider
                        +relations
                        // .ui.styled.accordion
                        //     .title 
                        //         i.code.icon
                        //         |full analysis data
                        //         i.dropdown.icon
                        //     .content
                        //         +jsonView(json=watson)
                    .four.wide.column
                        +personality
                        +consumption_preferences

        
