template(name='result')
    with result
        .ui.card
            .content
                .ui.header #{title}
                .ui.list
                    .item #{comment_count} comments
                    a.item(href=url target='_window') #{permalink}
                    .item sub: #{domain}
                    .item #{doc_sentiment_label}
                    .item #{doc_sentiment_score}
            .content
                .ui.header keywords
                each watson.keywords
                    .ui.basic.label
                        |#{text}
                        small #{to_percent relevance}%
            .content
                .ui.header entities
                each watson.entities
                    .ui.basic.label
                        .ui.label #{type}
                        |#{text}
                        |#{to_percent relevance}%
                        .ui.circular.label #{count}
            .content
                .ui.header emotion
                .ui.list
                    with watson.emotion.document.emotion
                        .ui.blue.tiny.progress(data-percent="#{to_percent sadness}")
                            .bar
                            .label sadness #{to_percent sadness}%
                        .ui.green.tiny.progress(data-percent="#{to_percent joy}")
                            .bar
                            .label joy #{to_percent joy}%
                        .ui.black.tiny.progress(data-percent="#{to_percent fear}")
                            .bar
                            .label fear #{to_percent fear}%
                        .ui.yellow.tiny.progress(data-percent="#{to_percent disgust}")
                            .bar
                            .label disgust #{to_percent disgust}%
                        .ui.red.tiny.progress(data-percent="#{to_percent anger}")
                            .bar
                            .label anger #{to_percent anger}%
            .content
                .ui.header entities
                each watson.entities
                    .ui.basic.label
                        .ui.label #{type}
                        |#{text}
                        |#{to_percent relevance}%
                        .ui.circular.label #{count}
            .content
                |{{nl2br html}}
            .content
                .ui.small.header personality
                with personality
                    .ui.list
                        .item Word Count #{word_count}
                    each personality
                        .ui.list
                            .item Trait ID #{trait_id}
                            .item Name #{name}
                            .item Category #{category}
                            .item Percentile #{percentile}
                            .item Significant #{significant}
                            each children
                                .item Trait ID #{trait_id}
                                .item Name #{name}
                                .item Category #{category}
                                .item Percentile #{percentile}
                                .item Significant #{significant}
                    each needs
                        .ui.list
                            .item Trait ID #{trait_id}
                            .item Name #{name}
                            .item Category #{category}
                            .item Percentile #{percentile}
                            .item Significant #{significant}
                    each values
                        .ui.list
                            .item Trait ID #{trait_id}
                            .item Name #{name}
                            .item Category #{category}
                            .item Percentile #{percentile}
                            .item Significant #{significant}
                    // each consumption_preferences
            .content
                .ui.header concepts
                each watson.concepts
                    a.ui.large.basic.label(href=dbpedia_resource target='_blank')
                        strong #{text}
                        small #{ to_percent relevance }%