head
    title DAO
    meta(name='viewport', content='user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width')
    meta(name="theme-color", content="#ffffff")

body
    +root


template(name='nav')
    .ui.padded.grid
        .black.centered.row
            .two.wide.column
                .black_bat.logo D
            .right.floated.three.wide.column
                if currentUser
                    .item.me.pointer
                        i.user.icon
                        | #{currentUser.username}
            .right.floated.three.wide.column
                .item
                    +loginButtons align='right'
                    // i.sign.out.alternate.icon
                // if current_delta
                    // h2.ui.header 
                    //     if current_module.icon
                    //         i.icon(class=current_module.icon)  
                    //     | #{current_module.title}
                    // .pointer.icon.item.add_doc
                    //     i.plus.icon
                    // .pointer.icon.item.delete_delta
                    //     i.remove.icon
                    // .pointer.icon.item.print_delta
                    //     i.code.icon
                    // .pointer.icon.item.recalc
                    //     i.refresh.icon


template(name='root')
    +nav
    #main
        +Template.dynamic template=page
    +footer

template(name='delta')
    .ui.padded.grid
        .grey.row
            .sixteen.wide.column
                .ui.small.inline.header sessions
                .ui.icon.button.create_delta
                    i.plus.icon
                each public_sessions
                    .ui.button.select_delta(class=delta_selector_class) #{number}
        .row
            .sixteen.wide.column
                each current_delta.facets
                    .row
                        +facet
                        div
                .ui.centered.stackable.cards(class=card_number)
                    each current_delta.result_ids
                        +result
    
    
template(name='footer')
    .ui.bottom.fixed.inverted.small.menu
        .item
            i.copyright.outline.icon
            | The Patriarchy
        .right.menu
            .item
                +donate
                    

template(name='facet')
    if filtering_res
        .ui.small.inline.header #{key}
        // each filters
        //     .unselect.ui.blue.button #{this}
        each filtering_res
            if name
                .selector.ui.compact.button.toggle_selection(class=toggle_value_class)
                    strong #{name}
                    small #{count}
            
            
template(name='donate')
    form(action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_top')
        input(type='hidden', name='cmd', value='_s-xclick')
        input(type='hidden', name='hosted_button_id', value='AUVHGYNUW5LVE')
        input(type='image', src='https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif', border='0', name='submit', title='PayPal - The safer, easier way to pay online!', alt='Donate with PayPal button')
        img(alt='', border='0', src='https://www.paypal.com/en_US/i/scr/pixel.gif', width='1', height='1')
