head
    title DAO
    meta(name='viewport', content='user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width')
    meta(name="theme-color", content="#ffffff")

template(name='layout')
    +nav
    #main
        +yield
    +footer


template(name='delta')
    .ui.padded.grid
        .grey.row
            .sixteen.wide.column
                .ui.small.inline.header sessions
                .ui.icon.button.create_delta
                    i.plus.icon
                each public_sessions
                    .ui.button.select_delta(class=delta_selector_class) #{number}
        .row
            .six.wide.column
                each current_delta.facets
                    .row
                        +facet
                        div
            .ten.wide.column
                .ui.centered.stackable.cards(class=card_number)
                    each current_delta.result_ids
                        +result
    

template(name='facet')
    if filtering_res
        .ui.small.inline.inverted.header #{key}
        // each filters
        //     .unselect.ui.blue.button #{this}
        each filtering_res
            if name
                .selector.ui.compact.button.toggle_selection(class=toggle_value_class)
                    strong #{name}
                    small #{count}
            
            
