head
    title DAO
    meta(name='viewport', content='user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width')
    meta(name="theme-color", content="#000")

template(name='layout')
    +nav
    #main
        +yield
    // +footer



template(name='facet')
    if filtering_res
        .ui.small.inline.inverted.header #{key}
        // each filters
        //     .unselect.ui.blue.button #{this}
        each filtering_res
            if name
                .selector.ui.compact.button.toggle_selection(class=toggle_value_class)
                    strong #{name}
                    small #{count}
            
            
