head
    title dao
    meta(name='viewport', content='user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width')
    meta(name="theme-color", content="#000")
    link(href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet")



template(name='layout')
    .ui.padded.grid
        .equal.width.row
            a.column(href='/delta')
                .ui.small.header
                    i.user.shield.icon
                    |DAO
            a.column.add(href='#')
                .ui.small.header
                    i.link.plus.icon
            .column
                .ui.small.header
                    |#{currentUser.karma}
                    | karma
            if currentUser
                a.column(href='/me')
                    .ui.small.header
                        i.user.icon
                        | #{currentUser.username}
                .column.logout
                    .ui.small.header
                        i.sign.out.alternate.link.icon
            else
                .column
                    a.icon.item(href="/enter")
                        .ui.small.header
                            i.sign.in.alternate.icon
        .row
            .sixteen.wide.column
                +yield
        .equal.width.row
            .column
                .ui.header
                    i.creative.commons.outline.icon
                    | dao
            if is_dev
                .column.refresh_stat
                    i.link.refresh.icon
            with site_stat
                .column
                    |#{doc_count} docs
                    |#{user_count} users
            .column
                .ui.list
                .item invest
                .item sell
                .item earn
                .item membership
                .item advertise
            .three.wide.column
                .ui.transparent.large.input
                    input#quick_add(type='text' placeholder='quick add')
            .column
                form(action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_top')
                    input(type='hidden', name='cmd', value='_s-xclick')
                    input(type='hidden', name='hosted_button_id', value='AUVHGYNUW5LVE')
                    // input(type='image', src='https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif', border='0', name='submit')
                    img(alt='', border='0', src='https://www.paypal.com/en_US/i/scr/pixel.gif', width='1', height='1')
                    button.ui.basic.button(type='submit')
                        | donate 