head
    title dao
    meta(name='viewport', content='user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='white')
    meta(name='google-site-verification', content='6osbddgiRIkUEHj3ezFR6D2yOQuooBvvXsBliSWhAZA')
    meta(name="theme-color", content="#ffffff")


template(name='layout')
    +nav
    +Template.dynamic template=main
    // +dev_footer

template(name='nav')
    .ui.inverted.borderless.large.icon.stackable.menu
        a.icon.item(href='/' class="{{isActiveRoute 'home'}}")
            i.home.outline.icon
        .ui.icon.input
            input#query(type='text' placeholder='ask')
        // a.icon.item(href="/tools" class="{{isActiveRoute 'tools'}}")
        //     i.clone.icon
        // a.icon.item(href="/tools" class="{{isActiveRoute 'tools'}}")
        //     i.clone.icon
        // a.icon.item(href='/people' class="{{isActiveRoute 'people'}}")
        //     i.users.outline.icon
        // a.icon.item(href='/store' class="{{isActiveRoute 'store'}}")
        //     i.shopping.basket.outline.icon
        if currentUser
            .ui.icon.input
                // i.plus.icon
                input#quick_add(type='text' placeholder='add')
                i.lightning.icon
            a#add_doc.item
                i.plus.outline.icon
            a.icon.item(href="/u/#{currentUser.username}/dashboard" class="{{isActiveRoute 'dashboard'}}")
                i.dashboard.outline.icon
            a.item(href="/u/#{currentUser.username}/karma" class="{{isActiveRoute 'karma'}}")
                i.heart.outline.icon
                // |#{currentUser.points} pts
            // a.icon.item(href='/mail' class="{{isActiveRoute 'mail'}}")
            //     i.mail.outline.icon
            // a.icon.item(href='/notifications' class="{{isActiveRoute 'notifications'}}")
            //     i.bell.outline.icon
            a.icon.item(href="/u/#{currentUser.username}" class="{{isActiveRoute 'profile'}}")
                i.user.outline.icon
            a#logout.ui.icon.item(href='#') 
                i.sign.out.outline.icon
        else
            a.ui.icon.item(href='/sign-in') 
                i.sign.in.outline.icon

// template(name='staus_indicator')
//     if online 
//         // .ui.label(class='{{labelClass}}') 
//         i.circle.icon
//         // img.ui.avatar.image(src="https://png.icons8.com/connection-status-on/color/48" title='Online' width="48" height="48")
//         // |Online
//     else if idle
//         .ui.label(class='{{labelClass}}') Idle
//         // else 
//         //     |Offline
