head
    title the way
    meta(name='viewport', content='user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='white')
    meta(name='google-site-verification', content='6osbddgiRIkUEHj3ezFR6D2yOQuooBvvXsBliSWhAZA')
    meta(name="theme-color", content="#ffffff")


body
    +status
    +home




template(name='tags')
    .ui.left.icon.small.inline.input
        i.search.icon
        input#search(type='text')    
    |&nbsp;  
    if selected_tags
        #clear_tags.ui.grey.icon.large.button
            i.remove.icon
        each selected_tags
            .unselect_tag.ui.grey.large.button
                strong #{this}
    each tags
        .ui.button.select_tag(class=tag_class)
            strong #{this.name}




template(name='home')
    unless is_editing
        +loginButtons
        if currentUser
            #add_doc.item.ui.icon.button
                i.plus.icon
        +tags
        .ui.hidden.divider  
    each docs
        if editing_this
            +edit_doc
        else
            if one_doc
                +view_doc
        
        
template(name='view_doc')        
    if youtube
        +view_youtube
    if image_url
        .ui.image
            img(src=image_url)
    .ui.segment
        // each tags 
        //     .doc_tag.ui.small.button(class=tag_class) #{this}
        if content
            .large-text !{content}
        if is_author
            #edit_this.ui.icon.button
                i.pencil.icon
                    
                    
template(name='edit_doc')
    .ui.segment
        div
            .ui.input
                input#add_tag(type='text' maxlength='50' )
            each tags
                a.ui.button.doc_tag
                    i.remove.icon
                    |#{this}
        .ui.labeled.input
            .ui.label youtube
            input#youtube(type='text' value=youtube)
            #clear_youtube.ui.icon.button
                i.remove.icon
        .ui.labeled.input
            .ui.label image url
            input#image_url(type='text' value=image_url)
            #clear_image_url.ui.icon.button
                i.remove.icon
        if image_url
            .ui.image
                img(src=image_url)

        if youtube
            +view_youtube
        .field
            .froala-container
                +froalaReactive getFEContext
        if tags
            #save_doc.ui.icon.large.fluid.button
                i.checkmark.icon
        #delete.ui.icon.button
            i.remove.icon

template(name='view_youtube')
    .ui.embed(data-source="youtube" data-id=youtube)
