template(name='transactions')
    .ui.segment
        h1.ui.header transactions
        +transaction_browser

template(name='transaction_browser')
    h2.ui.header transaction browser
    .ui.cards
        each transactions
            +transaction_card
    
    
template(name='transaction_card')
    .ui.card
        .content
            .ui.list
                .item hash: #{hash}
                .item time: #{time}
                .item transaction index: #{transaction_index}
                .item height: #{height}
        .content
            a.ui.icon.button(href="/transaction/#{hash}")
                i.right.arrow.icon
                
                
                
template(name='transaction_page')
    .ui.stackable.grid
        .centered.row
            a.ui.center.aligned.button(href='/transactions')
                i.up.arrow.icon
                |bitcoin transactions
        .centered.row
            .ui.center.aligned.header view transaction ##{height}
        .row
            .fifteen.wide.column
                .ui.segment
                    .ui.list
                        with transaction
                            .item hash: #{hash}
                            .item time: #{time}
                            .item lock_time: #{lock_time}
                            .item size: #{size}
                            .item double_spend: #{double_spend}
                            .item time: #{time}
                            .item vin_sz: #{vin_sz}
                            .item vout_sz: #{vout_sz}
                            .item
                                a.ui.button(href="/transaction/#{prev_transaction}")
                                    i.chevron.left.icon
                                    |prev transaction #{prev_transaction}
                    #refresh_transaction.ui.button refresh data
                .ui.center.aligned.header transactions 
                .ui.header inputs            
                .ui.segments
                    each transaction.five_inputs
                        .ui.segment
                            .ui.list
                            .ui.list
                                .item prev out hash: #{prev_out.hash}
                                .item prev out value: #{prev_out.value}
                                .item prev out value: #{prev_out.value}
                                .item prev out n: #{prev_out.n}
                                .item script: #{script}
                .ui.header out            
                .ui.segments
                    each transaction.five_out
                        .ui.segment
                            .ui.list
                                .item spent: #{spent}
                                .item value: #{value}
                                .item tx_index: #{tx_index}
                                .item addr: #{addr}
                                .item n: #{n}
                                .item script: #{script}
                                .item type: #{type}