template(name='user')
    with user
        .ui.stackable.padded.grid
            .row
                .four.wide.column
                    .ui.header #{username} #{first_name} #{last_name}
                    .ui.header #{points} points
                    .ui.header karma #{karma}
                    .ui.button.send_point send point
                    .ui.button.send_karma send karma
                    +toggle_friend

template(name='users')
    .ui.stackable.padded.grid
        .row
            .four.wide.column
                .ui.header users
            .twelve.wide.column
                .ui.four.cards
                    each users
                        +user_card                            
        
template(name='user_card')
    .card
        // .image
        //     img(src='/images/avatar2/large/kristy.png')
        .content
            a.header(href="/u/#{username}") #{username} #{first_name} #{last_name} 
        .meta
            span.date #{status}
            // span.date Joined in 2013
        .description
            |#{description}
        .extra.content
            each tags
                .ui.label #{this}
            .ui.list
                .ui.item #{points} points
                .ui.item #{karma} karma
            
            a.ui.icon.button(href="/u/#{username}")
                i.right.arrow.icon

        