template(name='users')
    .ui.padded.grid
        .row
            .four.wide.column
                .ui.header 
                    i.users.icon
                    |users
            .twelve.wide.column
                .ui.stackable.cards
                    each users
                        +user_card
                                    
template(name='user_card')                                    
    .card
        .content
            .ui.header #{username} 
                if status
                    small [#{status}]
            each tags
                .ui.label #{this}
            +view_user_button


template(name='user_view')
    with viewing_user
        .ui.stackable.padded.two.column.grid
            .row
                .column
                    .ui.header view user #{username} 
                        if status
                            small [#{status}]
            .row
                .column
                    .ui.segment
                        .ui.header
                            i.user.shield.icon
                            |karma
                        |#{karma}
                        .ui.header
                            i.trophy.icon
                            |points
                        |#{points}
                    .ui.segment
                        .ui.header
                            i.fire.icon
                            |tribes
                        each tribes
                            |#{this}
                    .ui.segment
                        .ui.header 
                            i.user.shield.icon
                            | roles
                        .ui.list
                            each roles
                                .item #{this}
                        +role_editor
                .column
                    .ui.segment
                        .ui.header 
                            i.tags.icon
                            | #{tags.length} user tags
                        each tags
                            .ui.label #{this}
                    .ui.segment
                        .ui.header 
                            i.newspaper.icon
                            | #{followers.count} followers
                        .ui.list
                            each followers
                                .item #{this}
                    .ui.segment
                        .ui.header 
                            i.bullhorn.icon
                            | #{following.count} following
                        .ui.list
                            each following
                                .item #{this}
                    .ui.segment
                        .ui.header 
                            i.users.icon
                            | #{friends.count} friends
                        .ui.list
                            each friends
                                .item #{this}