template(name='view')  
    with doc
        .ui.grid
            .row
                .twelve.wide.column
                    each tags
                        .ui.big.label #{this}
                    .large120 #{body}
                    +comments
        
                .four.wide.column
                    .ui.header value #{value}
                    .ui.header points #{points}
                    +author_info
                    +creation_info
                    a.ui.fluid.button(href="/edit/#{_id}")
                        i.pencil.icon
                    +bookmark_button

template(name='field_view')
    .item   
        .content
            .header #{this}
            .description
                +Template.dynamic template=brick_view