template(name='grid')
    .ui.stackable.three.cards
        each current_delta.results
            .ui.card
                .content
                    +result

template(name='list')
    .ui.centered.stackable.cards
        each current_delta.results
            .ui.fluid.card
                .content
                    +result
        // .ui.segment
        //     .ui.header 
        //         if icon
        //             i.icon(class=icon)
        //         |#{title}
        //     each current_schema_fields
        //         div
        //         +field
        //     // div
        //     +edit_button
        //     +multiref_edit schema='tribe' title='Tribes'
        //     +multiref_edit schema='field_type' title='data type'
        //     +string_edit title='Title' key='title'
        //     +string_edit title='Data Type' key='data_type'
        //     +string_edit title='Schema' key='schema'
        //     +string_edit title='Icon' key='icon'
        //     // +string_edit title='Child Schema' key='child_schema'

                
template(name='field')
    // |#{this.title}
    if editing
        +Template.dynamic template=field_edit_template
        // |#{field_edit_template}
    else
        +Template.dynamic template=field_view_template
        // |#{field_view_template}
                
        // div
        // strong #{title} &nbsp;
        // |#{field_value}
    // +string_edit title='Title' key='title'
    // +multiref_edit schema='tribe' title='Tribes'
    // +string_edit title='Slug' key='slug'
    // +string_edit title='Schema' key='schema'
    // +string_edit title='Icon' key='icon'
    // +string_edit title='Color Icon' key='color_icon'
            


template(name='table')
    each current_delta.results
        .ui.segment
            .ui.header #{title}        



template(name='map')
    .ui.stackable.three.cards
        each current_delta.results
            .ui.card
                +result

template(name='cal')
    +change_delta_key key='cal_view' value='day' label='Day'
    +change_delta_key key='cal_view' value='week' label='Week'
    +change_delta_key key='cal_view' value='month' label='Month'
    +change_delta_key key='cal_view' value='year' label='Year'
    +change_delta_key key='cal_view' value='agenda' label='Agenda'
    +Template.dynamic template=current_delta.cal_view
    
template(name='month')    
    .ui.seven.column.celled.stackable.grid
        .grey.row
            .column Sun
            .column Mon
            .column Tues
            .column Wed
            .column Thurs
            .column Fri
            .column Sat
            
template(name='week')    
    .ui.seven.column.celled.stackable.grid
        .grey.row
            .column Sun
            .column Mon
            .column Tues
            .column Wed
            .column Thurs
            .column Fri
            .column Sat
            
template(name='day')    
    .ui.two.column.celled.stackable.grid
        each hours
            .row
                .column #{this}
                .column 
                    i.grey.plus.icon
            
template(name='year')
    .ui.four.column.celled.stackable.grid
        each months
            .column
                .ui.small.header #{title}
                .ui.seven.column.grid
                    each array_days
                        .column
                            |#{this}
                
            
template(name='result')
    // .ui.button.edit
    //     i.pencil.icon
    //     | Edit
    .ui.list
        each fields
            .item
                strong #{label}
                // div [#{type}]
                if is_html
                    |!{value}
                else if is_number
                    .ui.header ##{value}
                    // strong time
                    // |{{ from_now value }}
                else if is_array
                    each value
                        .ui.label #{this}
                else
                    |#{value} 
    // div
    //     .ui.button
    //         i.thumbs.up.icon
    //     .ui.button
    //         i.thumbs.down.icon
    //     .ui.button
    //         i.chat.icon
    //     .ui.button
    //         i.eye.icon
    //     .ui.button
    //         i.bookmark.icon
            
            
            
template(name='edit_button')
    if editing_this
        .ui.icon.big.button.save
            i.checkmark.green.icon
    else
        .ui.icon.big.button.edit
            i.pencil.icon
            
            