template(name='key_view')
    //- div
    //- .ui.inline.grey.header(title='name') #{key}
    div
    +Template.dynamic template=field_view
    // .ui.divider
    // +jsonView json=meta
        
        

template(name='view')
    with doc
        .ui.stackable.padded.grid
            .centered.row
                .four.wide.column
                    .ui.header
                        if icon
                            i.grey.icon(class=icon)
                        |#{title}
                    div
                    +author_info
                    div
                    +creation_info
                    div
                    if is_author
                        //- +edit_button
                        a.ui.button(href="/edit/#{_id}")
                            |Edit
                    +detect
                    //- +user_list_toggle key='bookmark_ids' add_icon='bookmark outline' remove_icon='bookmark' add_label='Bookmark' remove_label='Unbookmark' color='red' big=true
                    +clone_button
                    if watson
                        +doc_sentiment
                        +doc_emotion
                        +concepts
                        +categories
                        +entities
                .twelve.wide.column.large120
                    each _keys
                        //- .ui.label #{this}
                        +key_view
                    //- .ui.hidden.divider
                    if analyzed_text
                        |#{nl2br analyzed_text}
                        .ui.hidden.divider
                    div
                    +comments
                    if watson
                        +keywords
                    //- +watson_view
                    if visual_classes
                        +visual_classes
