template(name='view')  
    with doc
        .ui.grid
            .row
                .twelve.wide.column
                    each tags
                        .ui.big.label #{this}
                    .ui.basic.segment.large120 #{body}
                    +comments
        
                .four.wide.column
                    .ui.header #{karma} karma
                    +author_info
                    +creation_info
                    div
                    +voting
                    +edit_button
                    +bookmark_button

template(name='field_view')
    .item   
        .content
            .header #{this}
            .description
                +Template.dynamic template=brick_view