template(name='view')  
    with doc
        .row
            .twelve.wide.column
                each tags
                    .ui.label #{this}
                .large120 #{body}
                +tone
                +keyword_list
                +concept_list
                +keywords
                each _keys
                    .ui.label #{this}
                    +field_view

            .four.wide.column
                +call_watson
                +doc_sentiment
                +doc_emotion
                +concepts
                +categories
                +entity_list
                +entities
                +personality
                +consumption_preferences
                +author_info
                +creation_info
                a.ui.fluid.button(href="/edit/#{_id}")
                    i.pencil.icon
                +clone_button
                // +detect_fields_button
                +bookmark_button
                +voting_buttons
                // +comments
            // .row
            //     .sixteen.wide.column

template(name='field_view')
    .item   
        .content
            .header #{this}
            .description
                +Template.dynamic template=brick_view