template(name='doc_sentiment') 
    // .ui.small.header 
    //     |sentiment
    if sentiment_score
        if is_positive
            .w3-black
                .w3-green.w3-xlarge(style="height:20px;width:{{to_percent sentiment_score}}%" title="{{to_percent sentiment_score}}% positive")
        else
            .w3-black
                .w3-red.w3-xlarge(style="height:20px;width:{{to_percent sentiment_score}}%" title="{{to_percent sentiment_score}}% negative")
        // |#{sentiment_label}
        // |#{sentiment_score_percent}
        .ui.compact.fitted.divider
        div

template(name='doc_emotion') 
    // .ui.small.header 
    //     | emotion
    with watson.emotion.document.emotion
        .w3-b
            .w3-blue.w3(style="height:20px;width:{{to_percent sadness}}%" title="{{to_percent sadness}}% sad")
        .w3-b
            .w3-green.w3(style="height:20px;width:{{to_percent joy}}%" title="{{to_percent joy}}% joy")
        .w3-b
            .w3-black.w3(style="height:20px;width:{{to_percent fear}}%" title="{{to_percent fear}}% fear")
        .w3-b
            .w3-yellow.w3(style="height:20px;width:{{to_percent disgust}}%" title="{{to_percent disgust}}% disgust")
        .w3-b
            .w3-red.w3(style="height:20px;width:{{to_percent anger}}%" title="{{to_percent anger}}% anger")
            
template(name='call_watson')
    #call_watson.ui.grey.fluid.button 
        i.chess.knight.icon
        | Analyse
        

template(name='call_visual_analysis')
    #call_visual.ui.button 
        i.image.icon
        |tag

template(name='keywords')
    if watson.keywords.length
        .ui.inverted.header 
            |#{watson.keywords.length} keywords
    .ui.five.column.stackable.grid
        each watson.keywords
            .column
                h4
                    |#{text}
                // .meta
                //     |{{ to_percent relevance }}% relevant
                // .meta
                //     |sentiment: {{ to_percent sentiment.score }}%
                .description
                    with emotion
                        .w3-black
                            .w3-blue.w3-small(style="height:20px;width:{{to_percent sadness}}%" title="{{to_percent sadness}}% sad")
                        .w3-black
                            .w3-green.w3-small(style="height:20px;width:{{to_percent joy}}%" title="{{to_percent joy}}% joy")
                        .w3-black
                            .w3-black.w3-small(style="height:20px;width:{{to_percent fear}}%" title="{{to_percent fear}}% fear")
                        .w3-black
                            .w3-yellow.w3-small(style="height:20px;width:{{to_percent disgust}}%" title="{{to_percent disgust}}% disgust")
                        .w3-black
                            .w3-red.w3-small(style="height:20px;width:{{to_percent anger}}%" title="{{to_percent anger}}% anger")


template(name='entity_list')
    if entities.length
        .ui.inverted.header 
            |#{entities.length} entities
    each entities
        .ui.black.label #{this}


template(name='entities')
    // .ui.small.header 
    //     |#{watson.entities.length} entities
    .ui.list
        each watson.entities
            .item
                |#{type}
                strong #{text}

template(name='keyword_list')
    if keywords.length
        .ui.inverted.header 
            |#{keywords.length} keywords
    each keywords
        .ui.black.label #{this}

template(name='concept_list')
    if concepts.length
        .ui.inverted.header 
            |#{concepts.length} concepts
    each concepts
        .ui.black.label #{this}



template(name='concepts')
    // .ui.small.header 
    //     |#{watson.concepts.length} concepts
    .ui.list
        each watson.concepts
            .item
                a(href=dbpedia_resource target='_blank' class="{{calculated_size relevance}}" title="{{to_percent relevance}}%") #{text}
                // | {{to_percent relevance}}%


template(name='categories')
    // .ui.small.header 
    //     |#{watson.categories.length} categories
    .ui.list
        each watson.categories
            .item
                strong #{label}
                |{{ to_percent score }}%


template(name='semantic_roles')
    .ui.styled.accordion
        .title
            |#{watson.semantic_roles.length} semantic roles
            i.dropdown.icon
        .content
            +jsonView(json=watson.semantic_roles)
            // .ui.list
            //     each watson.semantic_roles
            //         .item
            //             strong #{label}
            //             |{{ to_percent score }}%


template(name='relations')
    .ui.styled.accordion
        .title
            |#{watson.relations.length} relations
        .content    
            +jsonView(json=watson.relations)
            .ui.list
                each watson.relations
                    .item
                        strong #{label}
                        |{{ to_percent score }}%



template(name='personality')
    if personality
        // h3
        //     | #{customer.first_name} personality 
        each personality.personality
            div(class="{{calculated_size percentile}}" title="{{to_percent percentile}}%")
                |#{name}
                // |#{name} {{ to_percent percentile }}%
            .ui.list
                each children
                    .item(class="{{calculated_size percentile}}" title="{{to_percent percentile}}%") #{name}
        // .ui.small.header needs
        .ui.list
            each personality.needs
                .item(class="{{calculated_size percentile}}" title="{{to_percent percentile}}%") #{name}
        // .ui.small.header values
        .ui.list
            each personality.values
                .item(class="{{calculated_size percentile}}" title="{{to_percent percentile}}%") #{name}
        if personality.behavior
            .title 
                | behavior
                i.dropdown.icon
            .content
                .ui.list
                    each personality.behavior
                        .item(class="{{calculated_size percentile}}" title="{{to_percent percentile}}%") #{name}
    else
        // p Not enough words to analyze author personality
    if html
        #call_personality.ui.icon.button(title='analyze personality')
            i.refresh.icon


template(name='consumption_preferences')
    if personality
        // h3.ui.small.header
        //     |#{customer.first_name} preferences
        each personality.consumption_preferences
            h3.ui.small.inverted.header #{name}
            .ui.list
                each consumption_preferences
                    if score
                        .item #{name}
                    // else
                    //     .disabled.item #{name}
            // +jsonView(json=personality.consumption_preferences)



template(name='tone')
    // h3 tone
    // .ui.bulleted.list
    //     each tone.document_tone.tones
    //         .item #{tone_id} {{ to_percent score }}%
    .ui.list
        each tone.sentences_tone
            // .item(title=sentence_id)
            .item
                // strong #{sentence_id}: 
                .large120 #{text}
                    each tones
                        // span.spaced(class="{{calculated_size score}}" title="{{to_percent score}}%") #{tone_id}
                        .ui.grey.label(class="{{calculated_size score}}" title="{{to_percent score}}%") #{tone_id}
    // unless tone                
    // #call_tone.ui.icon.button
    //     i.refresh.icon
    //         // +jsonView(json=tone)

