template(name='doc_sentiment') 
    // .ui.header 
    //     |sentiment
    if is_positive
        .w3-white
            .w3-green.w3-small(style="height:20px;width:{{to_percent sentiment_score}}%" title="{{to_percent sentiment_score}}% positive")
    else
        .w3-white
            .w3-red.w3-small(style="height:20px;width:{{to_percent sentiment_score}}%" title="{{to_percent sentiment_score}}% negative")
        // |#{sentiment_label}
        // |#{sentiment_score_percent}
    .ui.hidden.divider

template(name='doc_emotion') 
    // .ui.header 
    //     | emotion
    with watson.emotion.document.emotion
        .w3-white
            .w3-blue.w3-small(style="height:20px;width:{{to_percent sadness}}%" title="{{to_percent sadness}}% sadness")
        .w3-white
            .w3-green.w3-small(style="height:20px;width:{{to_percent joy}}%" title="{{to_percent joy}}% joy")
        .w3-white
            .w3-black.w3-small(style="height:20px;width:{{to_percent fear}}%" title="{{to_percent fear}}% fear")
        .w3-white
            .w3-yellow.w3-small(style="height:20px;width:{{to_percent disgust}}%" title="{{to_percent disgust}}% disgust")
        .w3-white
            .w3-red.w3-small(style="height:20px;width:{{to_percent anger}}%" title="{{to_percent anger}}% anger")
            
template(name='call_watson')
    #call_watson.ui.button 
        i.chess.knight.icon
        |call watson
        

template(name='call_visual_analysis')
    #call_visual.ui.button 
        i.image.icon
        |tag

template(name='keywords')
    .ui.header 
        |#{watson.keywords.length} keywords
    .ui.four.column.stackable.grid
        each watson.keywords
            .column
                h4
                    |#{text}
                // .meta
                //     |{{ to_percent relevance }}% relevant
                // .meta
                //     |sentiment: {{ to_percent sentiment.score }}%
                .description
                    with emotion
                        .w3-white
                            .w3-blue.w3-small(style="height:20px;width:{{to_percent sadness}}%" title="{{to_percent sadness}}% sadness")
                        .w3-white
                            .w3-green.w3-small(style="height:20px;width:{{to_percent joy}}%" title="{{to_percent joy}}% joy")
                        .w3-white
                            .w3-black.w3-small(style="height:20px;width:{{to_percent fear}}%" title="{{to_percent fear}}% fear")
                        .w3-white
                            .w3-yellow.w3-small(style="height:20px;width:{{to_percent disgust}}%" title="{{to_percent disgust}}% disgust")
                        .w3-white
                            .w3-red.w3-small(style="height:20px;width:{{to_percent anger}}%" title="{{to_percent anger}}% anger")


template(name='entity_list')
    .ui.header 
        |#{entities.length} entities
    each entities
        .ui.basic.large.label #{this}


template(name='entities')
    .ui.header 
        |#{watson.entities.length} entities
    .ui.list
        each watson.entities
            .item
                |#{type}: #{text}

template(name='keyword_list')
    .ui.header 
        |#{keywords.length} keywords
    each keywords
        .ui.basic.large.label #{this}

template(name='concept_list')
    .ui.header 
        |#{concepts.length} concepts
    each concepts
        .ui.basic.large.label #{this}



template(name='concepts')
    // .ui.header 
    //     |#{watson.concepts.length} concepts
    .ui.list
        each watson.concepts
            .item
                a(href=dbpedia_resource target='_blank' class="{{calculated_size relevance}}" title="{{to_percent relevance}}%") #{text}
                // | {{to_percent relevance}}%




template(name='categories')
    .ui.header 
        |#{watson.categories.length} categories
    .ui.list
        each watson.categories
            .item
                strong #{label}
                |{{ to_percent score }}%


template(name='semantic_roles')
    .ui.styled.accordion
        .title
            |#{watson.semantic_roles.length} semantic roles
            i.dropdown.icon
        .content
            +jsonView(json=watson.semantic_roles)
            // .ui.list
            //     each watson.semantic_roles
            //         .item
            //             strong #{label}
            //             |{{ to_percent score }}%


template(name='relations')
    .ui.styled.accordion
        .title
            |#{watson.relations.length} relations
        .content    
            +jsonView(json=watson.relations)
            .ui.list
                each watson.relations
                    .item
                        strong #{label}
                        |{{ to_percent score }}%



template(name='personality')
    if personality
        h3
            | #{customer.first_name} personality 
        each personality.personality
            h4.ui.header
                |#{name} {{ to_percent percentile }}%
            .ui.list
                each children
                    .item #{name} {{ to_percent percentile }}%
        .ui.header needs
        .ui.list
            each personality.needs
                .item #{name} {{ to_percent percentile }}%
        .ui.header values
        .ui.list
            each personality.values
                .item #{name} {{ to_percent percentile }}%
        if personality.behavior
            .title 
                | behavior
                i.dropdown.icon
            .content
                .ui.list
                    each personality.behavior
                        .item #{name} {{ to_percent percentage }}%
    else
        // p Not enough words to analyze author personality
    #call_personality.ui.icon.button(title='analyze personality')
        i.refresh.icon


template(name='consumption_preferences')
    if personality
        h3.ui.header
            |#{customer.first_name} preferences
        each personality.consumption_preferences
            h3.ui.header #{name}
            .ui.list
                each consumption_preferences
                    if score
                        .item #{name}
                    else
                        .disabled.item #{name}
            // +jsonView(json=personality.consumption_preferences)



template(name='tone')
    // h3 tone
    // .ui.bulleted.list
    //     each tone.document_tone.tones
    //         .item #{tone_id} {{ to_percent score }}%
    .ui.list
        each tone.sentences_tone
            // .item(title=sentence_id)
            .item
                // strong #{sentence_id}: 
                | #{text}
                each tones
                    .ui.basic.large.label #{tone_id} {{ to_percent score }}%
    // unless tone                
    #call_tone.ui.icon.button
        i.refresh.icon
            // +jsonView(json=tone)



template(name='watson_view')
    +tone
    +keyword_list
    +concept_list
    // .ui.large.accordion
    //     .active.title
    //         |keywords
    //         i.dropdown.icon
    //     .active.content
    +keywords
    // .ui.hidden.divider
    // +relations
    // .ui.styled.accordion
    //     .title 
    //         i.code.icon
    //         |full analysis data
    //         i.dropdown.icon
    //     .content
    //         +jsonView(json=watson)
