
template(name='view_doc')        
    with doc
        .ui.stackable.grid
            .eleven.wide.column
                if youtube
                    +view_youtube
                if image_url
                    .ui.image
                        img(src=image_url)
            
                .ui.inverted.segment
                    .content
                        if title
                            h1.ui.center.aligned.header #{title}
                        if slug
                            h4.ui.center.aligned.header #{slug}
                        if content
                            .large-text !{content}
                +threaded_children
                // +ownership
                // +doc_matches
                // if watson
                //     .ui.inverted.segment
                //         +analyzed_watson_keywords
            .five.wide.column
                .ui.inverted.segment
                    // .ui.header tags
                    each tags 
                        .doc_tag.ui.small.compact.button(class=tag_class) #{this}
                .ui.inverted.segment
                    if parent_id
                        +parent_link
                    .content
                        // +author_info
                        if is_author
                            a.ui.icon.button(href="/edit/#{_id}")
                                i.pencil.icon
                    // if watson
                    //     +doc_emotion
                    // else
                    //     +call_watson
                    // +add_child_button
                    // if currentUser
                    //     +vote_button
                    // +upvoted_list
                // +crowd_tags
            
            
            
            
