template(name='edit_profile')
    .ui.basic.segment.container
        with user
            h1.ui.center.aligned.header edit #{username}
            .ui.inverted.form
                .ui.stackable.grid
                    .five.wide.column    
                        .field
                            if profile.image_id
                                label image
                                .ui.centered.image
                                    img.ui.image(src="{{c.url profile.image_id width=400 height=400 gravity='face' crop='fill'}}")
                                    a#remove_photo.ui.right.corner.link.label
                                        i.remove.red.link.icon
                            else
                                // label mage
                                input(type='file' name='upload_picture' accept='image/*')
                    .ten.wide.column
                        .field
                            label first name 
                            .ui.input
                                input#first_name(type='text' value=profile.first_name)
                        .field
                            label last name 
                            .ui.input
                                input#last_name(type='text' value=profile.last_name)
                        .field
                            label email
                            each emails
                                .ui.basic.label #{address}
                                if verified
                                    .ui.basic.green.label Verified
                                else
                                    .ui.basic.label Unverified
                        .field
                            label location 
                            .ui.input
                                input#location(type='text' value=profile.location)
                        .field
                            label tags (please select a few key words that embody yourself, interests, etc.)
                            each tags
                                .ui.button.person_tag
                                    i.minus.icon
                                    |#{this}
                            .ui.left.icon.input
                                i.add.icon
                                input#add_tag(type='text' placeholder='Press enter after each tag' maxlength='50')
                        .field
                            label about me 
                            .ui.input
                                textarea#about_me(type='textarea' maxlength="250" rows='3')
                                    |#{profile.about_me}
            .field
                    .ui.center.aligned.basic.segment
                        a.ui.center.aligned.huge.button(href="/u/#{username}")
                            |save
