template(name='tribe_topnav')
    .ui.attached.borderless.large.inverted.topnav.menu(style="background:#{current_tribe.primary_color}")
        a.item.toggle_leftbar(href='#')
            i.bars.icon
        if tribe.logo_id
            a.item(href="/t/#{current_tribe.slug}" class="{{isActivePath '/'}}")
                img.ui.mini.inline.image(src="{{c.url current_tribe.logo_id height=200 crop='limit'}}")
        else
            a.header.item(href="/t/#{current_tribe.slug}" class="{{isActivePath '/'}}")
                |#{current_tribe.title}
        if is_loading
            .icon.item
                i.loading.refresh.icon
        // a.item.toggle_invert(href='#')
        //     i.adjust.icon
        .right.menu
            if currentUser
                a.item.add(href='#')
                    i.link.plus.icon
                // a.item.toggle_topbar(href='#')
                //     i.inbox.icon
                // a.item(href='/chat')
                //     i.chat.icon
                // a.item.set_schema(href='/t/dao/s/schema')
                //     i.sitemap.icon
                // a.item.set_schema(href='/t/dao/s/tribe')
                //     i.fire.icon
                // a.item(href='/people' class="{{isActivePath '/people'}}")
                //     i.users.icon
                a.icon.item(href="/u/#{currentUser._id}/edit")
                    i.cog.icon
                a.item(href="/u/#{currentUser._id}/about")
                    i.user.icon
                    // | #{currentUser.username} [#{currentUser.status}]
                    | #{currentUser.username}
                a.item.toggle_rightbar(href='#')
                    i.bars.icon
            else
                a.item(href="/signin")
                    i.sign.in.alternate.icon
                    |Sign In 
                a.item(href="/register")
                    i.user.plus.icon
                    |Register 
    // if currentUser
    .ui.attached.borderless.inverted.menu.topnav(style="background:#{current_tribe.primary_color}")
        each topnav_schemas
            a.item.mobile_hidden.set_tribe_schema(href="/t/#{tribe}/s/#{slug}" class="{{isActiveRoute regex=slug}}" title=title)
                i.icon(class=icon)
                |#{plural}



template(name='tribe_topbar')
    .ui.top.sidebar.inverted.push.nav_bar.toggle_topbar.topbar
        .ui.grid
            .centered.row
                .four.wide.center.aligned.column
                    .ui.inverted.center.aligned.header go
                    .ui.inverted.list
                        each nonprofit_pages
                            a.item(href="/p/#{slug}") #{title}
                .four.wide.center.aligned.column
                    .ui.inverted.center.aligned.header fuck
                    .ui.inverted.list
                        each church_pages
                            a.item(href="/p/#{slug}") #{title}
                .four.wide.center.aligned.column
                    .ui.inverted.center.aligned.header your
                    .ui.inverted.list
                        each also_serving_pages
                            a.item(href="/p/#{slug}") #{title}
                .four.wide.center.aligned.column
                    .ui.inverted.center.aligned.header self
                    .ui.inverted.list
                        each resource_pages
                            a.item(href="/p/#{slug}") #{title}
        a.icon.item(href='/alerts' title='Alerts')



template(name='tribe_rightbar')
    .ui.right.vertical.sidebar.nav_bar.inverted.menu.rightbar
        if is_church
            .profile-picture
                a(href="{{pathFor route='churchDashboard'}}" class="{{isActiveRoute 'churchDashboard'}}")
                    if currentUser.profile.profilePic
                        img.img-circle.m-b(src='{{currentUser.profile.profilePic}}' alt='logo' width='100' height='79')
                    else
                        img.img-circle.m-b(src='/icons/Logo_sm_100.png' alt='logo' width='100' height='79')
        if is_admin
            .profile-picture
                a(href="{{pathFor route='adminDashboard'}}")
                    if currentUser.profile.profilePic
                        img.img-circle.m-b(src='{{currentUser.profile.profilePic}}' alt='logo' width='100' height='79')
                    else
                        img.img-circle.m-b(src='/icons/Logo_sm_100.png' alt='logo' width='100' height='79')
        
        if is_user
            .profile-picture
                a(href="{{pathFor route='dashboard'}}")
                    if currentUser.profile.profilePic
                        img.img-circle.m-b(src='{{currentUser.profile.profilePic}}' alt='logo' width='100' height='79')
                    else
                        img.img-circle.m-b(src='/icons/Logo_sm_100.png' alt='logo' width='100' height='79')
        .item.toggle_rightbar
            | #{currentUser.profile.first_name} #{currentUser.profile.last_name}
            | #{currentUser.username} #{currentUser.profile.name}
            i.grey.user.shield.icon(title='Role')
            each currentUser.roles
                .ui.basic.label #{this}
        // .item.toggle_rightbar
        //     i.leaderboard.icon
        //     | Leaderboard
        // a.item.toggle_rightbar(href='/account')
        //     if currentUser.username
        //         |#{currentUser.username}
        //     else
        //         |Account
        a.item.toggle_rightbar(href="/u/#{currentUser._id}/about")
            i.user.icon
            | Profile
        a.item.toggle_rightbar(href="/u/#{currentUser._id}/edit")
            i.cog.grey.icon
            | Settings
        if signing_out
            .icon.disabled.item.toggle_rightbar
                i.notched.circle.loading.big.icon
        else
            a.logout.item.toggle_rightbar(href='#')
                i.sign.out.icon
                | Log Out






template(name='tribe_leftbar')
    .ui.left.vertical.sidebar.nav_bar.inverted.menu.leftbar
        // if is_dev
        //     a.item.toggle_leftbar.toggle_dev.mobile_hidden(href="#")
        //         i.user.shield.icon
        //         | Dev
        // a.item.toggle_leftbar(href="/people" class="{{isActiveRoute regex='people'}}" title='People')
        //     i.users.icon
        //     | People
        // a.item.toggle_leftbar(href="/churches" class="{{isActiveRoute regex='churches'}}" title='Churches')
        //     i.building.icon
        //     | Organizations
        // a.item.toggle_leftbar(href='/chat' title='Chat' class="{{isActiveRoute regex='chat'}}")
        //     i.chat.icon
        //     | Chat
            
        if currentUser
            a.item(href="/user/#{currentUser._id}/edit" class="{{isActiveRoute 'user_edit'}}")
                i.user.icon
                | My Account
                
            a.item#linkLogout(href='/logout')
                i.sign.out.icon
                | Logout
            
        each tribe_schemas
            a.item.set_schema.toggle_leftbar(href="/t/#{current_tribe.slug}/s/#{slug}")
                i.icon(class=icon)
                | #{plural}

