template(name='tribe_layout')
    .layout.context
        +tribe_topnav
        .ui.bottom.attached.basic.segment.pushable
            +tribe_topbar
            +tribe_leftbar
            +tribe_rightbar
            .pusher
                #main
                    +yield
        +tribe_footer




template(name='tribe_topnav')
    .ui.attached.borderless.large.inverted.topnav.menu(style="background:#{tribe.primary_color}")
        a.item.toggle_leftbar(href='#')
            i.bars.icon
        a.item(href="/t/#{tribe.slug}" class="{{isActivePath '/'}}")
            img.ui.mini.inline.image(src="{{c.url tribe.logo_id height=200 crop='limit'}}")
        a.item(href="/t/#{tribe.slug}" class="{{isActivePath '/'}}")
            |#{tribe.title}
        if is_loading
            .icon.item
                i.loading.refresh.icon
        // a.item.toggle_invert(href='#')
        //     i.adjust.icon
        .right.menu
            if currentUser
                a.item.add(href='#')
                    i.link.plus.icon
                a.item.toggle_topbar(href='#')
                    i.inbox.icon
                a.item(href='/chat')
                    i.chat.icon
                // a.item.set_schema(href='/s/schema')
                //     i.tribemap.icon
                a.item(href='/people' class="{{isActivePath '/people'}}")
                    i.users.icon
                a.icon.item(href="/u/#{currentUser._id}/edit")
                    i.cog.icon
                a.item(href="/u/#{currentUser._id}/about")
                    i.user.icon
                    | #{currentUser.username} [#{currentUser.status}]
                a.item.toggle_rightbar(href='#')
                    i.bars.icon
            else
                a.item(href="/signin")
                    i.sign.in.alternate.icon
                    |Sign In 
                a.item(href="/register")
                    i.user.plus.icon
                    |Register 
    // if currentUser
    .ui.attached.borderless.large.inverted.menu.topnav(style="background:#{tribe.primary_color}")
        each tribe_schemas
            a.item.mobile_hidden.set_tribe_schema(href="/t/#{parent_doc.slug}/s/#{slug}" class="{{isActiveRoute regex=slug}}" title=title)
                i.icon(class=icon)
                |#{plural}


template(name='tribe_home')
    .ui.padded.stackable.grid
        .centered.row
            .two.wide.column
                a.ui.icon.button(href="/s/tribe/#{tribe._id}/edit")
                    i.cog.icon
            .ten.wide.column
                img.ui.large.inline.image(src="{{c.url tribe.logo_id height=400 crop='limit'}}")
                .ui.center.aligned.large.header #{tribe.title}
                .ui.center.aligned.small.header #{tribe.subtitle}
        .centered.row
            .eight.wide.column
                .ui.header
                    i.users.icon 
                    |Users
            .eight.wide.column
                .ui.header
                    i.clone.icon 
                    |Pages
            
            


template(name='tribe_footer')
    .ui.inverted.attached.menu(style="background:#{tribe.secondary_color}")
        .item
            i.copyright.outline.icon
            |#{tribe.title}
        a.item(href='/')
            |DAO
            
        //     .ui.transparent.input
        //         input#quick_add(type='text' placeholder='quick add')
        // .item
        //     form(action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_top')
        //         input(type='hidden', name='cmd', value='_s-xclick')
        //         input(type='hidden', name='hosted_button_id', value='AUVHGYNUW5LVE')
        //         // input(type='image', src='https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif', border='0', name='submit')
        //         img(alt='', border='0', src='https://www.paypal.com/en_US/i/scr/pixel.gif', width='1', height='1')
        //         button.ui.basic.button(type='submit')
        //             | Donate 
        
