template(name='enter')
    .ui.padded.grid
        .centered.row
            .ten.wide.column
                .ui.center.aligned.header 
                    if dark_side
                        .black_bat abandon hope all ye who enter
                    else
                        |login/register
                if message
                    h4.ui.center.aligned.header #{message}
                .ui.fluid.icon.large.input(class=login_class)
                    i.user.icon
                    input.username(type='text' placeholder='username')
                .ui.fluid.icon.large.input(class=login_class)
                    i.lock.icon
                    input.password(type='password' placeholder='password')
                if username
                    if registering
                        .ui.fluid.large.button.enter(title="register #{username}" class=enter_class)
                            i.user.plus.icon
                            |#{username}
                    else
                        .ui.fluid.large.button.enter(title="login #{username}" class=enter_class)
                            i.play.icon
                            | #{username}
        //- .centered.row
        //-     .ten.wide.column
        //-         .ui.fluid.button.new_demo
        //-             i.user.secret.icon
        //-             | anon
        //- 
                    
