
template(name='healthclub')
    .ui.stackable.padded.grid
        .row
            .twelve.wide.column
                .row
                    .ui.center.aligned.large.header 
                        |Gold Run Health Club Check In
                .row
                    .ui.inline.header
                        i.sign.in.alternate.icon
                        |Sign In
                    .ui.left.icon.big.fluid.action.input
                        i.search.icon
                        input.username_search(type='text' placeholder='Search Member...')
                        .ui.button.clear_results
                            i.remove.icon
                            |Clear
                    if checkedout_members.length
                        .ui.secondary.attached.segment
                            .ui.center.aligned.header 
                                +icolor name='internal' classes='ui inline image'
                                |Check In Member
                            .ui.stackable.doubling.four.cards
                                each checkedout_members
                                    .card
                                        .image
                                            if profile.image_id
                                                img.ui.rounded.image(src="{{c.url profile.image_id width=400 height=400 gravity='face' crop='fill'}}")
                                            else if image_id
                                                img.ui.rounded.image(src="{{c.url image_id width=400 height=400 gravity='face' crop='fill'}}")
                                        .content
                                            .ui.header #{first_name} #{last_name} #{username}
                                            // a(href="/t/goldrun/u/#{_id}/about")
                                            //- a.meta(href="/t/goldrun/u/#{_id}/about") #{username}
                                        .content
                                            +checkin_button
                    else
                        if checking_in
                            .ui.header No members found
                            +add_resident
                unless checking_in
                    .row
                        .ui.secondary.green.segment
                            .ui.header
                                +icolor name='internal' classes='ui image'
                                |#{checkedin_members.length} Checked In Members
                            .ui.four.stackable.doubling.cards
                                each checkedin_members
                                    .green.card
                                        .image
                                            if profile.image_id
                                                img.ui.rounded.image(src="{{c.url profile.image_id width=400 height=400 gravity='face' crop='fill'}}")
                                            else if image_id
                                                img.ui.rounded.image(src="{{c.url image_id width=400 height=400 gravity='face' crop='fill'}}")
                                        .content
                                            .ui.header #{first_name} #{last_name} @#{username}
                                            //- a.meta(href="/t/goldrun/u/#{_id}/about") #{username}
                                            //- a.ui.button(href="/t/goldrun/u/#{_id}/about")
                                            //-     |View
                                            //-     i.chevron.right.icon
                                        .content
                                            +checkin_button
                                            //- if signed_waiver
                                            //-     .ui.green.basic.button
                                            //-         i.checkmark.icon
                                            //-         |Waiver Signed
                                            //- else
                                            //-     .ui.red.button.sign_waiver
                                            //-         i.cancel.icon
                                            //-         |Waiver Not Signed
            .four.wide.column.scrolling
                if is_admin
                    a.ui.large.fluid.button(href='/add_resident')
                        i.user.plus.icon
                        |Add Resident
                .ui.accordion
                    h4.active.title
                        // +icolor name='edit-property' classes='ui inline image'
                            // .ui.inline.dividing.header 
                        i.rss.icon
                        | Log
                        i.dropdown.icon
                    .active.content
                        .ui.feed
                            each events
                                .event
                                    .label
                                        img.ui.image(src="{{c.url object.profile.image_id width=400 height=400 gravity='face' crop='fill'}}")
                                    .content
                                        .summary
                                            |#{body}
                                            .date
                                                |#{when}
                                            if is_dev
                                                +remove_button
                .ui.accordion
                    h4.active.title
                        +icolor name='megaphone' classes='ui inline image'
                        |Notices
                        i.dropdown.icon
                    .active.content
                .ui.accordion
                    .active.title
                        +icolor name='car' classes='ui inline image'
                        | Warned Cars
                        i.dropdown.icon
                    .active.content
                .ui.accordion
                    .active.title
                        +icolor name='poll-topic' classes='ui inline image'
                        |Poll
                        i.dropdown.icon
                    .active.content
                .ui.accordion
                    .active.title
                        +icolor name='front-desk' classes='ui inline image'
                        | Staff On Duty
                        i.dropdown.icon
                    .active.content
                        with currentUser
                            .ui.card
                                img.ui.image(src="{{c.url profile.image_id }}")
                                .content
                                    .header #{username}
            // .four.wide.column.scrolling
                .ui.accordion
                    h4.active.title
                        +icolor name='basketball' classes='ui inline image'
                        | Basketball Court
                        i.dropdown.icon
                    .active.content
                        if open
                            +icolor name='open-sign' classes='ui mini inline image'
                            .ui.button.checkin Check In
                        else
                            +icolor name='close-sign' classes='ui mini inline image'
                            .ui.button.signout Check Out
                .ui.accordion
                    h4.active.title
                        +icolor name='bicycle' classes='ui inline image'
                        | Impounded Bikes
                        i.dropdown.icon
                    .active.content
                .ui.accordion
                    h4.active.title
                        +ioffice name='beach-volleyball' classes='ui inline image'
                        | Vollyball Court
                        i.dropdown.icon
                    .active.content
                        if open
                            +ioffice name='open-sign' classes='ui mini inline image'
                            .ui.button.checkin Check In
                        else
                            +ioffice name='close-sign' classes='ui mini inline image'
                            .ui.button.signout Check Out
                .ui.accordion
                    h4.active.title
                        +ioffice name='tennis' classes='ui inline image'
                        | Racquetball Court #1
                        i.dropdown.icon
                    .active.content
                        if open
                            +ioffice name='open-sign' classes='ui mini inline image'
                            .ui.button.checkin Check In
                        else
                            +ioffice name='close-sign' classes='ui mini inline image'
                            .ui.button.signout Check Out
                .ui.accordion
                    h4.active.title
                        +ioffice name='tennis' classes='ui inline image'
                        | Racquetball Court #2
                        i.dropdown.icon
                    .active.content
                        if open
                            +ioffice name='open-sign' classes='ui mini inline image'
                            .ui.button.checkin Check In
                        else
                            +ioffice name='close-sign' classes='ui mini inline image'
                            .ui.button.signout Check Out
                .ui.accordion
                    h4.active.title
                        +ioffice name='swimming-back-view' classes='ui inline image'
                        |Pool
                        i.dropdown.icon
                    .active.content
                        if open
                            +icolor name='open-sign' classes='ui mini inline image'
                            .ui.button.checkin Check In
                        else
                            +icolor name='close-sign' classes='ui mini inline image'
                            .ui.button.signout Check Out
                .ui.accordion
                    h4.active.title
                        +icolor name='jacuzzi' classes='ui inline image'
                        |Indoor Hot Tub
                        i.dropdown.icon
                    .active.content
                        | Status    
                        if open
                            +icolor name='open-sign' classes='ui mini inline image'
                            .ui.button.checkin Check In
                        else
                            +icolor name='close-sign' classes='ui mini inline image'
                            .ui.button.signout Check Out
                .ui.accordion
                    h4.active.title
                        +icolor name='jacuzzi' classes='ui inline image'
                        |Outdoor Hot Tub
                        i.dropdown.icon
                    .active.content
                        | Status    
                        if open
                            +icolor name='open-sign' classes='ui mini inline image'
                            .ui.button.checkin Check In
                        else
                            +icolor name='close-sign' classes='ui mini inline image'
                            .ui.button.signout Check Out
                        
                        
                        
template(name='add_resident')
    .ui.stackable.padded.grid
        .centered.row
            .eight.wide.column
                h1.ui.center.aligned.header
                    i.user.plus.icon
                    |Add Resident
                .ui.large.form
                    .field
                        |First Name
                        input#first_name(type='text')
                    .field
                        |Last Name
                        input#last_name(type='text')
                    .field
                        |Username
                        input#username(type='text')
                if permission
                    .ui.fluid.green.button.create_and_checkin
                        |Create and Checkin
        .row
        
        
template(name='sign_waiver')
    with receipt_doc
        .ui.stackable.padded.grid
            .centered.row
                .twelve.wide.column.scrolling
                    .row
                        h1.ui.center.aligned.header
                            i.user.plus.icon
                            |Sign Waiver
                        with waiver_doc
                            |!{html}
                        .ui.big.form
                            .field
                                |First Name
                                input#first_name(type='text' val=first_name)
                            .field
                                |Last Name
                                input#last_name(type='text' val=last_name)
                            .disabled.field
                                |Username
                                input#username(type='text' val=username)
                            .field
                                |Last Name
                                input#address(type='text' val=last_name)
                            .field
                                | Building
                                input#address(type='text' val=last_name)
                            .field
                                | Apt #
                                input#apt(type='number' val=last_name)
                            .field
                                | Phone
                                input#apt(type='number' val=last_name)
                            
                        .ui.fluid.green.button.sign_waiver
                            | Sign Waiver



template(name='checkin_button')
    unless healthclub_checkedin
        .ui.circular.button.checkin(title='Check In')
            // i.sign.in.icon
            +icolor name='login-rounded-right' classes='ui avatar image'
            |Check In
    if healthclub_checkedin
        .ui.circular.button.checkout(title='Sign Out')
            // i.sign.out.large.icon
            +icolor name='exit-sign' classes='ui avatar image'
            |Check Out
    //- +rules_sign
    //- +guest_sign
    //- .ui.accordion
    //-     .title
    //-         .ui.inline.small.header
    //-             |Events
    //-             i.dropdown.icon
    //-     .content
    //-         .ui.feed
    //-             each log_events
    //-                 .event
    //-                     .label
    //-                         img.ui.image(src="{{c.url object.profile.image_id width=400 height=400 gravity='face' crop='fill'}}")
    //-                     .content
    //-                         .summary
    //-                             |#{body}
    //-                             .date
    //-                                 |#{when}
    //-                             if is_dev
    //-                                 +remove_button
