
template(name='healthclub')
    .ui.left.icon.big.fluid.action.input
        i.search.icon
        input.username_search(type='text' placeholder='Check In Health Club Member...')
        .ui.icon.button.clear_results
            i.remove.icon
    .ui.stackable.padded.grid
        .row
            .sixteen.wide.column
                if checkedout_members.length
                    .ui.center.aligned.header 
                        +icolor name='internal' classes='ui inline image'
                        |Check In Member
                    .ui.three.column.grid
                        each checkedout_members
                            .column
                                .ui.secondary.segment 
                                    .ui.grid
                                        .row
                                            .sixteen.wide.column
                                                .ui.small.header #{first_name} #{last_name} @#{username}
                                        .row
                                            .eight.wide.column
                                                if profile.image_id
                                                    img.ui.image(src="{{c.url profile.image_id width=400 height=400 gravity='face' crop='fill'}}")
                                                else if image_id
                                                    img.ui.image(src="{{c.url image_id width=400 height=400 gravity='face' crop='fill'}}")
                                            .eight.wide.column
                                                a.ui.button(href="/u/#{username}/")
                                                    |View
                                                    i.chevron.right.icon
                                                +checkin_button
                else
                    if checking_in
                        .ui.header No members found
                        +add_resident
        unless checking_in
            .row
                .sixteen.wide.column
                    .ui.two.column.grid
                        .column.scrolling
                            .ui.center.aligned.header
                                +icolor name='internal' classes='ui image'
                                |#{checkedin_members.length} Checked In Members
                            each checkedin_members
                                .ui.secondary.green.segment 
                                    .ui.grid
                                        .four.wide.column
                                            if profile.image_id
                                                img.ui.image(src="{{c.url profile.image_id width=400 height=400 gravity='face' crop='fill'}}")
                                            else if image_id
                                                img.ui.image(src="{{c.url image_id width=400 height=400 gravity='face' crop='fill'}}")
                                        .twelve.wide.column
                                            //- .image
                                            .content
                                                .ui.header #{first_name} #{last_name} @#{username}
                                                //- a.meta(href="/t/goldrun/u/#{_id}/about") #{username}
                                            .content
                                                +checkin_button
                                                a.ui.button(href="/u/#{username}/")
                                                    |View
                                                    i.chevron.right.icon
            
                                                //- if signed_waiver
                                                //-     .ui.green.basic.button
                                                //-         i.checkmark.icon
                                                //-         |Waiver Signed
                                                //- else
                                                //-     .ui.red.button.sign_waiver
                                                //-         i.cancel.icon
                                                //-         |Waiver Not Signed
                        .column.scrolling
                            if is_admin
                                a.ui.large.fluid.button(href='/add_resident')
                                    i.user.plus.icon
                                    |Add Resident
                            a.ui.large.fluid.button(href='/add_resident')
                                |New Member
                            a.ui.large.fluid.button(href='/add_resident')
                                |Guest Waiver
                            //- .ui.accordion
                            //-     h4.title
                            //-         // +icolor name='edit-property' classes='ui inline image'
                            //-             // .ui.inline.dividing.header 
                            //-         i.rss.icon
                            //-         | Log
                            //-         i.dropdown.icon
                            //-     .content
                            //-         .ui.feed
                            //-             each events
                            //-                 .event
                            //-                     .label
                            //-                         img.ui.image(src="{{c.url object.profile.image_id width=400 height=400 gravity='face' crop='fill'}}")
                            //-                     .content
                            //-                         .summary
                            //-                             |#{body}
                            //-                             .date
                            //-                                 |#{when}
                            //-                             if is_dev
                            //-                                 +remove_button
                            .ui.secondary.segment
                                .ui.header
                                    +icolor name='megaphone' classes='ui inline image'
                                    |Notices
                                .content
                                    |FM receiver headsets now available to borrow for tvs.
                            //- .ui.secondary.segment
                            //-     .ui.header
                            //-         +icolor name='car' classes='ui inline image'
                            //-         | Warned Cars
                            //-     .content
                            //- .ui.secondary.segment
                            //-     .ui.header
                            //-         +icolor name='poll-topic' classes='ui inline image'
                            //-         |Poll
                            //-     .content
                            //- .ui.secondary.segment
                            //-     .ui.small.header
                            //-         +icolor name='front-desk' classes='ui inline image'
                            //-         | Staff On Duty
                            //-     with currentUser
                            //-         .ui.card
                            //-             img.ui.image(src="{{c.url profile.image_id }}")
                            //-             .content
                            //-                 .header #{username}
    .ui.check_out.modal
        .header Checkout #{selected_person.username}?
        .content
            .ui.header #{selected_person.first_name} #{selected_person.last_name}
            .ui.header #{selected_person.username}
        .actions
            .ui.large.ok.teal.button
                |Check Out
            .ui.large.cancel.basic.button
                |Cancel
    .ui.check_in.modal
        .header Check In #{selected_person.username}?
        .content
            .ui.header #{selected_person.first_name} #{selected_person.last_name}
            .ui.header #{selected_person.username}
        .actions
            .ui.large.ok.green.button
                |Check In
            .ui.large.cancel.basic.button
                |Cancel
                        
                        
template(name='add_resident')
    .ui.stackable.padded.grid
        .centered.row
            .eight.wide.column
                h1.ui.center.aligned.header
                    i.user.plus.icon
                    |Add Resident
                .ui.large.form
                    .field
                        |First Name
                        input#first_name(type='text')
                    .field
                        |Last Name
                        input#last_name(type='text')
                    .field
                        |Username
                        input#username(type='text')
                if permission
                    .ui.fluid.green.button.create_and_checkin
                        |Create and Checkin
        .row
        
        
template(name='sign_waiver')
    with receipt_doc
        .ui.stackable.padded.grid
            .centered.row
                .twelve.wide.column.scrolling
                    .row
                        h1.ui.center.aligned.header
                            i.user.plus.icon
                            |Sign Waiver
                        with waiver_doc
                            |!{html}
                        .ui.big.form
                            .field
                                |First Name
                                input#first_name(type='text' val=first_name)
                            .field
                                |Last Name
                                input#last_name(type='text' val=last_name)
                            .disabled.field
                                |Username
                                input#username(type='text' val=username)
                            .field
                                |Last Name
                                input#address(type='text' val=last_name)
                            .field
                                | Building
                                input#address(type='text' val=last_name)
                            .field
                                | Apt #
                                input#apt(type='number' val=last_name)
                            .field
                                | Phone
                                input#apt(type='number' val=last_name)
                            
                        .ui.fluid.green.button.sign_waiver
                            | Sign Waiver



template(name='checkin_button')
    unless healthclub_checkedin
        .ui.icon.button.checkin(title='Check In')
            // i.sign.in.icon
            +icolor name='internal' classes='ui image'
            //- |Check In
    if healthclub_checkedin
        .ui.button.checkout(title='Sign Out')
            // i.sign.out.large.icon
            +icolor name='exit-sign' classes='ui avatar image'
            |Check Out
    //- +rules_sign
    //- +guest_sign
    //- .ui.accordion
    //-     .title
    //-         .ui.inline.small.header
    //-             |Events
    //-             i.dropdown.icon
    //-     .content
    //-         .ui.feed
    //-             each log_events
    //-                 .event
    //-                     .label
    //-                         img.ui.image(src="{{c.url object.profile.image_id width=400 height=400 gravity='face' crop='fill'}}")
    //-                     .content
    //-                         .summary
    //-                             |#{body}
    //-                             .date
    //-                                 |#{when}
    //-                             if is_dev
    //-                                 +remove_button
