template(name='profile_layout')
    .layout.context
        +topnav
        .ui.bottom.attached.basic.segment.pushable
            +leftbar
            // +topbar
            +rightbar
            .pusher
                #main
                    with user_from_username_param
                        .ui.padded.stackable.grid
                            .row
                                .four.wide.column
                                    h1.ui.center.aligned.header
                                        | #{user.first_name}
                                        | #{user.last_name}
                                        | #{user.username}                        
                                    if image_id
                                        a.item(href="/u/#{user_from_username_param.username}/about")
                                            img.ui.medium.image(src="{{c.url image_id height=400 crop='limit'}}")
                                    //- if profile.image_id
                                    //-     a.item(href="/u/#{user_from_username_param.username}/about")
                                    //-         img.ui.medium.image(src="{{c.url profile.image_id height=400 crop='limit'}}")
                                    // if current_user
                                    if is_admin
                                        .ui.vertical.fluid.menu
                                            a.item(href="/u/#{user_from_username_param.username}/edit")
                                                i.settings.icon
                                                | Settings
                                        
                                                
                                    .ui.vertical.large.fluid.menu
                                        a.item(href="/u/#{user_from_username_param.username}/about" class="{{isActiveRoute regex='user_about'}}")
                                            i.info.icon
                                            .content    
                                                .header
                                                    |About
                                        a.item(href="/u/#{user_from_username_param.username}/connections" class="{{isActiveRoute regex='user_connections'}}")
                                            i.fork.icon
                                            .content    
                                                .header
                                                    |Connections
                                        a.item(href="/u/#{user_from_username_param.username}/messages" class="{{isActiveRoute regex='user_messages'}}")
                                            i.mail.icon
                                            .content    
                                                .header
                                                    |Messages
                                        a.item(href="/u/#{user_from_username_param.username}/notifications" class="{{isActiveRoute regex='user_notifications'}}")
                                            i.bullhorn.icon
                                            .content    
                                                .header
                                                    |Notifications
                                        a.item(href="/u/#{user_from_username_param.username}/chat" class="{{isActiveRoute regex='user_chat'}}")
                                            i.chat.icon
                                            .content    
                                                .header
                                                    |Chat
                                        a.item(href="/u/#{user_from_username_param.username}/stripe" class="{{isActiveRoute regex='user_stripe'}}")
                                            i.stripe.icon
                                            .content    
                                                .header
                                                    |Stripe
                                        a.item(href="/u/#{user_from_username_param.username}/tags" class="{{isActiveRoute regex='user_tags'}}")
                                            i.tags.icon
                                            .content    
                                                .header
                                                    |Tags
                                        a.item(href="/u/#{user_from_username_param.username}/contact" class="{{isActiveRoute regex='user_contact'}}")
                                            i.phone.icon
                                            .content    
                                                .header
                                                    |Contact
                                    if user_schemas
                                        .ui.vertical.large.fluid.menu
                                            each user_schemas
                                                a.item.set_delta_schema(href="/u/#{user_from_username_param.username}/s/#{slug}" class="{{isActiveRoute regex=group}}")
                                                    i.icon(class=icon)
                                                    .content    
                                                        .header
                                                            |#{plural}
                                    if is_user
                                        .ui.vertical.fluid.menu
                                            a.item.logout(href='#')
                                                i.sign.out.icon
                                                |Log Out
                                    .ui.segment
                                        .ui.header
                                            |#{user.points} Following
                                        .ui.header
                                            |#{user.points} Followers
                                        .ui.header
                                            i.heartbeat.icon
                                            |#{user.points} Karma
                                        .ui.header 
                                            i.user.shield.icon
                                            |Roles
                                        each roles
                                            .ui.label #{this}
                                .twelve.wide.column.scrolling
                                    +yield
            +footer
            
            
template(name='user_section')
    +user_delta
    // +Template.dynamic template=user_section_template

template(name='user_about')
    .profile-banner-container
        img.ui.fluid.rounded.image(src="{{c.url banner_image_id width=1000 height=300 crop='crop'}}")

    .ui.padded.stackable.grid
        .eight.wide.column
            .ui.list
                .ui.item First Name 
                    strong #{first_name}
                .ui.item Last Name 
                    strong #{last_name}
                .ui.item Address 
                    strong #{address}
                .ui.item Unit # 
                    strong #{apt_number}
                .ui.item Building # 
                    strong #{building_number}
                .ui.item Start Date 
                    strong #{start_date}
                .ui.item Lease Expiration 
                    strong #{lease_expiration}
                .ui.item Telephone 
                    strong #{telephone}
                //- .ui.item Email 
                //-     strong #{email}
                .ui.item Owner 
                    strong #{owner}
                .ui.small.header 
                    i.linkify.icon
                    |Link
                a(href=profile.website target='_blank') #{website}
            each emails
                .ui.label #{address}
            //- +textarea_view key='bio' label='Bio' collection='users' icon='align-left'
            +user_bookmarks    
        .eight.wide.column
            +user_feed
    if current_user
        +role_switcher
    +user_tags
    






template(name='user_people')
    +user_following
    +follow_user

template(name='user_feed')
    .ui.secondary.segment
        .ui.header 
            i.rss.icon
            |Activity Feed
        if current_user
            .ui.fluid.input
                input(type='text' placeholder='Share something...')
    .ui.secondary.segment
        +user_wall
                
template(name='user_bookmarks')
    .ui.header 
        i.bookmark.icon
        |Bookmarks
            
                
template(name='user_unread')
    .ui.secondary.segment
        .ui.header 
            i.new.icon
            |Unread Messages
                
                
    
            
template(name='user_array_list')
    .ui.list
        each users
            .item
                +user_info
            
            
            
template(name='role_switcher')
    i.user.shield.icon(title='Role Switcher')
    if is_eric
        +user_array_element_toggle key='roles' value='dev' user=currentUser
    +user_array_element_toggle key='roles' value='admin' user=currentUser
    +user_array_element_toggle key='roles' value='user' user=currentUser
    +user_array_element_toggle key='roles' value='staff' user=currentUser
    +user_array_element_toggle key='roles' value='resident' user=currentUser
    +user_array_element_toggle key='roles' value='owner' user=currentUser


template(name='site_switcher')
    .ui.secondary.segment
        .ui.header 
            i.clone.icon
            |Site Switcher
        each my_sites
            +user_string_toggle key='current_site' value=slug  
            
template(name='user_array_element_toggle')
    .ui.button.toggle_element(class=user_array_element_toggle_class)
        |#{value}

template(name='user_string_toggle')
    .ui.button.toggle_element(class=user_string_element_toggle_class)
        |#{value}
