template(name='user_tags')
    .ui.inline.header 
        i.tags.icon
        |User Tags
    each tags
        .ui.basic.label 
            if is_user
                i.remove.link.icon.remove_tag
            |#{this}
    // .ui.fluid.input
    //     input.tag_user(type='text' placeholder='Tag yourself...')
    // .ui.fluid.input
    //     input(type='text' placeholder="Tag #{user_from_username_param.name}")
            
            
template(name='user_notifications')
    .ui.inline.header 
        i.bullhorn.icon
        |User Notifications
    +user_following
    +follow_user
    
template(name='user_following')    
    .ui.secondary.segment
        .ui.header 
            i.human.icon
            |Following
        +user_array_list user=user_from_username_param array='following_ids'
          
                    

template(name='follow_user')    
    .ui.secondary.segment
        unless current_user
            a.toggle_follow_user(href='#' title='Follow User')
                i.renew.icon
        else
            i.renew.icon
        |Followed By
        +user_array_list user=user_from_username_param array='followed_by_ids'
                

template(name='user_wall')
    .ui.header
        i.edit.icon
        |Wall
    if currentUser
        .ui.fluid.icon.input
            i.plus.icon
            input.add_wall_post(type='text' placeholder='Add Note...')
    .ui.comments
        each user_posts
            .comment
                //- .avatar
                .content
                    a.author(href='#') #{author.first_name} #{author.last_name}
                    .metadata
                        span.date #{when}
                    .text.large120 #{body}
                    .actions
                        i.remove.link.icon.remove_comment(title='Vote Down')
                        i.thumbs.up.link.icon.vote_up_comment(title='Vote Up')
                        |#{points}
                        i.message.link.icon.mark_comment_read(title='Mark Read')
